Repository tinymce/tinymce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tinymce/tinymce-reviewers, @noxuhax, @tinymce/integrations-team

TINY-10639: Link Jira
  modules/tinymce/src/plugins/nonbreaking/test/ts/webdriver/NonbreakingTypingTest.ts
  modules/tinymce/src/plugins/nonbreaking/test/ts/webdriver/NonbreakingWrapTypingTest.ts
Owners: @tinymce/tinymce-reviewers

Update .changes/unreleased/tinymce-TINY-9932-2024-03-06.yaml
  .changes/unreleased/tinymce-TINY-9932-2024-03-06.yaml
Owners: @tinymce/tinymce-reviewers

TINY-10639: Fix dragster test in Chrome
  modules/dragster/src/test/ts/browser/datatransfer/DataTransferTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9932: Update failed test
  modules/dragster/src/test/ts/browser/datatransfer/DataTransferTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9932: Fix space key behavior in keyboard tests
  modules/tinymce/src/core/test/ts/webdriver/keyboard/SpaceKeyTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10639: Fix Dragster test
  modules/dragster/src/test/ts/browser/datatransfer/DataTransferTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10639: Fix Firefox failure with inline blocks
  modules/tinymce/src/core/test/ts/webdriver/keyboard/SpaceKeyTest.ts
Owners: @tinymce/tinymce-reviewers

Revert "TINY-10639: Fix Firefox failure with inline blocks"
  modules/tinymce/src/core/test/ts/webdriver/keyboard/SpaceKeyTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10639: Update Safari to use latest version
  Jenkinsfile
Owners: @tinymce/tinymce-reviewers

TINY-10639: Skip failing tests in firefox for TINY-10742
  modules/tinymce/src/core/test/ts/webdriver/keyboard/SpaceKeyTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10639: Fix clearData new behaviour on chrome
  modules/dragster/src/test/ts/browser/datatransfer/DataTransferTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10639: Skip clearData test for TINY-10743
  modules/dragster/src/test/ts/browser/datatransfer/DataTransferTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10639: Fix skipping tests
  modules/tinymce/src/core/test/ts/webdriver/keyboard/SpaceKeyTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10639: Skipping failing tests to be addressed in TINY-10737
  modules/tinymce/src/plugins/nonbreaking/test/ts/webdriver/NonbreakingTypingTest.ts
  modules/tinymce/src/plugins/nonbreaking/test/ts/webdriver/NonbreakingWrapTypingTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10590: Tree dom structure could confuse block merge boundary detection
  .changes/unreleased/tinymce-TINY-10590-2024-03-06.yaml
  modules/tinymce/src/core/main/ts/delete/BlockMergeBoundary.ts
  modules/tinymce/src/core/test/ts/browser/delete/BlockMergeBoundaryTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10639: Update Jenkins to Safari 17 and fix test failures (#9473)
  Jenkinsfile
  modules/dragster/src/test/ts/browser/datatransfer/DataTransferTest.ts
  modules/sugar/src/test/ts/browser/SelectionRangeTest.ts
  modules/tinymce/src/core/test/ts/browser/FormatterRemoveTest.ts
  modules/tinymce/src/core/test/ts/browser/annotate/AnnotationStylingTest.ts
  modules/tinymce/src/core/test/ts/browser/content/EditorContentTest.ts
  modules/tinymce/src/core/test/ts/browser/content/EditorGetContentRawTest.ts
  modules/tinymce/src/core/test/ts/browser/content/InsertContentTest.ts
  modules/tinymce/src/core/test/ts/browser/dom/SelectionTest.ts
  modules/tinymce/src/core/test/ts/browser/dom/TrimBodyTest.ts
  modules/tinymce/src/core/test/ts/browser/html/DomParserTest.ts
  modules/tinymce/src/core/test/ts/browser/html/SanitizationTest.ts
  modules/tinymce/src/core/test/ts/webdriver/keyboard/SpaceKeyTest.ts
  modules/tinymce/src/plugins/accordion/test/ts/webdriver/AccordionBackspaceDeleteTest.ts
  modules/tinymce/src/plugins/nonbreaking/test/ts/webdriver/NonbreakingTypingTest.ts
  modules/tinymce/src/plugins/nonbreaking/test/ts/webdriver/NonbreakingWrapTypingTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10602: Work around Safari bug with 404 responses to https requests returning an empty `statusText`
  modules/jax/src/main/ts/ephox/jax/core/ResponseError.ts
Owners: @tinymce/tinymce-reviewers

TINY-10602: Disable lerna version on TinyMCE
  lerna.json
Owners: @tinymce/tinymce-reviewers

TINY-10602: Disable noUnusedLocals. Eslint picks that up, it's too frustrating to be a compiler error
  tsconfig.shared.json
Owners: @tinymce/tinymce-reviewers

TINY-10602: Add missing jax path to root tsconfig
  tsconfig.json
Owners: @tinymce/tinymce-reviewers

TINY-10602: Cleanup
  modules/tinymce/src/core/test/ts/browser/content/EditorGetContentRawTest.ts
  modules/tinymce/src/core/test/ts/browser/content/InsertContentTest.ts
  modules/tinymce/src/core/test/ts/browser/dom/TrimBodyTest.ts
  modules/tinymce/src/core/test/ts/browser/html/SanitizationTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10754: Updated the license message
  modules/tinymce/src/core/main/ts/init/LicenseKeyValidation.ts
  modules/tinymce/src/core/test/ts/browser/init/LicenseKeyValidationTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10754: Updated the license message
  modules/tinymce/src/core/main/ts/init/LicenseKeyValidation.ts
  modules/tinymce/src/core/test/ts/browser/init/LicenseKeyValidationTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10754: Updated the license message (#9477)
  modules/tinymce/src/core/main/ts/init/LicenseKeyValidation.ts
  modules/tinymce/src/core/test/ts/browser/init/LicenseKeyValidationTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10712: Temporary rollback of package.json
  modules/tinymce/package.json
Owners: @tinymce/tinymce-reviewers

TINY-10712: Update 7.0 changelog
  .changes/tinymce/7.0.0.md
  .changes/unreleased/tinymce-TINY-10436-2024-02-27.yaml
Owners: @tinymce/tinymce-reviewers

TINY-10712: Revert temporary rollback of package.json
  modules/tinymce/package.json
Owners: @tinymce/tinymce-reviewers

TINY-10712: Changelogs
  .changes/tinymce/7.0.0.md
  modules/acid/CHANGELOG.md
  modules/agar/CHANGELOG.md
  modules/alloy/CHANGELOG.md
  modules/boss/CHANGELOG.md
  modules/boulder/CHANGELOG.md
  modules/bridge/CHANGELOG.md
  modules/darwin/CHANGELOG.md
  modules/dragster/CHANGELOG.md
  modules/jax/CHANGELOG.md
  modules/katamari/CHANGELOG.md
  modules/mcagar/CHANGELOG.md
  modules/phoenix/CHANGELOG.md
  modules/polaris/CHANGELOG.md
  modules/porkbun/CHANGELOG.md
  modules/robin/CHANGELOG.md
  modules/sand/CHANGELOG.md
  modules/snooker/CHANGELOG.md
  modules/sugar/CHANGELOG.md
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team

TINY-10712: Tweaked changelog wording
  .changes/tinymce/7.0.0.md
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-9810: Update skin variable to adjust based on forced-colors option WIP
  modules/oxide/src/less/theme/components/toolbar-button/toolbar-button.less
  modules/oxide/src/less/theme/components/toolbar-button/toolbar-number-input.less
  modules/tinymce/src/core/main/ts/api/Options.ts
  modules/tinymce/src/themes/silver/main/ts/api/Options.ts
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9810: Update toolbar colour when windows is in high contrast mode
  modules/oxide/src/less/theme/components/toolbar-button/toolbar-button.less
  modules/oxide/src/less/theme/components/toolbar-button/toolbar-number-input.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-10370: cover `{$caret}` feature with tests
  modules/tinymce/src/core/test/ts/browser/content/InsertContentTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10590: Fixup to missed detail.
  modules/tinymce/src/core/main/ts/delete/BlockMergeBoundary.ts
  modules/tinymce/src/core/test/ts/browser/delete/BlockMergeBoundaryTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10715: Fix for Android Firefox autocompleter bug
  .changes/unreleased/tinymce-TINY-10715-2024-03-14.yaml
  modules/tinymce/src/core/main/ts/keyboard/Autocompleter.ts
Owners: @tinymce/tinymce-reviewers

TINY-10283: Added undo level to setContent
  .changes/unreleased/tinymce-TINY-10283-2024-03-14.yaml
  modules/tinymce/src/core/main/ts/content/SetContent.ts
  modules/tinymce/src/core/main/ts/undo/Operations.ts
  modules/tinymce/src/core/test/ts/browser/EditorRemovedApiTest.ts
  modules/tinymce/src/core/test/ts/browser/EditorUploadTest.ts
  modules/tinymce/src/core/test/ts/browser/FormatterApplyTest.ts
  modules/tinymce/src/core/test/ts/browser/FormatterRemoveTest.ts
  modules/tinymce/src/core/test/ts/browser/UndoManagerTest.ts
  modules/tinymce/src/core/test/ts/browser/caret/FirefoxFakeCaretBeforeTableTypeTest.ts
  modules/tinymce/src/core/test/ts/browser/content/EditorContentNotInitializedTest.ts
  modules/tinymce/src/core/test/ts/browser/content/EditorContentTest.ts
  modules/tinymce/src/core/test/ts/browser/delete/InlineBoundaryDeleteTest.ts
  modules/tinymce/src/core/test/ts/browser/dom/ControlSelectionTest.ts
  modules/tinymce/src/core/test/ts/browser/fmt/RemoveTrailingWhitespaceFormatTest.ts
  modules/tinymce/src/core/test/ts/browser/keyboard/ArrowKeysInlineBoundariesTest.ts
  modules/tinymce/src/core/test/ts/webdriver/paste/CopyAndPasteTest.ts
  modules/tinymce/src/models/dom/test/ts/browser/table/command/TableDeleteColumnTest.ts
  modules/tinymce/src/plugins/table/test/ts/browser/NoneditableRootTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/bespoke/SilverBespokeButtonsTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9810: Change fill to use `currentColour`
  modules/oxide/src/less/theme/components/toolbar-button/toolbar-button.less
  modules/oxide/src/less/theme/components/toolbar-button/toolbar-number-input.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-10370: create separate folder for InserContent related tests
  modules/tinymce/src/core/test/ts/browser/content/insert/CaretPlaceholderTest.ts
  modules/tinymce/src/core/test/ts/browser/content/insert/InsertContentCommandTest.ts
  modules/tinymce/src/core/test/ts/browser/content/insert/InsertContentTest.ts
  modules/tinymce/src/core/test/ts/browser/content/insert/InsertContentWebKitBugs.ts
  modules/tinymce/src/core/test/ts/browser/content/insert/InsertListTest.ts
  modules/tinymce/src/core/test/ts/browser/content/insert/InsertUnsanitizedContentTest.ts
  modules/tinymce/src/core/test/ts/browser/content/insert/SvgTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9810: lint fix
  modules/oxide/src/less/theme/components/toolbar-button/toolbar-number-input.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9810: Changed button background
  modules/oxide/src/less/theme/components/toolbar-button/toolbar-button.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9810: Update toolbar and status svg colour in forced colour mode
  modules/oxide/src/less/theme/components/statusbar/statusbar.less
  modules/oxide/src/less/theme/components/toolbar-button/toolbar-button.less
  modules/oxide/src/less/theme/components/toolbar-button/toolbar-select-button.less
  modules/oxide/src/less/theme/components/toolbar-button/toolbar-split-button.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

.github/CODEOWNERS:

* @tinymce/tinymce-reviewers

# Oxide changes should include the design team as well
/modules/oxide/ @tinymce/tinymce-reviewers @noxuhax
/modules/oxide-icons-default/ @tinymce/tinymce-reviewers @noxuhax

# Katamari changes should include the integrations team as well
/modules/katamari/ @tinymce/tinymce-reviewers @tinymce/integrations-team
