Repository tinymce/tinymce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tinymce/tinymce-reviewers, @noxuhax, @tinymce/integrations-team

TINY-9101: Using setContent instead of innerHTML - PR comments
  modules/tinymce/src/core/test/ts/browser/keyboard/EnterKeyCeFalseTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9101: Typo
  modules/tinymce/src/core/test/ts/browser/keyboard/EnterKeyCeFalseTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9101: Splitting native execCommand delete and editor execCommand delete
  modules/tinymce/src/core/main/ts/delete/DeleteCommands.ts
  modules/tinymce/src/core/main/ts/delete/DeleteUtils.ts
  modules/tinymce/src/core/main/ts/delete/InlineBoundaryDelete.ts
  modules/tinymce/src/core/main/ts/newline/InsertNewLine.ts
  modules/tinymce/src/core/test/ts/browser/keyboard/EnterKeyCeFalseTest.ts
  modules/tinymce/src/plugins/codesample/test/ts/webdriver/CodeSampleCopyAndPasteTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9101: Handling cef pre tags also
  modules/tinymce/src/core/main/ts/delete/DeleteCommands.ts
  modules/tinymce/src/core/main/ts/newline/NewLineAction.ts
  modules/tinymce/src/core/test/ts/browser/keyboard/EnterKeyCeFalseTest.ts
  modules/tinymce/src/plugins/codesample/test/ts/webdriver/CodeSampleCopyAndPasteTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9101: Allowing inserting newline based deletions to use deletion overrides (#8100)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/delete/DeleteCommands.ts
  modules/tinymce/src/core/main/ts/delete/DeleteUtils.ts
  modules/tinymce/src/core/main/ts/delete/InlineBoundaryDelete.ts
  modules/tinymce/src/core/main/ts/newline/InsertNewLine.ts
  modules/tinymce/src/core/main/ts/newline/NewLineAction.ts
  modules/tinymce/src/core/test/ts/browser/keyboard/EnterKeyCeFalseTest.ts
  modules/tinymce/src/plugins/codesample/test/ts/webdriver/CodeSampleCopyAndPasteTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9101: Additional changelog entry for differences in pressing Enter on pre elements
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-9106: Attempt to fix promotion button height difference between hidpi and regular screens (#8099)
  modules/oxide/src/less/theme/components/menubar/promotion.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9101: Additional changelog entry for differences in pressing Enter on pre elements (#8102)
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-9140: Fix editor.insertContent API not respecting no_events arg
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/content/ContentTypes.ts
  modules/tinymce/src/core/main/ts/content/InsertContent.ts
  modules/tinymce/src/core/test/ts/browser/content/EditorContentTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9141: Change merge tag background colors based on content-ui-darkmode less variable
  modules/oxide/src/less/theme/content/mergetags/mergetag.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9141: Change merge tag background colors based on content-ui-darkmode less variable (#8104)
  modules/oxide/src/less/theme/content/mergetags/mergetag.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

DOC-1790: changelog.md
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-9111: Revert changes for howselected nested noneditable element is formatted
  modules/tinymce/src/core/main/ts/fmt/ApplyFormat.ts
  modules/tinymce/src/core/main/ts/fmt/FormatUtils.ts
  modules/tinymce/src/core/test/ts/browser/fmt/FormatNoneditableTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9140: Fix `editor.insertContent` API not respecting the `no_events` arg (#8103)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/content/ContentTypes.ts
  modules/tinymce/src/core/main/ts/content/InsertContent.ts
  modules/tinymce/src/core/test/ts/browser/content/EditorContentTest.ts
Owners: @tinymce/tinymce-reviewers

DOC-1790: changelog.md
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

DOC-1790: changelog.md
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

DOC-1790: changelog.md
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

DOC-1790: changelog.md
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

DOC-1790: changelog.md
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

DOC-1790: changelog.md
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-9111: Revert changes for how selected nested noneditable element is formatted (#8105)
  modules/tinymce/src/core/main/ts/fmt/ApplyFormat.ts
  modules/tinymce/src/core/main/ts/fmt/FormatUtils.ts
  modules/tinymce/src/core/test/ts/browser/fmt/FormatNoneditableTest.ts
Owners: @tinymce/tinymce-reviewers

DOC-1790: changelog.md
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

Update modules/tinymce/CHANGELOG.md
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

DOC-1790: changelog.md
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

DOC-1790: Copy edits for the 6.2 changelog (#8106)
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-8787: Updated build.properties to merge `release/6.1` instead of `master`
  build.properties
Owners: @tinymce/tinymce-reviewers

TINY-8787: Updated build.properties to merge `master` instead of `develop`
  build.properties
Owners: @tinymce/tinymce-reviewers

TINY-8787: Prepare for TinyMCE 6.2.0 release
  SECURITY.md
  modules/agar/CHANGELOG.md
  modules/alloy/CHANGELOG.md
  modules/boulder/CHANGELOG.md
  modules/bridge/CHANGELOG.md
  modules/katamari/CHANGELOG.md
  modules/mcagar/CHANGELOG.md
  modules/sugar/CHANGELOG.md
  versions.txt
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team

Publish
  modules/acid/package.json
  modules/agar/package.json
  modules/alloy/package.json
  modules/boss/package.json
  modules/boulder/package.json
  modules/bridge/package.json
  modules/darwin/package.json
  modules/dragster/package.json
  modules/jax/package.json
  modules/katamari-assertions/package.json
  modules/katamari/package.json
  modules/mcagar/package.json
  modules/oxide-icons-default/package.json
  modules/oxide/package.json
  modules/phoenix/package.json
  modules/polaris/package.json
  modules/porkbun/package.json
  modules/robin/package.json
  modules/sand/package.json
  modules/snooker/package.json
  modules/sugar/package.json
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team, @noxuhax

TINY-8787: Prepare for TinyMCE 6.2.0 release
  SECURITY.md
  modules/agar/CHANGELOG.md
  modules/alloy/CHANGELOG.md
  modules/boulder/CHANGELOG.md
  modules/bridge/CHANGELOG.md
  modules/katamari/CHANGELOG.md
  modules/mcagar/CHANGELOG.md
  modules/sugar/CHANGELOG.md
  versions.txt
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team

Publish
  modules/acid/package.json
  modules/agar/package.json
  modules/alloy/package.json
  modules/boss/package.json
  modules/boulder/package.json
  modules/bridge/package.json
  modules/darwin/package.json
  modules/dragster/package.json
  modules/jax/package.json
  modules/katamari-assertions/package.json
  modules/katamari/package.json
  modules/mcagar/package.json
  modules/oxide-icons-default/package.json
  modules/oxide/package.json
  modules/phoenix/package.json
  modules/polaris/package.json
  modules/porkbun/package.json
  modules/robin/package.json
  modules/sand/package.json
  modules/snooker/package.json
  modules/sugar/package.json
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team, @noxuhax

Publish
  modules/acid/package.json
  modules/agar/package.json
  modules/alloy/package.json
  modules/boss/package.json
  modules/boulder/package.json
  modules/bridge/package.json
  modules/darwin/package.json
  modules/dragster/package.json
  modules/jax/package.json
  modules/katamari-assertions/package.json
  modules/katamari/package.json
  modules/mcagar/package.json
  modules/oxide-icons-default/package.json
  modules/oxide/package.json
  modules/phoenix/package.json
  modules/polaris/package.json
  modules/porkbun/package.json
  modules/robin/package.json
  modules/sand/package.json
  modules/snooker/package.json
  modules/sugar/package.json
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team, @noxuhax

TINY-8787: Prepare for TinyMCE 6.3 development
  build.properties
  modules/tinymce/package.json
Owners: @tinymce/tinymce-reviewers

TINY-9108: Fix overflow on header in inline mode for tinymce-5 skin
  modules/oxide/src/less/skins/ui/tinymce-5/skin.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9125: Prototyping manual tooltips. WIP
  modules/alloy/docs/behaviours/Tooltipping.adoc
  modules/alloy/src/main/ts/ephox/alloy/api/Main.ts
  modules/alloy/src/main/ts/ephox/alloy/behaviour/tooltipping/ActiveTooltipping.ts
  modules/alloy/src/main/ts/ephox/alloy/behaviour/tooltipping/TooltippingSchema.ts
  modules/alloy/src/main/ts/ephox/alloy/behaviour/tooltipping/TooltippingTypes.ts
  modules/alloy/src/test/ts/browser/behaviour/TooltippingTest.ts
  modules/tinymce/src/themes/silver/demo/html/demo/demo.html
  modules/tinymce/src/themes/silver/demo/ts/demo/ButtonSetupDemo.ts
  modules/tinymce/src/themes/silver/main/ts/backstage/Backstage.ts
  modules/tinymce/src/themes/silver/main/ts/backstage/TooltipsBackstage.ts
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/SizeInput.ts
  modules/tinymce/src/themes/silver/main/ts/ui/dropdown/CommonDropdown.ts
  modules/tinymce/src/themes/silver/main/ts/ui/general/Button.ts
  modules/tinymce/src/themes/silver/main/ts/ui/general/Tooltips.ts
  modules/tinymce/src/themes/silver/main/ts/ui/menus/item/build/AutocompleteMenuItem.ts
  modules/tinymce/src/themes/silver/main/ts/ui/menus/item/build/CardMenuItem.ts
  modules/tinymce/src/themes/silver/main/ts/ui/menus/item/build/ChoiceItem.ts
  modules/tinymce/src/themes/silver/main/ts/ui/menus/item/build/NestedMenuItem.ts
  modules/tinymce/src/themes/silver/main/ts/ui/menus/item/build/NormalMenuItem.ts
  modules/tinymce/src/themes/silver/main/ts/ui/menus/item/build/ToggleMenuItem.ts
  modules/tinymce/src/themes/silver/main/ts/ui/menus/item/structure/ItemStructure.ts
  modules/tinymce/src/themes/silver/main/ts/ui/statusbar/ResizeHandle.ts
  modules/tinymce/src/themes/silver/main/ts/ui/toolbar/button/ButtonEvents.ts
  modules/tinymce/src/themes/silver/main/ts/ui/toolbar/button/ToolbarButtons.ts
  modules/tinymce/src/themes/silver/main/ts/ui/window/SilverDialogHeader.ts
  modules/tinymce/src/themes/silver/test/ts/module/TestProviders.ts
Owners: @tinymce/tinymce-reviewers

TINY-8948: changelog entry
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-9108: Changelog entry
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-8701: Ensure fullscreen fires a ResizeEditor event (#7819)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/api/dom/ControlSelection.ts
  modules/tinymce/src/plugins/fullscreen/main/ts/api/Events.ts
  modules/tinymce/src/plugins/fullscreen/test/ts/browser/FullScreenPluginTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8978: Review fixes
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/plugins/fullscreen/test/ts/browser/FullScreenPluginTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9098: Fixed test that was failing on Chrome v105
  modules/tinymce/src/plugins/table/test/ts/browser/settings/TableGridFalseTest.ts
Owners: @tinymce/tinymce-reviewers

.github/CODEOWNERS:

* @tinymce/tinymce-reviewers

# Oxide changes should include the design team as well
/modules/oxide/ @tinymce/tinymce-reviewers @noxuhax
/modules/oxide-icons-default/ @tinymce/tinymce-reviewers @noxuhax

# Katamari changes should include the integrations team as well
/modules/katamari/ @tinymce/tinymce-reviewers @tinymce/integrations-team
