Repository tinymce/tinymce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tinymce/tinymce-reviewers, @noxuhax, @tinymce/integrations-team

TINY-8920: Replace test with webdriver test
  modules/tinymce/src/plugins/lists/test/ts/webdriver/ContentEditableFalseTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8920: Prevent mceListUpdate command on non-editable list
  modules/tinymce/src/plugins/lists/main/ts/actions/Update.ts
Owners: @tinymce/tinymce-reviewers

TINY-8920: Implement review suggestions
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/api/dom/DOMUtils.ts
Owners: @tinymce/tinymce-reviewers

TINY-8920: Refactor and add tests for nested lists and mceListUpdate command
  modules/tinymce/src/plugins/lists/test/ts/browser/ContentEditableFalseActionsTest.ts
  modules/tinymce/src/plugins/lists/test/ts/webdriver/ContentEditableFalseTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8920: Update selectors
  modules/tinymce/src/plugins/lists/test/ts/webdriver/ContentEditableFalseTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8920: Fix test errors
  modules/tinymce/src/plugins/lists/test/ts/webdriver/ContentEditableFalseTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8920: Even more fixes
  modules/tinymce/src/plugins/lists/test/ts/browser/ContentEditableFalseActionsTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8920: Fix selectors
  modules/tinymce/src/plugins/lists/test/ts/webdriver/ContentEditableFalseTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8920: Fix Errors
  modules/tinymce/src/plugins/lists/test/ts/browser/ContentEditableFalseActionsTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8920: Fix type-check errors
  modules/tinymce/src/plugins/lists/test/ts/webdriver/ContentEditableFalseTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8920: Further attempt at fixing webdriver test
  modules/tinymce/src/plugins/lists/test/ts/webdriver/ContentEditableFalseTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8920: Update test selector
  modules/tinymce/src/plugins/lists/test/ts/webdriver/ContentEditableFalseTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8920: Fix more type-check errors
  modules/tinymce/src/plugins/lists/test/ts/webdriver/ContentEditableFalseTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8920: Fix strict typing
  modules/tinymce/src/plugins/lists/main/ts/core/Util.ts
Owners: @tinymce/tinymce-reviewers

TINY-8920: Fix type errors
  modules/tinymce/src/plugins/lists/main/ts/core/Util.ts
Owners: @tinymce/tinymce-reviewers

TINY-8920: Fix selector
  modules/tinymce/src/plugins/lists/test/ts/webdriver/ContentEditableFalseTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8775: Reduce spaces in urlinput when they should not be there.
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/UrlInput.ts
  modules/tinymce/src/themes/silver/test/ts/headless/components/urlinput/UrlInputTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8840: Minor fixup
  modules/tinymce/src/themes/silver/test/ts/browser/editor/header/PromotionTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8775: Reduce spaces in urlinput when they should not be there.
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/UrlInput.ts
  modules/tinymce/src/themes/silver/test/ts/webdriver/components/urlinput/UrlInputTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8920: Revert changes
  modules/tinymce/src/core/main/ts/api/dom/DOMUtils.ts
  modules/tinymce/src/core/main/ts/newline/InsertBlock.ts
  modules/tinymce/src/core/main/ts/newline/NewLineAction.ts
  modules/tinymce/src/core/main/ts/newline/NewLineUtils.ts
Owners: @tinymce/tinymce-reviewers

TINY-8920: Clean indentation
  modules/tinymce/src/plugins/lists/main/ts/actions/Indendation.ts
Owners: @tinymce/tinymce-reviewers

TINY-8840: Added new SPAP promotion to the editor (#8027)
  modules/mcagar/CHANGELOG.md
  modules/mcagar/src/main/ts/ephox/mcagar/api/McEditor.ts
  modules/mcagar/src/main/ts/ephox/mcagar/loader/Loader.ts
  modules/oxide/src/less/theme/components/editor/editor.less
  modules/oxide/src/less/theme/components/menubar/menubar.less
  modules/oxide/src/less/theme/components/menubar/promotion.less
  modules/oxide/src/less/theme/components/toolbar/toolbar.less
  modules/oxide/src/less/theme/theme.less
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/api/OptionTypes.ts
  modules/tinymce/src/core/test/ts/browser/init/EditorInitializationTest.ts
  modules/tinymce/src/themes/silver/main/ts/Render.ts
  modules/tinymce/src/themes/silver/main/ts/api/Options.ts
  modules/tinymce/src/themes/silver/main/ts/ui/general/OuterContainer.ts
  modules/tinymce/src/themes/silver/main/ts/ui/promotion/Promotion.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/header/PromotionTest.ts
  versions.txt
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-8874: bump up katamari version and fix tests
  modules/katamari/CHANGELOG.md
  modules/katamari/package.json
  modules/tinymce/src/core/test/ts/browser/DragDropOverridesTest.ts
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team

TINY-8874: add assertions around time in RepeatableTest
  modules/katamari/src/test/ts/browser/RepeatableTest.ts
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team

TINY-8874: rollback changes to package.json
  modules/katamari/package.json
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team

Update modules/katamari/CHANGELOG.md
  modules/katamari/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team

TINY-8874: fix indefinte scrolling
  modules/tinymce/src/core/main/ts/DragDropOverrides.ts
Owners: @tinymce/tinymce-reviewers

TINY-8874: make changes as per review
  modules/tinymce/src/core/test/ts/browser/DragDropOverridesTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8920: New editable list logic
  modules/tinymce/src/plugins/advlist/main/ts/ui/Buttons.ts
  modules/tinymce/src/plugins/lists/main/ts/actions/Indendation.ts
  modules/tinymce/src/plugins/lists/main/ts/actions/ToggleList.ts
  modules/tinymce/src/plugins/lists/main/ts/actions/Update.ts
  modules/tinymce/src/plugins/lists/main/ts/core/Delete.ts
  modules/tinymce/src/plugins/lists/main/ts/core/Util.ts
  modules/tinymce/src/plugins/lists/main/ts/ui/Dialog.ts
Owners: @tinymce/tinymce-reviewers

TINY-8920: Fix Changelog
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-8920: Update isEditableList logic
  modules/tinymce/src/plugins/advlist/main/ts/core/ListUtils.ts
  modules/tinymce/src/plugins/advlist/main/ts/ui/Buttons.ts
  modules/tinymce/src/plugins/lists/main/ts/core/Util.ts
Owners: @tinymce/tinymce-reviewers

TINY-8920: Refactor tests
  modules/tinymce/src/plugins/lists/test/ts/browser/ContentEditableFalseActionsTest.ts
  modules/tinymce/src/plugins/lists/test/ts/webdriver/ContentEditableFalseTest.ts
Owners: @tinymce/tinymce-reviewers

Update modules/tinymce/tools/docs/tinymce.EditorManager.js
  modules/tinymce/tools/docs/tinymce.EditorManager.js
Owners: @tinymce/tinymce-reviewers

TINY-8591: Corrected whitespace
  modules/tinymce/tools/docs/tinymce.EditorManager.js
Owners: @tinymce/tinymce-reviewers

TINY-8920: Improve Indentation and tests
  modules/tinymce/src/plugins/advlist/main/ts/core/ListUtils.ts
  modules/tinymce/src/plugins/lists/main/ts/actions/Indendation.ts
  modules/tinymce/src/plugins/lists/main/ts/core/Delete.ts
  modules/tinymce/src/plugins/lists/main/ts/core/Util.ts
  modules/tinymce/src/plugins/lists/test/ts/browser/ContentEditableFalseActionsTest.ts
  modules/tinymce/src/plugins/lists/test/ts/webdriver/ContentEditableFalseTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8591: Add EditorManager page to documentation (#8034)
  modules/tinymce/src/core/main/ts/api/EditorManager.ts
  modules/tinymce/tools/docs/tinymce.EditorManager.js
  modules/tinymce/tools/docs/tinymce.js
Owners: @tinymce/tinymce-reviewers

TINY-8882: Replaced feature request template with a link to Product Board (#8047)
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @tinymce/tinymce-reviewers

TINY-8920: Improved Tests
  modules/tinymce/src/plugins/lists/test/ts/browser/ContentEditableFalseActionsTest.ts
  modules/tinymce/src/plugins/lists/test/ts/webdriver/ContentEditableFalseTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8920: Fix type errors
  modules/tinymce/src/plugins/lists/test/ts/browser/ContentEditableFalseActionsTest.ts
  modules/tinymce/src/plugins/lists/test/ts/webdriver/ContentEditableFalseTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8920: Moved interfaces
  modules/tinymce/src/plugins/lists/test/ts/browser/ContentEditableFalseActionsTest.ts
  modules/tinymce/src/plugins/lists/test/ts/webdriver/ContentEditableFalseTest.ts
Owners: @tinymce/tinymce-reviewers

.github/CODEOWNERS:

* @tinymce/tinymce-reviewers

# Oxide changes should include the design team as well
/modules/oxide/ @tinymce/tinymce-reviewers @noxuhax
/modules/oxide-icons-default/ @tinymce/tinymce-reviewers @noxuhax

# Katamari changes should include the integrations team as well
/modules/katamari/ @tinymce/tinymce-reviewers @tinymce/integrations-team
