Repository tinymce/tinymce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran, @lostkeys, @noxuhax, @tinymce/integrations-team

TINY-8534: Added example test case to ensure the relevant classes are added (#7880)
  modules/bridge/src/main/ts/ephox/bridge/components/dialog/Iframe.ts
  modules/tinymce/src/themes/silver/test/ts/headless/components/iframe/IframeTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8572: Typo
  modules/oxide/src/less/theme/globals/global-variables.less
Owners: @tinymce/editor-platform-team, @lostkeys, @noxuhax, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8731: Add tests for pAction variants
  modules/agar/src/main/ts/ephox/agar/api/RealMouse.ts
  modules/agar/src/test/ts/webdriver/RealMouseTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-7847: Added new parser/serializer remove filter APIs (#7878)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/api/dom/Serializer.ts
  modules/tinymce/src/core/main/ts/api/html/DomParser.ts
  modules/tinymce/src/core/main/ts/dom/DomSerializerImpl.ts
  modules/tinymce/src/core/main/ts/html/FilterRegistry.ts
  modules/tinymce/src/core/test/ts/browser/dom/SerializerTest.ts
  modules/tinymce/src/core/test/ts/browser/html/DomParserTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

Added iframeTemplateCallback (#7735)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/plugins/media/main/ts/api/Options.ts
  modules/tinymce/src/plugins/media/main/ts/core/DataToHtml.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8684: Register option and add template callback tests
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/plugins/media/main/ts/api/Options.ts
  modules/tinymce/src/plugins/media/main/ts/core/DataToHtml.ts
  modules/tinymce/src/plugins/media/test/ts/browser/DataToHtmlTest.ts
  modules/tinymce/src/plugins/media/test/ts/browser/SubmitTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

fix:Cannot focus at the end of a line with only a few spaces
  modules/tinymce/src/core/main/ts/selection/SelectionUtils.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8684: Register option and add template callback tests
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/plugins/media/main/ts/api/Options.ts
  modules/tinymce/src/plugins/media/main/ts/core/DataToHtml.ts
  modules/tinymce/src/plugins/media/test/ts/browser/DataToHtmlTest.ts
  modules/tinymce/src/plugins/media/test/ts/browser/SubmitTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

Added iframeTemplateCallback (#7735)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/plugins/media/main/ts/api/Options.ts
  modules/tinymce/src/plugins/media/main/ts/core/DataToHtml.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8534: Add transparent prop to dialog iframe component (#7683)
  modules/bridge/src/main/ts/ephox/bridge/components/dialog/Iframe.ts
  modules/oxide/src/less/theme/components/dialog/dialog.less
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/plugins/preview/main/ts/ui/Dialog.ts
  modules/tinymce/src/plugins/template/main/ts/ui/Dialog.ts
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/IFrame.ts
  modules/tinymce/src/themes/silver/test/ts/headless/components/iframe/IframeTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran, @lostkeys, @noxuhax

TINY-7719: preserve `pre` format on copy and paste (#7859)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/content/InsertContentImpl.ts
  modules/tinymce/src/core/main/ts/dom/ElementType.ts
  modules/tinymce/src/core/main/ts/selection/FragmentReader.ts
  modules/tinymce/src/core/test/ts/webdriver/paste/CopyAndPasteTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8458: - Corrected behaviour of InsertParagraph with newline_behavior set. - Fix InsertLineBreak bug where it did not delete selection.
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/api/commands/NewlineCommands.ts
  modules/tinymce/src/core/main/ts/newline/InsertBlock.ts
  modules/tinymce/src/core/main/ts/newline/InsertBr.ts
  modules/tinymce/src/core/main/ts/newline/InsertNewLine.ts
  modules/tinymce/src/core/test/ts/browser/api/commands/NewlineCommandsTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8458: Add missing changelog entry
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8458: Switch from module object to export const
  modules/tinymce/src/core/main/ts/api/commands/NewlineCommands.ts
  modules/tinymce/src/core/main/ts/newline/InsertBlock.ts
  modules/tinymce/src/core/main/ts/newline/InsertBr.ts
  modules/tinymce/src/core/main/ts/newline/InsertNewLine.ts
  modules/tinymce/src/core/test/ts/browser/newline/InsertBrTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8572: Fix typo
  modules/oxide/src/less/theme/components/menu/menu.less
Owners: @tinymce/editor-platform-team, @lostkeys, @noxuhax, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

Update modules/tinymce/CHANGELOG.md
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8572: Fix incorrect word wrapping in menu dropdowns (#7758)
  modules/oxide/src/less/theme/components/menu/menu.less
  modules/oxide/src/less/theme/globals/global-variables.less
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @lostkeys, @noxuhax, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8579: Adding text to a separate element to make things work more uniformly.
  modules/tinymce/src/core/main/ts/content/GetContentImpl.ts
  modules/tinymce/src/core/test/ts/browser/content/EditorContentTest.ts
  modules/tinymce/src/core/test/ts/browser/content/EditorGetContentTextFormatTest.ts
  modules/tinymce/src/core/test/ts/browser/init/EditorInitializationTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8458: Fix newline commands (#7884)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/api/commands/NewlineCommands.ts
  modules/tinymce/src/core/main/ts/newline/InsertBlock.ts
  modules/tinymce/src/core/main/ts/newline/InsertBr.ts
  modules/tinymce/src/core/main/ts/newline/InsertNewLine.ts
  modules/tinymce/src/core/test/ts/browser/api/commands/NewlineCommandsTest.ts
  modules/tinymce/src/core/test/ts/browser/newline/InsertBrTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8731: switch test to bdd style
  modules/agar/src/test/ts/webdriver/RealMouseTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8731: fix test according to code review
  modules/agar/src/test/ts/webdriver/RealMouseTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8588: CEF elements wrapped in elements were not accounted for.
  modules/tinymce/src/core/main/ts/keyboard/Nbsps.ts
  modules/tinymce/src/core/test/ts/browser/keyboard/SpaceKeyTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8731: fix failing test on safari
  modules/agar/src/test/ts/webdriver/RealMouseTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

.github/CODEOWNERS:

* @tinymce/editor-platform-team @spocke @lnewson @ltrouton @HAFRMO @tiny-ben-tran

# Oxide changes should include the design team as well
/modules/oxide/ @tinymce/editor-platform-team @lostkeys @noxuhax @spocke @lnewson @ltrouton @HAFRMO @tiny-ben-tran
/modules/oxide-icons-default/ @tinymce/editor-platform-team @lostkeys @noxuhax @spocke @lnewson @ltrouton @HAFRMO @tiny-ben-tran

# Katamari changes should include the integrations team as well
/modules/katamari/ @tinymce/editor-platform-team @tinymce/integrations-team @spocke @lnewson @ltrouton @HAFRMO @tiny-ben-tran
