Repository tinymce/tinymce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tinymce/tinymce-reviewers, @noxuhax, @tinymce/integrations-team

TINY-10712: removed all versions from version.txt
  versions.txt
Owners: @tinymce/tinymce-reviewers

TINY-10712: Updated build.properties
  build.properties
Owners: @tinymce/tinymce-reviewers

TINY-10712: Updated build.properties
  build.properties
Owners: @tinymce/tinymce-reviewers

TINY-10712: Prepare for TinyMCE 7.1.x development
  modules/tinymce/package.json
Owners: @tinymce/tinymce-reviewers

TINY-10712: updated security.md
  SECURITY.md
Owners: @tinymce/tinymce-reviewers

TINY-10712: removed all versions from version.txt
  versions.txt
Owners: @tinymce/tinymce-reviewers

Publish
  modules/acid/package.json
  modules/agar/package.json
  modules/alloy/package.json
  modules/boss/package.json
  modules/boulder/package.json
  modules/bridge/package.json
  modules/darwin/package.json
  modules/dragster/package.json
  modules/jax/package.json
  modules/katamari-assertions/package.json
  modules/katamari/package.json
  modules/mcagar/package.json
  modules/oxide-icons-default/package.json
  modules/oxide/package.json
  modules/phoenix/package.json
  modules/polaris/package.json
  modules/porkbun/package.json
  modules/robin/package.json
  modules/sand/package.json
  modules/snooker/package.json
  modules/sugar/package.json
  modules/tinymce/package.json
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team, @noxuhax

TINY-10436: Addressed Safari v15 expected color differences
  modules/tinymce/src/plugins/table/test/ts/browser/ui/TableDialogTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10713: Change Advanced List to List Styles
  modules/tinymce/src/core/main/ts/api/ui/Registry.ts
  modules/tinymce/src/plugins/advlist/main/ts/Plugin.ts
  modules/tinymce/src/plugins/help/main/ts/data/PluginUrls.ts
Owners: @tinymce/tinymce-reviewers

TINY-10436: Remove `force_hex_color` option and enforce colors to always be HEX (#9414)
  .changes/unreleased/tinymce-TINY-10436-2024-02-27.yaml
  modules/tinymce/src/core/main/ts/api/OptionTypes.ts
  modules/tinymce/src/core/main/ts/api/Options.ts
  modules/tinymce/src/core/main/ts/api/dom/DOMUtils.ts
  modules/tinymce/src/core/main/ts/api/html/Styles.ts
  modules/tinymce/src/core/main/ts/init/InitContentBody.ts
  modules/tinymce/src/core/test/ts/browser/FormatterApplyTest.ts
  modules/tinymce/src/core/test/ts/browser/FormatterRemoveTest.ts
  modules/tinymce/src/core/test/ts/browser/FormattingCommandsTest.ts
  modules/tinymce/src/core/test/ts/browser/fmt/FormatNoneditableTest.ts
  modules/tinymce/src/core/test/ts/browser/html/StylesTest.ts
  modules/tinymce/src/core/test/ts/browser/paste/PasteStylesTest.ts
  modules/tinymce/src/core/test/ts/browser/paste/PasteTest.ts
  modules/tinymce/src/plugins/table/test/ts/browser/ui/TableCellBackgroundColorTest.ts
  modules/tinymce/src/plugins/table/test/ts/browser/ui/TableCellBorderColorTest.ts
  modules/tinymce/src/plugins/table/test/ts/browser/ui/TableDialogTest.ts
  modules/tinymce/src/plugins/table/test/ts/browser/ui/TableRowDialogTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/ForceHexColorTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10713: Fix order
  modules/tinymce/src/plugins/help/main/ts/data/PluginUrls.ts
Owners: @tinymce/tinymce-reviewers

TINY-10710: Fix revision cards not having the same width
  modules/oxide/src/less/theme/components/revisionhistory/revisionhistory.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-10650: Add a link referencing custom view doc page to the addView API
  modules/tinymce/src/core/main/ts/api/ui/Registry.ts
Owners: @tinymce/tinymce-reviewers

TINY-10713: Change Advanced List plugin name to List Styles (#9454)
  modules/tinymce/src/core/main/ts/api/ui/Registry.ts
  modules/tinymce/src/plugins/advlist/main/ts/Plugin.ts
  modules/tinymce/src/plugins/help/main/ts/data/PluginUrls.ts
Owners: @tinymce/tinymce-reviewers

TINY-10642: Updated as per requests
  modules/bridge/src/main/ts/ephox/bridge/components/dialog/Button.ts
  modules/bridge/src/main/ts/ephox/bridge/components/dialog/DialogFooterButton.ts
  modules/tinymce/src/core/main/ts/Deprecations.ts
  modules/tinymce/src/core/main/ts/api/EventTypes.ts
  modules/tinymce/src/core/main/ts/api/Events.ts
  modules/tinymce/src/core/main/ts/api/html/DomParser.ts
  modules/tinymce/src/core/main/ts/html/NonEditableFilter.ts
  modules/tinymce/src/core/test/ts/browser/EditorTest.ts
  modules/tinymce/src/core/test/ts/browser/content/EditorContentEventsTest.ts
  modules/tinymce/src/core/test/ts/browser/content/EditorContentTest.ts
  modules/tinymce/src/core/test/ts/browser/content/InsertContentTest.ts
  modules/tinymce/src/core/test/ts/browser/dom/SelectionTest.ts
  modules/tinymce/src/core/test/ts/browser/selection/SetSelectionContentTest.ts
  modules/tinymce/src/plugins/autoresize/main/ts/core/Resize.ts
  modules/tinymce/src/themes/silver/main/ts/ui/general/Button.ts
Owners: @tinymce/tinymce-reviewers

TINY-10717: Fixed Esc and arrow keys and IME not starting
  modules/tinymce/src/core/main/ts/keyboard/Autocompleter.ts
Owners: @tinymce/tinymce-reviewers

TINY-10691: Test name changes (#9461)
  Jenkinsfile
Owners: @tinymce/tinymce-reviewers

TINY-10639: Fix failing webdriver tests
  modules/tinymce/src/core/test/ts/browser/annotate/AnnotationStylingTest.ts
  modules/tinymce/src/core/test/ts/browser/content/EditorContentTest.ts
  modules/tinymce/src/plugins/accordion/test/ts/webdriver/AccordionBackspaceDeleteTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10639: Fix dragster test
  modules/dragster/src/test/ts/browser/datatransfer/DataTransferTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10639: Fix safari webdriver tests
  modules/tinymce/src/plugins/accordion/test/ts/webdriver/AccordionBackspaceDeleteTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10642: Further updates
  modules/bridge/src/main/ts/ephox/bridge/components/dialog/Button.ts
  modules/bridge/src/main/ts/ephox/bridge/components/dialog/DialogFooterButton.ts
  modules/mcagar/src/main/ts/ephox/mcagar/alien/EditorTypes.ts
  modules/mcagar/src/main/ts/ephox/mcagar/alien/Options.ts
  modules/mcagar/src/main/ts/ephox/mcagar/api/bdd/TinyHooks.ts
  modules/tinymce/src/core/main/ts/api/html/DomParser.ts
  modules/tinymce/src/core/main/ts/html/LegacyFilter.ts
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/AlertDialog.ts
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/ConfirmDialog.ts
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/UrlInput.ts
  modules/tinymce/src/themes/silver/main/ts/ui/general/Button.ts
  modules/tinymce/src/themes/silver/main/ts/ui/toolbar/CommonToolbar.ts
  modules/tinymce/src/themes/silver/main/ts/ui/view/ViewButtons.ts
  modules/tinymce/src/themes/silver/test/ts/headless/components/dialogbutton/DialogButtonTest.ts
  modules/tinymce/src/themes/silver/test/ts/headless/components/dialogbutton/DialogFooterButtonTest.ts
  modules/tinymce/src/themes/silver/test/ts/headless/window/SilverDialogEventTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10602: Reverted requirement for `build` to run `lint`.
  modules/tinymce/project.json
Owners: @tinymce/tinymce-reviewers

TINY-10639: Testing new content to resolve some safari failures
  modules/tinymce/src/plugins/nonbreaking/test/ts/webdriver/NonbreakingTypingTest.ts
  modules/tinymce/src/plugins/nonbreaking/test/ts/webdriver/NonbreakingWrapTypingTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10710: Add focus style for the revisions list
  modules/oxide/src/less/theme/components/revisionhistory/revisionhistory.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-10639: Fix "e" character not working in safari webdriver tests
  modules/tinymce/src/plugins/nonbreaking/test/ts/webdriver/NonbreakingTypingTest.ts
  modules/tinymce/src/plugins/nonbreaking/test/ts/webdriver/NonbreakingWrapTypingTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10639: Testing with focus
  modules/tinymce/src/plugins/nonbreaking/test/ts/webdriver/NonbreakingTypingTest.ts
  modules/tinymce/src/plugins/nonbreaking/test/ts/webdriver/NonbreakingWrapTypingTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10732: Add `aria-label` attribute to `FooterToggleButton` in dialog
  modules/tinymce/src/themes/silver/main/ts/ui/general/Button.ts
Owners: @tinymce/tinymce-reviewers

TINY-10732: Fallback `FooterToggleButton` in dialog to use `spec.text` to set the `aria-label` attribute (#9470)
  modules/tinymce/src/themes/silver/main/ts/ui/general/Button.ts
Owners: @tinymce/tinymce-reviewers

TINY-10734: Fix the bottom part of the revision history diff iframe hidden behind its container
  modules/oxide/src/less/theme/components/revisionhistory/revisionhistory.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9932: Add new global attributes to schema
  modules/tinymce/src/core/main/ts/schema/GlobalAttributesSet.ts
  modules/tinymce/src/core/test/ts/atomic/schema/GlobalAttributesSetTest.ts
  modules/tinymce/src/core/test/ts/atomic/schema/SchemaLookupTableTest.ts
  modules/tinymce/src/core/test/ts/browser/html/SchemaTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9932: Update global attributes order in schema tests
  modules/tinymce/src/core/test/ts/atomic/schema/GlobalAttributesSetTest.ts
  modules/tinymce/src/core/test/ts/atomic/schema/SchemaLookupTableTest.ts
  modules/tinymce/src/core/test/ts/browser/html/SchemaTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9932: Add changelog
  .changes/unreleased/tinymce-TINY-9932-2024-03-06.yaml
Owners: @tinymce/tinymce-reviewers

TINY-9932: Updated changelog
  .changes/unreleased/tinymce-TINY-9932-2024-03-06.yaml
Owners: @tinymce/tinymce-reviewers

TINY-10639: Test new selector
  modules/tinymce/src/plugins/nonbreaking/test/ts/webdriver/NonbreakingTypingTest.ts
  modules/tinymce/src/plugins/nonbreaking/test/ts/webdriver/NonbreakingWrapTypingTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10636: Remove package change
  modules/oxide/package.json
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-10717: Fixed Esc and arrow keys and IME not starting (#9463)
  modules/tinymce/src/core/main/ts/keyboard/Autocompleter.ts
Owners: @tinymce/tinymce-reviewers

TINY-10650: Add a link referencing custom view doc page to the addView API doc (#9456)
  modules/tinymce/src/core/main/ts/api/ui/Registry.ts
Owners: @tinymce/tinymce-reviewers

TINY-10734: Fix the bottom part of the revision history diff iframe hidden behind its container (#9471)
  modules/oxide/src/less/theme/components/revisionhistory/revisionhistory.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-10710: Add focus style for the revisions list (#9469)
  modules/oxide/src/less/theme/components/revisionhistory/revisionhistory.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-10639: Skip failing safari nonbreaking tests
  modules/tinymce/src/plugins/nonbreaking/test/ts/webdriver/NonbreakingTypingTest.ts
  modules/tinymce/src/plugins/nonbreaking/test/ts/webdriver/NonbreakingWrapTypingTest.ts
Owners: @tinymce/tinymce-reviewers

.github/CODEOWNERS:

* @tinymce/tinymce-reviewers

# Oxide changes should include the design team as well
/modules/oxide/ @tinymce/tinymce-reviewers @noxuhax
/modules/oxide-icons-default/ @tinymce/tinymce-reviewers @noxuhax

# Katamari changes should include the integrations team as well
/modules/katamari/ @tinymce/tinymce-reviewers @tinymce/integrations-team
