Repository tinymce/tinymce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tinymce/tinymce-reviewers, @noxuhax, @tinymce/integrations-team

.github/CODEOWNERS:

* @tinymce/tinymce-reviewers

# Oxide changes should include the design team as well
/modules/oxide/ @tinymce/tinymce-reviewers @noxuhax
/modules/oxide-icons-default/ @tinymce/tinymce-reviewers @noxuhax

# Katamari changes should include the integrations team as well
/modules/katamari/ @tinymce/tinymce-reviewers @tinymce/integrations-team

Update modules/tinymce/CHANGELOG.md
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

Update modules/tinymce/CHANGELOG.md
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-8887: handle fragmented text
  modules/tinymce/src/core/main/ts/autocomplete/AutocompleteContext.ts
Owners: @tinymce/tinymce-reviewers

TINY-8887: fix typing issue
  modules/tinymce/src/core/main/ts/autocomplete/AutocompleteContext.ts
Owners: @tinymce/tinymce-reviewers

Update modules/tinymce/CHANGELOG.md
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-8860: Remove class check
  modules/tinymce/src/core/main/ts/content/InsertContentImpl.ts
Owners: @tinymce/tinymce-reviewers

TINY-8860: Changelog copyedit
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-8779: Fixed whole content of a block being passed to inline pattern
  modules/tinymce/src/core/main/ts/textpatterns/core/InlinePattern.ts
  modules/tinymce/src/core/main/ts/textpatterns/keyboard/KeyHandler.ts
  modules/tinymce/src/core/main/ts/textpatterns/utils/Utils.ts
  modules/tinymce/src/core/test/ts/browser/textpatterns/FindBlockPatternsTest.ts
  modules/tinymce/src/core/test/ts/browser/textpatterns/FindInlinePatternTest.ts
  modules/tinymce/src/core/test/ts/browser/textpatterns/TextPatternsLookupTest.ts
  modules/tinymce/src/core/test/ts/module/test/TextPatternsUtils.ts
Owners: @tinymce/tinymce-reviewers

TINY-8860: Correctly merge pre content from paste (#7999)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/content/InsertContentImpl.ts
  modules/tinymce/src/core/test/ts/browser/content/InsertContentTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8778: Cleaned up
  modules/tinymce/src/core/main/ts/textpatterns/core/InlinePattern.ts
Owners: @tinymce/tinymce-reviewers

TINY-8778: Fixed type
  modules/tinymce/src/core/main/ts/textpatterns/keyboard/KeyHandler.ts
Owners: @tinymce/tinymce-reviewers

TINY-8887: use indexOf start parameter
  modules/katamari/src/main/ts/ephox/katamari/api/Strings.ts
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team

Add docs ticket created to template
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @tinymce/tinymce-reviewers

TINY-889: add todo for removing fallback to 'ch'
  modules/bridge/src/main/ts/ephox/bridge/components/content/Autocompleter.ts
Owners: @tinymce/tinymce-reviewers

Apply suggestions
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @tinymce/tinymce-reviewers

TINY-887: add test for fragmented multi-character trigger
  modules/tinymce/src/themes/silver/test/ts/browser/editor/autocomplete/AutocompleteTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8887: further Strings.contains optimization
  modules/katamari/src/main/ts/ephox/katamari/api/Strings.ts
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team

TINY-8861: Remove platform specific content checks in favour of structure assertion
  modules/tinymce/src/plugins/codesample/test/ts/webdriver/CodeSampleCopyAndPasteTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8887: Update modules/bridge/src/main/ts/ephox/bridge/components/content/Autocompleter.ts
  modules/bridge/src/main/ts/ephox/bridge/components/content/Autocompleter.ts
Owners: @tinymce/tinymce-reviewers

TINY-8887: remove redundant Obj import
  modules/bridge/src/main/ts/ephox/bridge/components/content/Autocompleter.ts
Owners: @tinymce/tinymce-reviewers

TINY-8861: Now I see why the test was disabled on Safari. Brought that back, with a comment about why this time.
  modules/tinymce/src/plugins/codesample/test/ts/webdriver/CodeSampleCopyAndPasteTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8874: Make changes as requested in review
  modules/tinymce/src/core/main/ts/DragDropOverrides.ts
  modules/tinymce/src/core/test/ts/browser/DragDropOverridesTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8874: fix bug when interval was not being cleared on dragend event
  modules/tinymce/src/core/main/ts/DragDropOverrides.ts
Owners: @tinymce/tinymce-reviewers

TINY-8874: re-trigger CI
  modules/tinymce/src/core/main/ts/DragDropOverrides.ts
Owners: @tinymce/tinymce-reviewers

Move to Review section
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @tinymce/tinymce-reviewers

Apply suggestions from code review
  modules/tinymce/src/plugins/codesample/test/ts/webdriver/CodeSampleCopyAndPasteTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8861: Move variable
  modules/tinymce/src/plugins/codesample/test/ts/webdriver/CodeSampleCopyAndPasteTest.ts
Owners: @tinymce/tinymce-reviewers

Apply suggestion
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @tinymce/tinymce-reviewers

TINY-8861: fix cursor position after pasting a `codesample` snippet (#8003)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/plugins/codesample/main/ts/core/FilterContent.ts
  modules/tinymce/src/plugins/codesample/test/ts/browser/CodeSampleSanityTest.ts
  modules/tinymce/src/plugins/codesample/test/ts/webdriver/CodeSampleCopyAndPasteTest.ts
Owners: @tinymce/tinymce-reviewers

Add docs ticket created to template (#8008)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @tinymce/tinymce-reviewers

DOC-1769: copy edits and additions to 6.1.1 section of CHANGELOG.md (#8000)
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-8773: Create fresh document for clobbering check
  modules/tinymce/src/core/main/ts/api/html/SaxParser.ts
Owners: @tinymce/tinymce-reviewers

TINY-8773: Update Changelog
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-8773: Added tests and reused document
  modules/tinymce/src/core/main/ts/api/html/SaxParser.ts
  modules/tinymce/src/core/test/ts/browser/html/SaxParserTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8887: make trigger property optional
  modules/bridge/src/main/ts/ephox/bridge/components/content/Autocompleter.ts
Owners: @tinymce/tinymce-reviewers

TINY-8887: add another test case for Strings.contains
  modules/katamari/src/test/ts/atomic/api/str/ContainsTest.ts
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team

TINY-8828: add comment for Safari issue
  modules/oxide/src/less/theme/content/contenteditable/contenteditable.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-8778: Fixed types
  modules/tinymce/src/core/main/ts/textpatterns/core/InlinePattern.ts
  modules/tinymce/src/core/main/ts/textpatterns/utils/Utils.ts
  modules/tinymce/src/core/test/ts/browser/textpatterns/FindInlinePatternTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8778: Updated tests
  modules/tinymce/src/core/test/ts/browser/textpatterns/FindInlinePatternTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8778: Fixed `text_patterns_lookup` being called more than expected when matching patterns (#7991)
  modules/tinymce/src/core/main/ts/textpatterns/core/BlockPattern.ts
  modules/tinymce/src/core/main/ts/textpatterns/core/InlinePattern.ts
  modules/tinymce/src/core/main/ts/textpatterns/core/PatternTypes.ts
  modules/tinymce/src/core/main/ts/textpatterns/keyboard/KeyHandler.ts
  modules/tinymce/src/core/main/ts/textpatterns/keyboard/Keyboard.ts
  modules/tinymce/src/core/main/ts/textpatterns/utils/Utils.ts
  modules/tinymce/src/core/test/ts/browser/textpatterns/FindBlockPatternsTest.ts
  modules/tinymce/src/core/test/ts/browser/textpatterns/FindInlinePatternTest.ts
  modules/tinymce/src/core/test/ts/browser/textpatterns/TextPatternsLookupTest.ts
  modules/tinymce/src/core/test/ts/module/test/TextPatternsUtils.ts
Owners: @tinymce/tinymce-reviewers
