Repository tinymce/tinymce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tinymce/tinymce-reviewers, @noxuhax, @tinymce/integrations-team

TINY-10543: Add outline style for revision cards being focused (#9408)
  modules/oxide/src/less/theme/components/revisionhistory/revisionhistory.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-10589: Update table resize logic to not apply height styling to cell (td/th) elements (#9362)
  .changes/unreleased/snooker-TINY-10589-1-2024-02-19.yaml
  .changes/unreleased/snooker-TINY-10589-2-2024-02-19.yaml
  .changes/unreleased/snooker-TINY-10589-2024-02-19.yaml
  .changes/unreleased/snooker-TINY-10589-3-2024-02-19.yaml
  .changes/unreleased/snooker-TINY-10589-4-2024-02-19.yaml
  .changes/unreleased/tinymce-TINY-10589-2024-02-19.yaml
  modules/snooker/src/main/ts/ephox/snooker/api/Sizes.ts
  modules/snooker/src/main/ts/ephox/snooker/api/TableConversions.ts
  modules/snooker/src/main/ts/ephox/snooker/api/TableResize.ts
  modules/snooker/src/main/ts/ephox/snooker/resize/Adjustments.ts
  modules/snooker/src/main/ts/ephox/snooker/resize/ColumnSizes.ts
  modules/snooker/src/main/ts/ephox/snooker/resize/Sizes.ts
  modules/snooker/src/test/ts/browser/TableConversionsTest.ts
  modules/snooker/src/test/ts/browser/TableSizesTest.ts
  modules/snooker/src/test/ts/browser/resize/ColumnSizesTest.ts
  modules/snooker/src/test/ts/module/ephox/snooker/test/SizeUtils.ts
  modules/tinymce/src/core/main/ts/api/dom/ControlSelection.ts
  modules/tinymce/src/models/dom/main/ts/table/actions/InsertTable.ts
  modules/tinymce/src/models/dom/main/ts/table/api/Commands.ts
  modules/tinymce/src/models/dom/main/ts/table/api/TableResizeHandler.ts
  modules/tinymce/src/models/dom/main/ts/table/core/TableUtils.ts
  modules/tinymce/src/models/dom/test/ts/browser/table/DragResizeTest.ts
  modules/tinymce/src/models/dom/test/ts/browser/table/InsertColumnTableSizeTest.ts
  modules/tinymce/src/models/dom/test/ts/browser/table/InsertRowTableResizeTest.ts
  modules/tinymce/src/models/dom/test/ts/browser/table/InsertTableWidthsTest.ts
  modules/tinymce/src/models/dom/test/ts/browser/table/ResizeTableTest.ts
  modules/tinymce/src/models/dom/test/ts/browser/table/UnmergeCellTableResizeTest.ts
  modules/tinymce/src/models/dom/test/ts/module/table/TableTestUtils.ts
  versions.txt
Owners: @tinymce/tinymce-reviewers

TINY-10617: Update table cell and row dialogs for table row height changes
  .changes/unreleased/tinymce-TINY-10617-2024-02-18.yaml
  modules/tinymce/src/plugins/table/main/ts/ui/CellDialog.ts
  modules/tinymce/src/plugins/table/main/ts/ui/CellDialogGeneralTab.ts
  modules/tinymce/src/plugins/table/main/ts/ui/Helpers.ts
  modules/tinymce/src/plugins/table/main/ts/ui/RowDialog.ts
  modules/tinymce/src/plugins/table/test/ts/browser/HelpersTest.ts
  modules/tinymce/src/plugins/table/test/ts/browser/ui/TableCellDialogTest.ts
  modules/tinymce/src/plugins/table/test/ts/browser/ui/TableRowDialogTest.ts
Owners: @tinymce/tinymce-reviewers

Update .changes/unreleased/tinymce-TINY-10617-2024-02-18.yaml
  .changes/unreleased/tinymce-TINY-10617-2024-02-18.yaml
Owners: @tinymce/tinymce-reviewers

Update .changes/unreleased/tinymce-TINY-10658-2024-02-22.yaml
  .changes/unreleased/tinymce-TINY-10658-2024-02-22.yaml
Owners: @tinymce/tinymce-reviewers

TINY-10658: Make table ghost element better reflect height changes when resizing
  .changes/unreleased/tinymce-TINY-10658-2024-02-22.yaml
  modules/tinymce/src/core/main/ts/api/dom/ControlSelection.ts
  modules/tinymce/src/core/test/ts/browser/dom/ControlSelectionTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10658: Make table ghost element better reflect height changes when resizing (#9402)
  .changes/unreleased/tinymce-TINY-10658-2024-02-22.yaml
  modules/tinymce/src/core/main/ts/api/dom/ControlSelection.ts
  modules/tinymce/src/core/test/ts/browser/dom/ControlSelectionTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10617: Update table cell and row dialogs for table row height changes (#9397)
  .changes/unreleased/tinymce-TINY-10617-2024-02-18.yaml
  modules/tinymce/src/plugins/table/main/ts/ui/CellDialog.ts
  modules/tinymce/src/plugins/table/main/ts/ui/CellDialogGeneralTab.ts
  modules/tinymce/src/plugins/table/main/ts/ui/Helpers.ts
  modules/tinymce/src/plugins/table/main/ts/ui/RowDialog.ts
  modules/tinymce/src/plugins/table/test/ts/browser/HelpersTest.ts
  modules/tinymce/src/plugins/table/test/ts/browser/ui/TableCellDialogTest.ts
  modules/tinymce/src/plugins/table/test/ts/browser/ui/TableRowDialogTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10679: Update revision history styles
  modules/oxide/src/less/theme/components/revisionhistory/revisionhistory.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-10679: lint fix
  modules/oxide/src/less/theme/components/revisionhistory/revisionhistory.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-10436: Enforce lower case on converted HEX colours
  modules/tinymce/src/core/main/ts/api/html/Styles.ts
Owners: @tinymce/tinymce-reviewers

TINY-10436: fix tests that expect RGB instead of HEX
  modules/tinymce/src/core/test/ts/browser/FormatterApplyTest.ts
  modules/tinymce/src/core/test/ts/browser/FormatterRemoveTest.ts
  modules/tinymce/src/core/test/ts/browser/FormattingCommandsTest.ts
  modules/tinymce/src/core/test/ts/browser/fmt/FormatNoneditableTest.ts
  modules/tinymce/src/core/test/ts/browser/html/StylesTest.ts
  modules/tinymce/src/core/test/ts/browser/paste/PasteStylesTest.ts
  modules/tinymce/src/core/test/ts/browser/paste/PasteTest.ts
  modules/tinymce/src/plugins/table/test/ts/browser/ui/TableCellBackgroundColorTest.ts
  modules/tinymce/src/plugins/table/test/ts/browser/ui/TableCellBorderColorTest.ts
  modules/tinymce/src/plugins/table/test/ts/browser/ui/TableDialogTest.ts
  modules/tinymce/src/plugins/table/test/ts/browser/ui/TableRowDialogTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10436: Added changelog
  .changes/unreleased/tinymce-TINY-10436-2024-02-27.yaml
Owners: @tinymce/tinymce-reviewers

TINY-10436: fixed a word
  modules/tinymce/src/core/test/ts/browser/html/StylesTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9980: Updated API docs for addCustomElements
  modules/tinymce/src/core/main/ts/api/html/Schema.ts
Owners: @tinymce/tinymce-reviewers

TINY-10681: Added new license_key option (#9411)
  .changes/unreleased/tinymce-TINY-10681-2024-02-22.yaml
  modules/tinymce/src/core/main/ts/api/OptionTypes.ts
  modules/tinymce/src/core/main/ts/api/Options.ts
  modules/tinymce/src/core/main/ts/init/InitContentBody.ts
  modules/tinymce/src/core/main/ts/init/LicenseKeyValidation.ts
  modules/tinymce/src/core/test/ts/browser/init/LicenseKeyValidationTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10691: Test name changes
  Jenkinsfile
Owners: @tinymce/tinymce-reviewers

TINY-10670: Add importword exportpdf and exportword to default file menu (#9424)
  .changes/unreleased/tinymce-TINY-10670-2024-02-26.yaml
  modules/tinymce/src/themes/silver/main/ts/ui/menus/menubar/Integration.ts
Owners: @tinymce/tinymce-reviewers

TINY-10679: Add css that move restore button to right side
  modules/oxide/src/less/theme/components/revisionhistory/revisionhistory.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-10681: Changed minimal key length to 64
  modules/tinymce/src/core/main/ts/init/LicenseKeyValidation.ts
  modules/tinymce/src/core/test/ts/browser/init/LicenseKeyValidationTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10436: Fixed typo
  modules/tinymce/src/core/test/ts/browser/html/StylesTest.ts
  modules/tinymce/src/plugins/table/test/ts/browser/ui/TableDialogTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10690: Update help dialog with new plugin names
  modules/tinymce/src/plugins/help/main/ts/data/PluginUrls.ts
Owners: @tinymce/tinymce-reviewers

TINY-10690: Alphabetical order
  modules/tinymce/src/plugins/help/main/ts/data/PluginUrls.ts
Owners: @tinymce/tinymce-reviewers

TINY-9154: Add missing return
  modules/tinymce/src/plugins/media/test/ts/browser/DataAttributeTest.ts
  modules/tinymce/src/plugins/media/test/ts/browser/EphoxEmbedTest.ts
  modules/tinymce/src/plugins/media/test/ts/browser/IsCachedResponseTest.ts
  modules/tinymce/src/plugins/media/test/ts/browser/MediaEmbedTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10602: Fixed missing build target dependency
  modules/oxide-icons-default/project.json
  modules/oxide/project.json
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-10602: Add project tags to every module
  modules/acid/project.json
  modules/agar/project.json
  modules/alloy/project.json
  modules/boss/project.json
  modules/boulder/project.json
  modules/bridge/project.json
  modules/darwin/project.json
  modules/dragster/project.json
  modules/jax/project.json
  modules/katamari-assertions/project.json
  modules/katamari/project.json
  modules/mcagar/project.json
  modules/oxide-icons-default/project.json
  modules/oxide/project.json
  modules/phoenix/project.json
  modules/polaris/project.json
  modules/porkbun/project.json
  modules/robin/project.json
  modules/sand/project.json
  modules/snooker/project.json
  modules/sugar/project.json
  modules/tinymce/project.json
  package.json
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team, @noxuhax

TINY-10602: Build now depends on lint instead of including it as a part of the build
  modules/tinymce/Gruntfile.js
  modules/tinymce/project.json
Owners: @tinymce/tinymce-reviewers

TINY-10694: Update deprecation/removed console message for 7.0
  .changes/unreleased/tinymce-TINY-10694-2024-02-28.yaml
  modules/tinymce/src/core/main/ts/Deprecations.ts
Owners: @tinymce/tinymce-reviewers

TINY-10602: Greatly simplified input dependencies. Add transitive input dependencies.
  modules/oxide/project.json
  modules/tinymce/project.json
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-10602: Remove beehive-era scripts that just echo "not implemented"
  modules/bridge/package.json
  modules/oxide/package.json
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-10602: Adjust tinymce custom route config to make sure each URL is unique. Removed routes that seem to be unused.
  modules/tinymce/src/core/test/json/routes.json
  modules/tinymce/src/core/test/ts/browser/ResourceTest.ts
  modules/tinymce/src/core/test/ts/browser/delete/MediaDeleteTest.ts
  modules/tinymce/src/core/test/ts/browser/keyboard/MediaNavigationTest.ts
  modules/tinymce/src/plugins/image/test/ts/browser/DialogTest.ts
  modules/tinymce/src/plugins/image/test/ts/browser/UploadTabTest.ts
  modules/tinymce/src/plugins/media/test/ts/browser/PlaceholderTest.ts
  modules/tinymce/src/themes/silver/test/ts/headless/components/customeditor/BasicCustomEditorTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10690: Remove RTC
  modules/tinymce/src/plugins/help/main/ts/data/PluginUrls.ts
Owners: @tinymce/tinymce-reviewers

TINY-10690: Fix order
  modules/tinymce/src/plugins/help/main/ts/data/PluginUrls.ts
Owners: @tinymce/tinymce-reviewers

TINY-10602: Fix issues with the route change
  modules/tinymce/src/core/test/json/routes.json
  modules/tinymce/src/plugins/media/test/ts/browser/PlaceholderTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10602: Enforce no lint warnings when running builds
  .eslintrc.json
  modules/acid/package.json
  modules/agar/package.json
  modules/alloy/package.json
  modules/boss/package.json
  modules/boulder/package.json
  modules/bridge/package.json
  modules/darwin/package.json
  modules/dragster/package.json
  modules/jax/package.json
  modules/katamari-assertions/package.json
  modules/katamari/package.json
  modules/mcagar/package.json
  modules/phoenix/package.json
  modules/polaris/package.json
  modules/porkbun/package.json
  modules/robin/package.json
  modules/sand/package.json
  modules/snooker/package.json
  modules/sugar/package.json
  modules/tinymce/Gruntfile.js
  modules/tinymce/package.json
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team

TINY-10690: Add new plugins and remove export
  modules/tinymce/src/plugins/help/main/ts/data/PluginUrls.ts
Owners: @tinymce/tinymce-reviewers

TINY-10690: Update docs link
  modules/tinymce/src/plugins/help/main/ts/ui/PluginsTab.ts
Owners: @tinymce/tinymce-reviewers

TINY-10690: Update version docs link
  modules/tinymce/src/plugins/help/main/ts/ui/VersionTab.ts
Owners: @tinymce/tinymce-reviewers

TINY-10696: Use `Access` instead of `Alt+Shift` for heading shortcut in tooltips
  modules/tinymce/src/themes/silver/main/ts/ui/core/SimpleControls.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/tooltip/TooltipShortcutTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10690: Fix new plugin names
  modules/tinymce/src/plugins/help/main/ts/data/PluginUrls.ts
Owners: @tinymce/tinymce-reviewers

.github/CODEOWNERS:

* @tinymce/tinymce-reviewers

# Oxide changes should include the design team as well
/modules/oxide/ @tinymce/tinymce-reviewers @noxuhax
/modules/oxide-icons-default/ @tinymce/tinymce-reviewers @noxuhax

# Katamari changes should include the integrations team as well
/modules/katamari/ @tinymce/tinymce-reviewers @tinymce/integrations-team
