Repository tinymce/tinymce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tinymce/tinymce-reviewers, @noxuhax, @tinymce/integrations-team

.github/CODEOWNERS:

* @tinymce/tinymce-reviewers

# Oxide changes should include the design team as well
/modules/oxide/ @tinymce/tinymce-reviewers @noxuhax
/modules/oxide-icons-default/ @tinymce/tinymce-reviewers @noxuhax

# Katamari changes should include the integrations team as well
/modules/katamari/ @tinymce/tinymce-reviewers @tinymce/integrations-team

TINY-10570: Improve toolbar width recalculation on window resize (#9398)
  .changes/unreleased/tinymce-TINY-10570-2024-02-19.yaml
  modules/alloy/src/main/ts/ephox/alloy/toolbar/SplitToolbarUtils.ts
  modules/tinymce/src/themes/silver/main/ts/ui/header/InlineHeader.ts
Owners: @tinymce/tinymce-reviewers

TINY-10672: Change tooltip in `DialogFooterToggleButton` from required to optional
  .changes/unreleased/bridge-TINY-10672-2024-02-21.yaml
  modules/bridge/src/main/ts/ephox/bridge/components/dialog/DialogFooterButton.ts
  modules/tinymce/src/themes/silver/main/ts/ui/general/Button.ts
  modules/tinymce/src/themes/silver/main/ts/ui/view/ViewButtons.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/tooltip/TooltipTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10639: Safari 17 browser check
  modules/sand/src/main/ts/ephox/sand/core/Browser.ts
  modules/tinymce/src/core/main/ts/api/Env.ts
Owners: @tinymce/tinymce-reviewers

TINY-10639: Fixed a couple tests
  modules/sugar/src/test/ts/browser/SelectionRangeTest.ts
  modules/tinymce/src/core/test/ts/browser/FormatterRemoveTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10672: Add tinymce changelog
  .changes/unreleased/tinymce-TINY-10672-2024-02-21.yaml
  modules/tinymce/src/themes/silver/test/ts/browser/editor/tooltip/TooltipTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10543: Add outline style for revision cards being focused
  modules/oxide/src/less/theme/components/revisionhistory/revisionhistory.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9681: Hiding the focus outline from the legacy TinyMCE 5 skin
  modules/oxide/src/less/skins/ui/tinymce-5/skin.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-10308: Added a test to `TableDialogStyleWithCssTest.ts`
  modules/tinymce/src/plugins/table/test/ts/browser/ui/TableDialogStyleWithCssTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10308: Need another optional chain since border is sometimes undefined despite its type
  modules/tinymce/src/plugins/table/main/ts/ui/TableDialog.ts
Owners: @tinymce/tinymce-reviewers

TINY-10308: Added a test to TableDialogWithoutCssTest.ts
  modules/tinymce/src/plugins/table/test/ts/browser/ui/TableDialogWithoutCssTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10308: Added changelog
  .changes/unreleased/tinymce-TINY-10308-2024-02-22.yaml
Owners: @tinymce/tinymce-reviewers

TINY-9638: Add changelog entry for TINY-9638 (#9406)
  .changes/unreleased/tinymce-TINY-9638-2024-02-20.yaml
Owners: @tinymce/tinymce-reviewers

TINY-10452: Remove incorrect `aria-placeholder` attribute from editor… (#9405)
  .changes/unreleased/tinymce-TINY-10452-2024-02-20.yaml
  modules/tinymce/src/core/main/ts/content/Placeholder.ts
  modules/tinymce/src/core/test/ts/webdriver/content/PlaceholderTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10636: Fix some mistakes
  modules/oxide-icons-default/Gruntfile.js
  modules/oxide/package.json
  modules/oxide/tasks/less-task.js
  package.json
  yarn.lock
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-10636: Update build script for oxide-icon-default from Gulp to Grunt
  modules/oxide-icons-default/Gruntfile.js
  modules/oxide-icons-default/package.json
  package.json
  yarn.lock
Owners: @tinymce/tinymce-reviewers, @noxuhax

Update modules/tinymce/src/plugins/table/main/ts/ui/TableDialog.ts
  modules/tinymce/src/plugins/table/main/ts/ui/TableDialog.ts
Owners: @tinymce/tinymce-reviewers

Update modules/tinymce/src/plugins/table/main/ts/ui/TableDialog.ts
  modules/tinymce/src/plugins/table/main/ts/ui/TableDialog.ts
Owners: @tinymce/tinymce-reviewers

TINY-10308: Fixed test
  modules/tinymce/src/plugins/table/test/ts/browser/ui/TableDialogStyleWithCssTest.ts
Owners: @tinymce/tinymce-reviewers

Revert "TINY-10308: Added a test to TableDialogWithoutCssTest.ts"
  modules/tinymce/src/plugins/table/test/ts/browser/ui/TableDialogWithoutCssTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10616: Add tooltip styles (#9396)
  modules/oxide/src/less/theme/components/tooltip/tooltip.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9641: Convert to switch statements
  modules/alloy/src/main/ts/ephox/alloy/behaviour/tooltipping/ActiveTooltipping.ts
Owners: @tinymce/tinymce-reviewers

TINY-10672: Review fixes
  modules/tinymce/src/themes/silver/main/ts/ui/general/Button.ts
Owners: @tinymce/tinymce-reviewers

TINY-10672: Review fixes, add missing closing parentheses
  modules/tinymce/src/themes/silver/main/ts/ui/general/Button.ts
Owners: @tinymce/tinymce-reviewers

TINY-10578: Replaced license.txt with license.md
  LICENSE.TXT
  LICENSE.md
  modules/tinymce/Gruntfile.js
Owners: @tinymce/tinymce-reviewers

TINY-9681: Fixed combatibility issues with the TinyMCE 5 skin missing some focus states. Also addressed a regression with split buttons outline were pressing the main button were opening the menu
  modules/oxide/src/less/skins/ui/tinymce-5/skin.less
  modules/oxide/src/less/theme/components/collection/collection.less
  modules/oxide/src/less/theme/components/toolbar-button/toolbar-number-input.less
  modules/oxide/src/less/theme/components/toolbar-button/toolbar-select-button.less
  modules/oxide/src/less/theme/components/toolbar-button/toolbar-split-button.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-10578: Updated readme.md files with GPL license change
  README.md
  modules/tinymce/README.md
Owners: @tinymce/tinymce-reviewers

TINY-10578: Added changelog item about GPL change
  .changes/unreleased/tinymce-TINY-10578-2024-02-22.yaml
Owners: @tinymce/tinymce-reviewers

TINY-10578: Updated distribution file generation to GPL license
  modules/tinymce/Gruntfile.js
Owners: @tinymce/tinymce-reviewers

TINY-10578: Updated grunt-nuget-pack to latest and removed deprecated options
  modules/tinymce/Gruntfile.js
  package.json
  yarn.lock
Owners: @tinymce/tinymce-reviewers

TINY-10578: Updated package.json license to GPL
  modules/acid/package.json
  modules/agar/package.json
  modules/alloy/package.json
  modules/boss/package.json
  modules/boulder/package.json
  modules/bridge/package.json
  modules/darwin/package.json
  modules/dragster/package.json
  modules/jax/package.json
  modules/katamari-assertions/package.json
  modules/katamari/package.json
  modules/mcagar/package.json
  modules/oxide-icons-default/package.json
  modules/oxide/package.json
  modules/phoenix/package.json
  modules/polaris/package.json
  modules/porkbun/package.json
  modules/robin/package.json
  modules/sand/package.json
  modules/snooker/package.json
  modules/sugar/package.json
  modules/tinymce/package.json
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team, @noxuhax

TINY-9681: Aligning the input field and button focus visuals with the new toolbar button outline
  modules/oxide/src/less/theme/components/button/button.less
  modules/oxide/src/less/theme/components/form/textfield.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-10681: Added new license_key option
  .changes/unreleased/tinymce-TINY-10681-2024-02-22.yaml
  modules/tinymce/src/core/main/ts/api/OptionTypes.ts
  modules/tinymce/src/core/main/ts/api/Options.ts
  modules/tinymce/src/core/main/ts/init/InitContentBody.ts
  modules/tinymce/src/core/main/ts/init/LicenseKeyValidation.ts
  modules/tinymce/src/core/test/ts/browser/init/LicenseKeyValidationTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10672: Review fixes
  modules/tinymce/src/themes/silver/main/ts/ui/general/Button.ts
Owners: @tinymce/tinymce-reviewers

TINY-9681: Fixed correct value for the editable area outline
  modules/oxide/src/less/skins/ui/tinymce-5/skin.less
  modules/oxide/src/less/theme/components/edit-area/edit-area.less
  modules/oxide/src/less/theme/globals/global-variables.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9681: Corrected & reverted some color values that was changed while debugging.
  modules/oxide/src/less/skins/ui/tinymce-5/skin.less
  modules/oxide/src/less/theme/globals/global-variables.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-10681: Updated url until we have a better one
  modules/tinymce/src/core/main/ts/init/LicenseKeyValidation.ts
  modules/tinymce/src/core/test/ts/browser/init/LicenseKeyValidationTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10609: Add back label styles
  modules/oxide/src/less/theme/components/view/view.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

Update .changes/unreleased/tinymce-TINY-10308-2024-02-22.yaml
  .changes/unreleased/tinymce-TINY-10308-2024-02-22.yaml
Owners: @tinymce/tinymce-reviewers

TINY-10308: Fix table borders when using `table_style_by_css` (#9409)
  .changes/unreleased/tinymce-TINY-10308-2024-02-22.yaml
  modules/tinymce/src/plugins/table/main/ts/ui/TableDialog.ts
  modules/tinymce/src/plugins/table/test/ts/browser/ui/TableDialogStyleWithCssTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10436: Remove `force_hex_color` option and leave it like it was set to "always"
  modules/tinymce/src/core/main/ts/api/OptionTypes.ts
  modules/tinymce/src/core/main/ts/api/Options.ts
  modules/tinymce/src/core/main/ts/api/dom/DOMUtils.ts
  modules/tinymce/src/core/main/ts/api/html/Styles.ts
  modules/tinymce/src/core/main/ts/init/InitContentBody.ts
Owners: @tinymce/tinymce-reviewers
