Repository tinymce/tinymce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tinymce/tinymce-reviewers, @noxuhax, @tinymce/integrations-team

.github/CODEOWNERS:

* @tinymce/tinymce-reviewers

# Oxide changes should include the design team as well
/modules/oxide/ @tinymce/tinymce-reviewers @noxuhax
/modules/oxide-icons-default/ @tinymce/tinymce-reviewers @noxuhax

# Katamari changes should include the integrations team as well
/modules/katamari/ @tinymce/tinymce-reviewers @tinymce/integrations-team

TINY-9176: Fix enabled menu item color
  modules/oxide/src/less/theme/components/collection/collection.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9176: Fix table creation background color
  modules/oxide/src/less/theme/components/collection/collection.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9676: Revert TINY-9587
  modules/oxide/src/less/theme/components/dialog/dialog.less
  modules/oxide/src/less/theme/globals/global-variables.less
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers, @noxuhax

Clean up our dependency lists, make sure devDependencies are not listed as dependencies (#8530)
  modules/acid/package.json
  modules/agar/package.json
  modules/alloy/package.json
  modules/boss/package.json
  modules/bridge/package.json
  modules/darwin/package.json
  modules/dragster/package.json
  modules/jax/package.json
  modules/katamari-assertions/package.json
  modules/katamari/package.json
  modules/mcagar/package.json
  modules/oxide/package.json
  modules/phoenix/package.json
  modules/polaris/package.json
  modules/robin/package.json
  modules/sand/package.json
  modules/snooker/package.json
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team, @noxuhax

TINY-9176: Fix code inline format color
  modules/oxide/src/less/theme/components/collection/collection.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9176: Fix dark mode code color
  modules/oxide/src/less/theme/components/collection/collection.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9176: Preserve color contrast for menu items with inline background colors
  modules/oxide/src/less/theme/components/collection/collection.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9176: Focus Styles QA fixes (#8535)
  modules/oxide/src/less/theme/components/collection/collection.less
  modules/oxide/src/less/theme/components/toolbar-button/toolbar-button.less
  modules/oxide/src/less/theme/components/toolbar-button/toolbar-split-button.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9676: Revert editor border
  modules/oxide/src/less/theme/components/dialog/dialog.less
  modules/oxide/src/less/theme/components/dropzone/dropzone.less
  modules/oxide/src/less/theme/components/form/textfield.less
  modules/oxide/src/less/theme/components/statusbar/statusbar.less
  modules/oxide/src/less/theme/globals/global-variables.less
  modules/oxide/src/less/theme/globals/global.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9460: Fixed issue with quickbars showing for noneditable contents in noneditable root
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/plugins/quickbars/main/ts/selection/Toolbars.ts
  modules/tinymce/src/plugins/quickbars/test/ts/browser/ContentEditableTest.ts
  modules/tinymce/src/plugins/quickbars/test/ts/module/test/Utils.ts
Owners: @tinymce/tinymce-reviewers

TINY-9673: added focus borders to custom editors
  modules/oxide/src/less/theme/components/well/well.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9642: Added template to deprecated list.
  modules/tinymce/src/core/main/ts/Deprecations.ts
Owners: @tinymce/tinymce-reviewers

TINY-9671: remove unused code
  modules/tinymce/src/themes/silver/main/ts/ui/view/View.ts
Owners: @tinymce/tinymce-reviewers

TINY-9667: remove max-width
  modules/oxide/src/less/theme/components/advtemplate/advtemplate.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9667: Set width for Templates dialog left side bar (#8529)
  modules/oxide/src/less/theme/components/advtemplate/advtemplate.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9671: add test
  modules/tinymce/src/themes/silver/test/ts/browser/view/ViewTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9671: add close of the view in a test
  modules/tinymce/src/themes/silver/test/ts/browser/view/ViewTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9671: now the navigation is cyclic
  modules/tinymce/src/themes/silver/main/ts/ui/view/View.ts
  modules/tinymce/src/themes/silver/test/ts/browser/view/ViewTest.ts
Owners: @tinymce/tinymce-reviewers

Update modules/tinymce/CHANGELOG.md
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-9673: add changelog entry
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-8122: Remove commented line
  modules/polaris/src/main/ts/ephox/polaris/words/UnicodeData.ts
Owners: @tinymce/tinymce-reviewers

TINY-9640: Improve directory expanding/collapsing animation
  modules/oxide/src/less/theme/components/tree/tree-button.less
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/Tree.ts
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9640: Make changes as per review
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/themes/silver/demo/ts/demo/TreeDemo.ts
Owners: @tinymce/tinymce-reviewers

TINY-9640: Make changes as per review
  modules/tinymce/src/themes/silver/test/ts/headless/components/tree/TreeTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9676: Revert TINY-9587 (#8536)
  modules/oxide/src/less/theme/components/dialog/dialog.less
  modules/oxide/src/less/theme/globals/global-variables.less
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9588: Assert dialog within window
  modules/tinymce/src/themes/silver/test/ts/browser/window/SilverDialogPositioningTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9588: Correct bounds
  modules/tinymce/src/themes/silver/test/ts/browser/window/SilverDialogPositioningTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9588: Add modal test, remove toolbar mode tests
  modules/tinymce/src/themes/silver/test/ts/browser/window/SilverDialogPositioningTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9588: Update changelog
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-9673: fix border for modal square custom editor content (#8542)
  modules/oxide/src/less/theme/components/well/well.less
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9671: add buttons navigation via keyboard to view mode (#8541)
  modules/tinymce/src/themes/silver/main/ts/ui/view/View.ts
  modules/tinymce/src/themes/silver/test/ts/browser/view/ViewTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9646: Removed performance improvement due to interference with functionality
  modules/tinymce/src/themes/silver/main/ts/ui/header/InlineHeader.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/header/InlineHeaderTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9419: now instead of toggling after the show, there is a refresh after the show
  modules/tinymce/src/themes/silver/main/ts/ui/general/OuterContainer.ts
Owners: @tinymce/tinymce-reviewers

TINY-9640: Fix colors to match new contrast skin
  modules/oxide/src/less/theme/components/tree/tree-button.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9640: Fix colors to match new contrast skin
  modules/oxide/src/less/theme/components/tree/tree-button.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9419: add changelog entry
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-9685: fixed filtering for mce-nbsp-wrap elements
  modules/tinymce/src/plugins/visualchars/main/ts/core/Nodes.ts
  modules/tinymce/src/plugins/visualchars/main/ts/core/VisualChars.ts
  modules/tinymce/src/plugins/visualchars/test/ts/browser/NodesTest.ts
  modules/tinymce/src/plugins/visualchars/test/ts/browser/PluginTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9652: Fixed failing test
  modules/tinymce/src/themes/silver/test/ts/module/TestExtras.ts
Owners: @tinymce/tinymce-reviewers

TINY-9419: `More...` button disapear if it is triggered and view mode is switched (#8543)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/themes/silver/main/ts/ui/general/OuterContainer.ts
  modules/tinymce/src/themes/silver/test/ts/browser/view/ViewTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9588: Rename hook
  modules/tinymce/src/themes/silver/test/ts/browser/window/SilverDialogPositioningTest.ts
Owners: @tinymce/tinymce-reviewers
