Repository tinymce/tinymce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tinymce/tinymce-reviewers, @noxuhax, @tinymce/integrations-team

.github/CODEOWNERS:

* @tinymce/tinymce-reviewers

# Oxide changes should include the design team as well
/modules/oxide/ @tinymce/tinymce-reviewers @noxuhax
/modules/oxide-icons-default/ @tinymce/tinymce-reviewers @noxuhax

# Katamari changes should include the integrations team as well
/modules/katamari/ @tinymce/tinymce-reviewers @tinymce/integrations-team

TINY-10561: add import for `advcode.less`
  modules/oxide/src/less/theme/theme.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-10561: refactor advcode.less
  modules/oxide/src/less/theme/components/advcode/advcode.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-10561: refactor
  modules/oxide/src/less/theme/components/advcode/advcode.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-10561: refactor
  modules/oxide/src/less/theme/components/advcode/advcode.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-10561: add import for `advcode.less` (#9357)
  modules/oxide/src/less/theme/components/advcode/advcode.less
  modules/oxide/src/less/theme/theme.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-10581: Fix render for inline editor with vertical scroll
  modules/tinymce/src/themes/silver/main/ts/ui/header/InlineHeader.ts
  modules/tinymce/src/themes/silver/test/ts/module/StickyHeaderStep.ts
Owners: @tinymce/tinymce-reviewers

TINY-10581: fix changelog entry
  .changes/unreleased/tinymce-TINY-10581-2024-01-24.yaml
Owners: @tinymce/tinymce-reviewers

TINY-10581: add changelog entry
  .changes/unreleased/tinymce-TINY-10581-2024-01-24.yaml
Owners: @tinymce/tinymce-reviewers

TINY-10581: fix check
  modules/tinymce/src/themes/silver/main/ts/ui/header/InlineHeader.ts
Owners: @tinymce/tinymce-reviewers

TINY-9979: Optimize and cleanup
  modules/tinymce/src/core/main/ts/schema/Presets.ts
  modules/tinymce/src/core/test/ts/atomic/schema/PresetsTest.ts
  modules/tinymce/src/core/test/ts/atomic/schema/SchemaElementSetsTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9979: Added preset parsing to valid children parser
  modules/tinymce/src/core/main/ts/api/html/Schema.ts
  modules/tinymce/src/core/main/ts/schema/ValidChildrenRuleParser.ts
  modules/tinymce/src/core/test/ts/atomic/schema/ValidChildrenRuleParserTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9979: Separated element sets from attribute sets
  modules/tinymce/src/core/main/ts/schema/GlobalAttributesSet.ts
  modules/tinymce/src/core/main/ts/schema/SchemaElementSets.ts
  modules/tinymce/src/core/main/ts/schema/SchemaLookupTable.ts
  modules/tinymce/src/core/test/ts/atomic/schema/GlobalAttributesSetTest.ts
  modules/tinymce/src/core/test/ts/atomic/schema/SchemaElementSetsTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9979: Added changelog item
  .changes/unreleased/tinymce-TINY-9979-2024-01-30.yaml
Owners: @tinymce/tinymce-reviewers

TINY-9979: Added presets
  modules/tinymce/src/core/main/ts/api/html/Schema.ts
  modules/tinymce/src/core/main/ts/schema/Presets.ts
  modules/tinymce/src/core/main/ts/schema/SchemaElementSets.ts
  modules/tinymce/src/core/test/ts/atomic/schema/PresetsTest.ts
  modules/tinymce/src/core/test/ts/atomic/schema/SchemaElementSetsTest.ts
  modules/tinymce/src/core/test/ts/browser/html/SchemaTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9979: Cleanup
  modules/tinymce/src/core/test/ts/atomic/schema/GlobalAttributesSetTest.ts
  modules/tinymce/src/core/test/ts/atomic/schema/SchemaElementSetsTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10581: refactor
  modules/tinymce/src/themes/silver/main/ts/ui/header/InlineHeader.ts
Owners: @tinymce/tinymce-reviewers

TINY-10581: test with longer waiter
  modules/tinymce/src/themes/silver/test/ts/module/StickyHeaderStep.ts
Owners: @tinymce/tinymce-reviewers

TINY-10581: test no await in before
  modules/tinymce/src/themes/silver/test/ts/module/StickyHeaderStep.ts
Owners: @tinymce/tinymce-reviewers

Publish
  modules/acid/package.json
  modules/agar/package.json
  modules/alloy/package.json
  modules/boss/package.json
  modules/boulder/package.json
  modules/bridge/package.json
  modules/darwin/package.json
  modules/dragster/package.json
  modules/jax/package.json
  modules/katamari-assertions/package.json
  modules/katamari/package.json
  modules/mcagar/package.json
  modules/oxide-icons-default/package.json
  modules/oxide/package.json
  modules/phoenix/package.json
  modules/polaris/package.json
  modules/porkbun/package.json
  modules/robin/package.json
  modules/sand/package.json
  modules/snooker/package.json
  modules/sugar/package.json
  modules/tinymce/package.json
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team, @noxuhax

TINY-10581: put wait back to 0
  modules/tinymce/src/themes/silver/test/ts/module/StickyHeaderStep.ts
Owners: @tinymce/tinymce-reviewers

TINY-10581: wait back to 10ms
  modules/tinymce/src/themes/silver/test/ts/module/StickyHeaderStep.ts
Owners: @tinymce/tinymce-reviewers

TINY-10457: Fix accidental bump of TinyMCE version
  modules/tinymce/package.json
Owners: @tinymce/tinymce-reviewers

Test local safari
  Jenkinsfile
Owners: @tinymce/tinymce-reviewers

TINY-10581: test with scroll listener
  modules/tinymce/src/themes/silver/test/ts/module/StickyHeaderStep.ts
Owners: @tinymce/tinymce-reviewers

TINY-10581: Fix render for inline editor with vertical scroll (#9327)
  .changes/unreleased/tinymce-TINY-10581-2024-01-24.yaml
  modules/tinymce/src/themes/silver/main/ts/ui/header/InlineHeader.ts
  modules/tinymce/src/themes/silver/test/ts/module/StickyHeaderStep.ts
Owners: @tinymce/tinymce-reviewers

Add version support
  Jenkinsfile
Owners: @tinymce/tinymce-reviewers

TINY-10324: remove redundant comment
  modules/tinymce/src/core/main/ts/textpatterns/keyboard/Keyboard.ts
Owners: @tinymce/tinymce-reviewers

TINY-10324: refactoring
  modules/tinymce/src/core/main/ts/textpatterns/keyboard/KeyHandler.ts
Owners: @tinymce/tinymce-reviewers

TINY-10627: Updated lerna to latest version
  lerna.json
  package.json
  yarn.lock
Owners: @tinymce/tinymce-reviewers

TINY-10627: Updated chai to latest 4.x version
  package.json
  yarn.lock
Owners: @tinymce/tinymce-reviewers

TINY-9979: Fixed typos
  modules/tinymce/src/core/test/ts/browser/html/SchemaTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10640: Fixed issue with context toolbar not hiding on Firefox
  modules/tinymce/src/themes/silver/main/ts/ui/context/ContextToolbar.ts
Owners: @tinymce/tinymce-reviewers

TINY-10324: getMatches
  modules/tinymce/src/core/main/ts/textpatterns/core/BlockPattern.ts
  modules/tinymce/src/core/main/ts/textpatterns/core/BlockPatternOnSpace.ts
  modules/tinymce/src/core/main/ts/textpatterns/keyboard/KeyHandler.ts
Owners: @tinymce/tinymce-reviewers

TINY-10324: post review refactoring
  modules/tinymce/src/core/main/ts/textpatterns/core/BlockPatternOnSpace.ts
  modules/tinymce/src/core/main/ts/textpatterns/core/BlockPatternUtils.ts
  modules/tinymce/src/core/main/ts/textpatterns/core/Pattern.ts
Owners: @tinymce/tinymce-reviewers

Update testing matrix
  Jenkinsfile
Owners: @tinymce/tinymce-reviewers

TINY-10350: Fix safari test
  modules/tinymce/src/core/test/ts/browser/content/EditorContentTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9637: Remove `tooltippingSelector, refactor code
  modules/alloy/src/main/ts/ephox/alloy/behaviour/tooltipping/ActiveTooltipping.ts
  modules/alloy/src/main/ts/ephox/alloy/behaviour/tooltipping/TooltippingSchema.ts
  modules/alloy/src/main/ts/ephox/alloy/behaviour/tooltipping/TooltippingTypes.ts
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/Collection.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/tooltip/CollectionTooltipTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9637: Remove `tooltippingSelector, refactor code
  modules/alloy/src/main/ts/ephox/alloy/behaviour/tooltipping/ActiveTooltipping.ts
  modules/alloy/src/main/ts/ephox/alloy/behaviour/tooltipping/TooltippingSchema.ts
  modules/alloy/src/main/ts/ephox/alloy/behaviour/tooltipping/TooltippingTypes.ts
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/Collection.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/tooltip/CollectionTooltipTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9637: Add changelog
  .changes/unreleased/tinymce-TINY-9637-2024-02-08.yaml
Owners: @tinymce/tinymce-reviewers

TINY-10350: Fix title attribute test
  modules/tinymce/src/themes/silver/test/ts/browser/editor/SilverPopupSinkBoundsTest.ts
Owners: @tinymce/tinymce-reviewers
