Repository tinymce/tinymce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tinymce/tinymce-reviewers, @noxuhax, @tinymce/integrations-team

.github/CODEOWNERS:

* @tinymce/tinymce-reviewers

# Oxide changes should include the design team as well
/modules/oxide/ @tinymce/tinymce-reviewers @noxuhax
/modules/oxide-icons-default/ @tinymce/tinymce-reviewers @noxuhax

# Katamari changes should include the integrations team as well
/modules/katamari/ @tinymce/tinymce-reviewers @tinymce/integrations-team

TINY-10236: Reimplement format: 'raw' getContent using TrimBody
  modules/tinymce/src/core/main/ts/content/GetContentImpl.ts
  modules/tinymce/src/core/main/ts/dom/TrimBody.ts
  modules/tinymce/src/core/main/ts/dom/TrimHtml.ts
  modules/tinymce/src/core/main/ts/undo/Levels.ts
  modules/tinymce/src/core/test/ts/browser/UndoManagerTest.ts
  modules/tinymce/src/core/test/ts/browser/content/EditorGetContentRawTest.ts
  modules/tinymce/src/core/test/ts/browser/content/EditorResetContentTest.ts
  modules/tinymce/src/core/test/ts/browser/dom/SerializerTest.ts
  modules/tinymce/src/core/test/ts/browser/dom/TrimBodyTest.ts
  modules/tinymce/src/core/test/ts/browser/dom/TrimHtmlTest.ts
  modules/tinymce/src/plugins/autosave/test/ts/browser/AutoSavePluginTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10236: Reimplement format: 'raw' getContent using TrimBody
  modules/tinymce/src/core/main/ts/content/GetContentImpl.ts
  modules/tinymce/src/core/main/ts/dom/TrimBody.ts
  modules/tinymce/src/core/main/ts/dom/TrimHtml.ts
  modules/tinymce/src/core/main/ts/undo/Levels.ts
  modules/tinymce/src/core/test/ts/browser/UndoManagerTest.ts
  modules/tinymce/src/core/test/ts/browser/content/EditorGetContentRawTest.ts
  modules/tinymce/src/core/test/ts/browser/content/EditorResetContentTest.ts
  modules/tinymce/src/core/test/ts/browser/dom/SerializerTest.ts
  modules/tinymce/src/core/test/ts/browser/dom/TrimBodyTest.ts
  modules/tinymce/src/core/test/ts/browser/dom/TrimHtmlTest.ts
  modules/tinymce/src/plugins/autosave/test/ts/browser/AutoSavePluginTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9287: Added brightness/saturation 2D selector and hue slider to tabstop targets, added speed multiplier for pressing shift. (#9019)
  modules/acid/src/demo/ts/ephox/acid/demo/Demo.ts
  modules/acid/src/main/ts/ephox/acid/alien/I18n.ts
  modules/acid/src/main/ts/ephox/acid/gui/ColourPicker.ts
  modules/acid/src/main/ts/ephox/acid/gui/components/HueSlider.ts
  modules/acid/src/main/ts/ephox/acid/gui/components/SaturationBrightnessPalette.ts
  modules/alloy/src/main/ts/ephox/alloy/ui/slider/HorizontalModel.ts
  modules/alloy/src/main/ts/ephox/alloy/ui/slider/SliderParts.ts
  modules/alloy/src/main/ts/ephox/alloy/ui/slider/SliderSchema.ts
  modules/alloy/src/main/ts/ephox/alloy/ui/slider/SliderValues.ts
  modules/alloy/src/main/ts/ephox/alloy/ui/slider/TwoDModel.ts
  modules/alloy/src/main/ts/ephox/alloy/ui/slider/VerticalModel.ts
  modules/alloy/src/main/ts/ephox/alloy/ui/types/SliderTypes.ts
  modules/oxide/src/less/theme/components/color-picker/color-picker.less
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/ColorPicker.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/color/ColorPickerSanityTest.ts
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9796: Update `aria-label` on color selected for Text/Background color buttons (#9030)
  modules/bridge/CHANGELOG.md
  modules/bridge/src/main/ts/ephox/bridge/components/menu/NestedMenuItem.ts
  modules/bridge/src/main/ts/ephox/bridge/components/toolbar/ToolbarSplitButton.ts
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/test/ts/browser/fmt/TextDecorationColorTest.ts
  modules/tinymce/src/core/test/ts/browser/focus/HighlightOnFocusTest.ts
  modules/tinymce/src/themes/silver/main/ts/ui/core/color/ColorSwatch.ts
  modules/tinymce/src/themes/silver/main/ts/ui/menus/item/build/NestedMenuItem.ts
  modules/tinymce/src/themes/silver/main/ts/ui/toolbar/button/ToolbarButtons.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/color/ColorAriaLabelTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/color/ColorPickerSanityTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/color/NoneditableRootTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/color/TextColorCommandsTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/color/TextColorFormattingTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/color/TextColorSanityTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/skin/OxideColorSwatchMenuTest.ts
  modules/tinymce/src/themes/silver/test/ts/module/StickyHeaderStep.ts
Owners: @tinymce/tinymce-reviewers

TINY-10237: Added separation of Element and HTMLElement
  modules/tinymce/src/core/main/ts/SelectionOverrides.ts
  modules/tinymce/src/core/main/ts/api/dom/DOMUtils.ts
  modules/tinymce/src/core/main/ts/dom/NodeType.ts
  modules/tinymce/src/core/main/ts/fmt/FormatUtils.ts
  modules/tinymce/src/core/main/ts/fmt/MergeFormats.ts
  modules/tinymce/src/core/main/ts/fmt/MergeUtils.ts
  modules/tinymce/src/core/main/ts/selection/ElementSelection.ts
  modules/tinymce/src/core/test/ts/browser/dom/DomUtilsTest.ts
  modules/tinymce/src/core/test/ts/browser/dom/NodeTypeTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10237: Separated attribute filtering out to processAttr
  modules/tinymce/src/core/main/ts/api/html/Sanitization.ts
Owners: @tinymce/tinymce-reviewers

TINY-10237: Fixed broken test on Safari
  modules/tinymce/src/core/test/ts/browser/html/SanitizationTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10237: Added separate SVG sanitation
  modules/tinymce/src/core/main/ts/api/html/DomParser.ts
  modules/tinymce/src/core/main/ts/html/Sanitization.ts
  modules/tinymce/src/core/test/ts/browser/html/SanitizationTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10237: Moved the Sanitization module and added basic test
  modules/tinymce/src/core/main/ts/api/html/DomParser.ts
  modules/tinymce/src/core/main/ts/html/Sanitization.ts
  modules/tinymce/src/core/test/ts/browser/html/SanitizationTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10237: Added namespace tracker module
  modules/tinymce/src/core/main/ts/html/Namespace.ts
  modules/tinymce/src/core/test/ts/browser/html/NamespaceTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10237: Added SVG element to schema
  modules/tinymce/src/core/main/ts/api/html/Schema.ts
  modules/tinymce/src/core/main/ts/schema/SchemaElementSets.ts
  modules/tinymce/src/core/main/ts/schema/SchemaLookupTable.ts
  modules/tinymce/src/core/test/ts/atomic/schema/SchemaElementSetsTest.ts
  modules/tinymce/src/core/test/ts/browser/html/SchemaTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10237: Enabled SVG elements as opt-in content
  modules/tinymce/src/core/main/ts/ForceBlocks.ts
  modules/tinymce/src/core/main/ts/api/html/DomParser.ts
  modules/tinymce/src/core/main/ts/api/html/Serializer.ts
  modules/tinymce/src/core/main/ts/html/Sanitization.ts
  modules/tinymce/src/core/test/ts/browser/ForceBlocksTest.ts
  modules/tinymce/src/core/test/ts/browser/content/EditorContentTest.ts
  modules/tinymce/src/core/test/ts/browser/content/InsertContentTest.ts
  modules/tinymce/src/core/test/ts/browser/html/DomParserTest.ts
  modules/tinymce/src/core/test/ts/browser/html/SerializerTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10237: Updated changelog
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-10237: More Safari test fixes
  modules/tinymce/src/core/test/ts/browser/html/SanitizationTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10237: Cleanup
  modules/tinymce/src/core/main/ts/api/html/Serializer.ts
  modules/tinymce/src/core/test/ts/browser/content/EditorContentTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10259: Upgrade Bedrock to 12.4.0 to fix macOS Firefox --remote-debugging-port error
  modules/agar/package.json
  modules/katamari-assertions/package.json
  package.json
  yarn.lock
Owners: @tinymce/tinymce-reviewers

TINY-10172: Add test
  modules/tinymce/src/themes/silver/test/ts/browser/throbber/ThrobberFocusTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10172: Add CHANGELOG.md entry
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

Fix applying heading to `summary` content (#9026)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/content/InsertContentImpl.ts
  modules/tinymce/src/core/main/ts/fmt/ExpandRange.ts
  modules/tinymce/src/core/main/ts/html/AstNodeType.ts
  modules/tinymce/src/core/main/ts/html/InvalidNodes.ts
  modules/tinymce/src/core/main/ts/schema/SchemaLookupTable.ts
  modules/tinymce/src/core/test/ts/browser/FormatterApplyTest.ts
  modules/tinymce/src/core/test/ts/browser/fmt/ExpandRangeTest.ts
  modules/tinymce/src/core/test/ts/browser/selection/DetailsElementTest.ts
  modules/tinymce/src/plugins/accordion/test/ts/browser/AccordionFormattingTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10010: add skipEmptyCET param to isEmpty fun
  modules/tinymce/src/core/main/ts/dom/Empty.ts
  modules/tinymce/src/core/main/ts/util/Quirks.ts
  modules/tinymce/src/core/test/ts/browser/delete/CefDeleteTest.ts
  modules/tinymce/src/core/test/ts/browser/dom/EmptyTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10010: remove skipEmptyCET parameter
  modules/tinymce/src/core/main/ts/dom/Empty.ts
Owners: @tinymce/tinymce-reviewers

TINY-10010: update changelog
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-9251: run in container
  Jenkinsfile
Owners: @tinymce/tinymce-reviewers

TINY-10144: add changes to changelog
  .changes/unreleased/Changed-20230925-111345.yaml
Owners: @tinymce/tinymce-reviewers

Remove phantomjs mentions
  Gruntfile.js
Owners: @tinymce/tinymce-reviewers

Ugh, missed that one
  Gruntfile.js
Owners: @tinymce/tinymce-reviewers

TINY-9251: Replace phantomjs package.json scripts with headless scripts
  Gruntfile.js
  package.json
Owners: @tinymce/tinymce-reviewers

TINY-9251: Fix slider test failures
  modules/alloy/src/test/ts/browser/ui/slider/HorizontalSliderTest.ts
  modules/alloy/src/test/ts/browser/ui/slider/TwoDSliderTest.ts
  modules/alloy/src/test/ts/browser/ui/slider/VerticalSliderTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9251: Fix TransitionsTest
  modules/alloy/src/test/ts/browser/position/TransitionsTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9251: Replace phantomjs-test with headless-test in local-ci script
  package.json
Owners: @tinymce/tinymce-reviewers

TINY-9251: Remove all PhantomJS skips in tests
  modules/alloy/src/test/ts/browser/behaviour/TransitioningTest.ts
  modules/alloy/src/test/ts/browser/behaviour/sliding/SlidingInterruptedTest.ts
  modules/alloy/src/test/ts/browser/behaviour/sliding/SlidingTest.ts
  modules/alloy/src/test/ts/browser/ui/form/ExpandableFormTest.ts
  modules/alloy/src/test/ts/browser/ui/slider/HorizontalSliderTest.ts
  modules/alloy/src/test/ts/browser/ui/slider/TwoDSliderTest.ts
  modules/alloy/src/test/ts/browser/ui/slider/VerticalSliderTest.ts
  modules/alloy/src/test/ts/browser/ui/toolbar/SplitFloatingToolbarTest.ts
  modules/alloy/src/test/ts/browser/ui/toolbar/SplitSlidingToolbarTest.ts
  modules/katamari/src/test/ts/atomic/api/arr/ObjSizeTest.ts
  modules/mcagar/src/test/ts/browser/api/TinyScenariosTest.ts
  modules/sugar/src/test/ts/browser/ShadowDomTest.ts
  modules/tinymce/src/core/test/ts/browser/EditorViewTest.ts
  modules/tinymce/src/core/test/ts/browser/SelectionOverridesTest.ts
  modules/tinymce/src/core/test/ts/browser/dom/ScrollIntoViewTest.ts
  modules/tinymce/src/plugins/autoresize/test/ts/browser/AutoresizePluginTest.ts
  modules/tinymce/src/plugins/charmap/test/ts/browser/CharmapAutocompletionTest.ts
  modules/tinymce/src/plugins/fullscreen/test/ts/webdriver/FullscreenPluginNativeModeTest.ts
  modules/tinymce/src/plugins/paste/test/ts/webdriver/CutTest.ts
  modules/tinymce/src/themes/mobile/test/ts/module/test/ui/TestStyles.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/header/StickyHeaderScrollIntoViewTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/skin/OxideCollectionComponentTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/skin/OxideGridCollectionMenuTest.ts
  modules/tinymce/src/themes/silver/test/ts/webdriver/dialogs/DialogFocusTest.ts
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team

TINY-9251: Remove further PhantomJS mentions in BackspaceDeleteTest and TransitionsTest
  modules/alloy/src/test/ts/browser/position/TransitionsTest.ts
  modules/tinymce/src/plugins/lists/test/ts/browser/BackspaceDeleteTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9251: Remove mentions of phantomjs in tinymce README
  modules/tinymce/README.md
Owners: @tinymce/tinymce-reviewers

TINY-10259: Skip TransitionsTest
  modules/alloy/src/test/ts/browser/position/TransitionsTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10259: Remove phantomjs mentions from CONTRIBUTING.md and README.md
  CONTRIBUTING.md
  modules/alloy/README.md
  modules/jax/README.md
Owners: @tinymce/tinymce-reviewers

TINY-10259: Replace phantomjs with chrome-headless in library test scripts
  modules/acid/package.json
  modules/agar/package.json
  modules/alloy/package.json
  modules/boss/package.json
  modules/boulder/package.json
  modules/dragster/package.json
  modules/imagetools/package.json
  modules/jax/package.json
  modules/katamari-assertions/package.json
  modules/mcagar/package.json
  modules/polaris/package.json
  modules/porkbun/package.json
  modules/robin/package.json
  modules/snooker/package.json
Owners: @tinymce/tinymce-reviewers

TINY-10237: Updated changelog
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-10259: Unskip DialogFocusTest for macOS Chrome
  modules/tinymce/src/themes/silver/test/ts/webdriver/dialogs/DialogFocusTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9251: Use tinyPods.nodeBrowser to run selenium Chrome in container
  Jenkinsfile
Owners: @tinymce/tinymce-reviewers

TINY-10213: manage li with a list and then other elements (#9035)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/plugins/lists/main/ts/listmodel/ComposeList.ts
  modules/tinymce/src/plugins/lists/main/ts/listmodel/Entry.ts
  modules/tinymce/src/plugins/lists/main/ts/listmodel/ListsIndendation.ts
  modules/tinymce/src/plugins/lists/main/ts/listmodel/NormalizeEntries.ts
  modules/tinymce/src/plugins/lists/main/ts/listmodel/ParseLists.ts
  modules/tinymce/src/plugins/lists/test/ts/browser/IndentTest.ts
  modules/tinymce/src/plugins/lists/test/ts/browser/ListModelTest.ts
Owners: @tinymce/tinymce-reviewers
