Repository tinymce/tinymce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran, @lostkeys, @noxuhax, @tinymce/integrations-team

TINY-6559: Removed invalid test.
  modules/tinymce/src/core/test/ts/browser/newline/InsertNewLineTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8573: Fix autcomplete border (#7704)
  modules/oxide/src/less/theme/components/form/autocomplete.less
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @lostkeys, @noxuhax, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

Publish
  modules/bridge/package.json
  modules/oxide/package.json
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran, @lostkeys, @noxuhax

TINY-8586: Fix error notifications link color
  modules/oxide/src/less/theme/components/notification/notification.less
Owners: @tinymce/editor-platform-team, @lostkeys, @noxuhax, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8586: Changelog entry
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8586: Fix contrast ratio for error messages (#7712)
  modules/oxide/src/less/theme/components/notification/notification.less
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @lostkeys, @noxuhax, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

Publish
  modules/oxide/package.json
Owners: @tinymce/editor-platform-team, @lostkeys, @noxuhax, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8555: Added changelog entry for 6.0.1 release
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8555: Added changelog entry for 6.0.1 release (#7714)
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8555: Fixed merge issues in the changelog
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-7715: Alignment can be applied to pre-blocks.
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/fmt/DefaultFormats.ts
  modules/tinymce/src/core/test/ts/browser/FormattingCommandsTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-6559: Now exit the blockquote when pressing enter twice (#7636)
  Gruntfile.js
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/api/OptionTypes.ts
  modules/tinymce/src/core/main/ts/api/Options.ts
  modules/tinymce/src/core/main/ts/newline/InsertBlock.ts
  modules/tinymce/src/core/test/ts/browser/newline/InsertNewLineTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-7715: Split up large test block into individual tests.
  modules/tinymce/src/core/test/ts/browser/FormattingCommandsTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-7715: Updated changelog.
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

Cancelable indent/outdent commands in lists plugin
  modules/tinymce/src/plugins/lists/main/ts/api/Commands.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

Update changelog
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8534: Add `opaque` prop form dialog iframes, update Preview and Insert template dialogs
  modules/bridge/src/main/ts/ephox/bridge/components/dialog/Iframe.ts
  modules/oxide/src/less/theme/components/dialog/dialog.less
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/plugins/preview/main/ts/ui/Dialog.ts
  modules/tinymce/src/plugins/template/main/ts/ui/Dialog.ts
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/IFrame.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran, @lostkeys, @noxuhax

TINY-7715: Alignment could not be applied to pre-blocks (#7717)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/fmt/DefaultFormats.ts
  modules/tinymce/src/core/test/ts/browser/FormattingCommandsTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8215: triple click selection implementation
  modules/tinymce/src/core/main/ts/selection/MultiClickSelection.ts
  modules/tinymce/src/core/test/ts/browser/selection/MultiClickSelectionTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-7005: Changed window close from keydown to keyup.
  modules/alloy/src/main/ts/ephox/alloy/api/ui/TouchMenu.ts
  modules/alloy/src/main/ts/ephox/alloy/keying/TabbingTypes.ts
  modules/alloy/src/test/ts/browser/behaviour/keying/WidgetKeyingTest.ts
  modules/alloy/src/test/ts/browser/ui/dialog/ModalDialogTest.ts
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/plugins/preview/test/ts/browser/PreviewSanityTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/SilverDialogPopupsTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

Included .targets file for nuget package
  modules/tinymce/tools/nuget/build/TinyMCE.targets
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

Included .targets file in the nuget package
  modules/tinymce/Gruntfile.js
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

Added entry to Changelog
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8215: fix eslint warnings
  modules/tinymce/src/core/main/ts/selection/MultiClickSelection.ts
  modules/tinymce/src/core/test/ts/browser/selection/MultiClickSelectionTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8592: List backspace function no longer steps into tables. Typed Treewalker better.
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/api/dom/TreeWalker.ts
  modules/tinymce/src/core/test/ts/browser/dom/TreeWalkerTest.ts
  modules/tinymce/src/plugins/lists/main/ts/core/Delete.ts
  modules/tinymce/src/plugins/lists/test/ts/browser/BackspaceDeleteFromBlockIntoLiTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8215: use range nodes paths in tests
  modules/tinymce/src/core/main/ts/selection/MultiClickSelection.ts
  modules/tinymce/src/core/test/ts/browser/selection/MultiClickSelectionTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8215: restrict traversing to closest parent block scope
  modules/tinymce/src/core/main/ts/selection/MultiClickSelection.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8215: handle range edges within cef elements
  modules/tinymce/src/core/main/ts/selection/MultiClickSelection.ts
  modules/tinymce/src/core/test/ts/browser/selection/MultiClickSelectionTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8215: avoid code duplication
  modules/tinymce/src/core/main/ts/selection/MultiClickSelection.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8215: add 'detail' to mouse event Settings type
  modules/agar/src/main/ts/ephox/agar/mouse/Clicks.ts
  modules/tinymce/src/core/test/ts/browser/selection/MultiClickSelectionTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8215: fix formatting issue
  modules/tinymce/src/core/main/ts/selection/MultiClickSelection.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8215: update agar changelog
  modules/agar/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

Added iframeTemplateCallback
  modules/tinymce/src/plugins/media/main/ts/api/Options.ts
  modules/tinymce/src/plugins/media/main/ts/core/DataToHtml.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8215: update tinymce changelog
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8215: update changelog entry grammar
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8534: Fixes after review
  modules/bridge/src/main/ts/ephox/bridge/components/dialog/Iframe.ts
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/plugins/preview/main/ts/ui/Dialog.ts
  modules/tinymce/src/plugins/template/main/ts/ui/Dialog.ts
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/IFrame.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8215: restrict scope to cet elements
  modules/tinymce/src/core/main/ts/selection/MultiClickSelection.ts
  modules/tinymce/src/core/test/ts/browser/selection/MultiClickSelectionTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

Making default color of text marker tool yellow
  modules/tinymce/src/themes/silver/main/ts/ui/core/color/ColorSwatch.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

Update formatting in CHANGELOG.md
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8592: Change of methology.
  modules/tinymce/src/core/main/ts/api/dom/TreeWalker.ts
  modules/tinymce/src/core/test/ts/browser/dom/TreeWalkerTest.ts
  modules/tinymce/src/plugins/lists/main/ts/core/Delete.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

.github/CODEOWNERS:

* @tinymce/editor-platform-team @spocke @lnewson @ltrouton @HAFRMO @tiny-ben-tran

# Oxide changes should include the design team as well
/modules/oxide/ @tinymce/editor-platform-team @lostkeys @noxuhax @spocke @lnewson @ltrouton @HAFRMO @tiny-ben-tran
/modules/oxide-icons-default/ @tinymce/editor-platform-team @lostkeys @noxuhax @spocke @lnewson @ltrouton @HAFRMO @tiny-ben-tran

# Katamari changes should include the integrations team as well
/modules/katamari/ @tinymce/editor-platform-team @tinymce/integrations-team @spocke @lnewson @ltrouton @HAFRMO @tiny-ben-tran
