Repository tinymce/tinymce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tinymce/tinymce-reviewers, @noxuhax, @tinymce/integrations-team

.github/CODEOWNERS:

* @tinymce/tinymce-reviewers

# Oxide changes should include the design team as well
/modules/oxide/ @tinymce/tinymce-reviewers @noxuhax
/modules/oxide-icons-default/ @tinymce/tinymce-reviewers @noxuhax

# Katamari changes should include the integrations team as well
/modules/katamari/ @tinymce/tinymce-reviewers @tinymce/integrations-team

TINY-9614: Fix navigation inside tree using keyboard (#8485)
  modules/alloy/src/main/ts/ephox/alloy/api/ui/Button.ts
  modules/oxide/src/less/theme/components/tree/tree-button.less
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/themes/silver/demo/ts/demo/TreeDemo.ts
  modules/tinymce/src/themes/silver/main/ts/ui/button/MenuButton.ts
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/Tree.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/SilverDialogTreeTest.ts
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9603: Fix an invisible space after applying heading text_patterns
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/textpatterns/core/BlockPattern.ts
  modules/tinymce/src/core/test/ts/browser/textpatterns/TextPatternsTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9603: Fix TextPatternsTest
  modules/tinymce/src/core/test/ts/browser/textpatterns/TextPatternsTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9603: Fix eslint errors
  modules/tinymce/src/core/main/ts/textpatterns/core/BlockPattern.ts
  modules/tinymce/src/core/test/ts/browser/textpatterns/TextPatternsTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9603: Update removing space
  modules/tinymce/src/core/main/ts/textpatterns/core/BlockPattern.ts
Owners: @tinymce/tinymce-reviewers

TINY-9603: Fix an invisible space after applying heading text_patterns (#8502)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/textpatterns/core/BlockPattern.ts
  modules/tinymce/src/core/test/ts/browser/textpatterns/TextPatternsTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9176: Improve contrast and focus styles of UI buttons (#8499)
  modules/oxide/src/less/skins/ui/tinymce-5-dark/skin.less
  modules/oxide/src/less/skins/ui/tinymce-5/skin.less
  modules/oxide/src/less/theme/components/collection/collection.less
  modules/oxide/src/less/theme/components/menubar/menubar-button.less
  modules/oxide/src/less/theme/components/toolbar-button/toolbar-button.less
  modules/oxide/src/less/theme/components/toolbar-button/toolbar-select-button.less
  modules/oxide/src/less/theme/components/toolbar-button/toolbar-split-button.less
  modules/oxide/src/less/theme/globals/global-variables.less
  modules/oxide/src/less/theme/globals/global.less
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9649: Prevent getColorCols from returning less than 5
  modules/tinymce/src/themes/silver/main/ts/ui/core/color/Options.ts
Owners: @tinymce/tinymce-reviewers

TINY-8363: Fix tests previously skipped due to false-positive mXSS detection by DOMPurify (#8490)
  modules/tinymce/src/core/test/ts/browser/dom/SerializerTest.ts
  modules/tinymce/src/core/test/ts/browser/html/DomParserTest.ts
  modules/tinymce/src/plugins/media/test/ts/browser/ContentFormatsTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9649: Allow fewer than 5 columns
  modules/tinymce/src/themes/silver/main/ts/ui/core/color/Options.ts
Owners: @tinymce/tinymce-reviewers

TINY-9649: Add test for setting to 0
  modules/tinymce/src/themes/silver/test/ts/browser/editor/color/TextColorSanityTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9649: Update changelog
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-9647: Two duplicated lines in the TinyMCE Changelog (#8518)
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-9649: Revert colorCols calculation
  modules/tinymce/src/themes/silver/main/ts/ui/core/color/Options.ts
Owners: @tinymce/tinymce-reviewers

TINY-8122: Refactor the test cases
  modules/tinymce/src/plugins/wordcount/test/ts/browser/PluginTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9606: fixed test labels ticket ids (#8520)
  modules/tinymce/src/core/test/ts/browser/DragDropOverridesTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9663: now view header scrolls on mobile
  modules/oxide/src/less/theme/components/view/view.less
  modules/tinymce/src/themes/silver/main/ts/ui/view/View.ts
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9649: Fix tense in changelog
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-9649: Prevent zero color columns from crashing page (#8523)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/themes/silver/main/ts/ui/core/color/Options.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/color/TextColorSanityTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9652: Hide when editor is out of view in a scrollable container
  modules/alloy/src/main/ts/ephox/alloy/behaviour/docking/DockingApis.ts
  modules/tinymce/src/themes/silver/main/ts/modes/Inline.ts
  modules/tinymce/src/themes/silver/main/ts/ui/header/InlineHeader.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/scrolling/EditorInScrollingContainerTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8122: Update test cases
  modules/tinymce/src/plugins/wordcount/test/ts/browser/PluginTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9599: Incorrect event target for dragend and drop events when dragging and dropping noneditable elements within editor (#8521)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/DragDropOverrides.ts
  modules/tinymce/src/core/main/ts/events/DragEvents.ts
  modules/tinymce/src/core/test/ts/browser/DragDropOverridesTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9419: first attempt of fix
  modules/tinymce/src/themes/silver/main/ts/ui/general/OuterContainer.ts
  modules/tinymce/src/themes/silver/test/ts/browser/view/ViewTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9640: Make keyboard navigation of tree compliant with a11y recommendations from mdn.
  modules/alloy/src/main/ts/ephox/alloy/keying/FlowType.ts
  modules/alloy/src/main/ts/ephox/alloy/keying/KeyingModeTypes.ts
  modules/oxide/src/less/theme/components/tree/tree-button.less
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/Tree.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/SilverDialogTreeTest.ts
  modules/tinymce/src/themes/silver/test/ts/headless/components/tree/TreeTest.ts
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9667: set width for dialog left side bar
  modules/oxide/src/less/theme/components/advtemplate/advtemplate.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9640: Add changelog entry
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-9640: Remove redundant call to getTreeItem in test
  modules/tinymce/src/themes/silver/test/ts/headless/components/tree/TreeTest.ts
Owners: @tinymce/tinymce-reviewers

Clean up our dependency lists, make sure devDependencies are not listed as dependencies
  modules/acid/package.json
  modules/agar/package.json
  modules/alloy/package.json
  modules/boss/package.json
  modules/bridge/package.json
  modules/darwin/package.json
  modules/dragster/package.json
  modules/jax/package.json
  modules/katamari-assertions/package.json
  modules/katamari/package.json
  modules/mcagar/package.json
  modules/oxide/package.json
  modules/phoenix/package.json
  modules/polaris/package.json
  modules/robin/package.json
  modules/sand/package.json
  modules/snooker/package.json
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team, @noxuhax

Remove accidental trailing comma
  modules/mcagar/package.json
Owners: @tinymce/tinymce-reviewers

TINY-9670: Move iframe init code sideways from InitContentBody to InitIframe
  modules/tinymce/src/core/main/ts/init/Init.ts
  modules/tinymce/src/core/main/ts/init/InitContentBody.ts
  modules/tinymce/src/core/main/ts/init/InitIframe.ts
Owners: @tinymce/tinymce-reviewers

TINY-9664: hiding toolbar on noneditable tables
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/plugins/table/main/ts/ui/Buttons.ts
  modules/tinymce/src/plugins/table/test/ts/browser/ui/ContextToolbarTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9663: now view header scrolls on mobile (#8524)
  modules/oxide/src/less/theme/components/view/view.less
  modules/tinymce/src/themes/silver/main/ts/ui/view/View.ts
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9671: now is possible to naviate the view header with the keyboard
  modules/tinymce/src/themes/silver/main/ts/ui/view/View.ts
Owners: @tinymce/tinymce-reviewers

TINY-9652: Review fixes
  modules/alloy/src/main/ts/ephox/alloy/behaviour/docking/DockingApis.ts
Owners: @tinymce/tinymce-reviewers

TINY-9176: Fix disabled menu item icons
  modules/oxide/src/less/theme/components/collection/collection.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9176: Fix disabled focus
  modules/oxide/src/less/theme/components/toolbar-button/toolbar-button.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9176: Fix split button disabled, focus and border
  modules/oxide/src/less/theme/components/toolbar-button/toolbar-split-button.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9176: Revert variable names
  modules/oxide/src/less/theme/components/collection/collection.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-8122: Update `punctuationStr`
  modules/polaris/src/main/ts/ephox/polaris/words/UnicodeData.ts
Owners: @tinymce/tinymce-reviewers

TINY-9176: Fix disabled button
  modules/oxide/src/less/theme/components/toolbar-button/toolbar-button.less
Owners: @tinymce/tinymce-reviewers, @noxuhax
