Repository tinymce/tinymce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran, @lostkeys, @noxuhax, @tinymce/integrations-team

TINY-8299: Fixed harmless console error in model demo
  modules/tinymce/src/models/dom/demo/html/demo/basic-demo.html
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8660: Fixed iframe media elements not updating when changing the source URL
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/plugins/media/main/ts/core/UpdateHtml.ts
  modules/tinymce/src/plugins/media/test/ts/browser/MediaPluginSanityTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8592: List backspace function no longer steps into tables (#7733)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/api/dom/TreeWalker.ts
  modules/tinymce/src/plugins/lists/main/ts/core/Delete.ts
  modules/tinymce/src/plugins/lists/test/ts/browser/BackspaceDeleteFromBlockIntoLiTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8617: Improve visual clarity for text based toolbar selects (#7765)
  modules/oxide/src/less/skins/ui/tinymce-5/skin.less
  modules/oxide/src/less/theme/components/toolbar-button/toolbar-select-button.less
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @lostkeys, @noxuhax, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8606: Fixed the selection not deleted on `InsertParagraph` execution (#7764)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/demo/ts/demo/CommandsDemo.ts
  modules/tinymce/src/core/main/ts/keyboard/EnterKey.ts
  modules/tinymce/src/core/main/ts/newline/InsertNewLine.ts
  modules/tinymce/src/core/main/ts/newline/NewLineAction.ts
  modules/tinymce/src/core/test/ts/browser/api/commands/NewlineCommandsTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-7005: More escape upwards, tests, and fixups.
  modules/alloy/CHANGELOG.md
  modules/alloy/package.json
  modules/alloy/src/main/ts/ephox/alloy/keying/EscapingType.ts
  modules/alloy/src/main/ts/ephox/alloy/keying/FlatgridType.ts
  modules/alloy/src/main/ts/ephox/alloy/keying/FlowType.ts
  modules/alloy/src/main/ts/ephox/alloy/keying/SpecialType.ts
  modules/alloy/src/test/ts/browser/behaviour/keying/FlowKeyingTest.ts
  modules/alloy/src/test/ts/browser/behaviour/keying/SpecialKeyingTest.ts
  modules/alloy/src/test/ts/browser/ui/button/FloatingToolbarButtonTest.ts
  modules/alloy/src/test/ts/browser/ui/dropdown/DropdownListTest.ts
  modules/alloy/src/test/ts/browser/ui/dropdown/DropdownMenuTest.ts
  modules/alloy/src/test/ts/browser/ui/dropdown/SplitDropdownTest.ts
  modules/alloy/src/test/ts/browser/ui/dropdown/TieredMenuTest.ts
  modules/alloy/src/test/ts/browser/ui/typeahead/TypeaheadEscEnterBubbleTest.ts
  modules/alloy/src/test/ts/browser/ui/typeahead/TypeaheadNoBlurTest.ts
  modules/alloy/src/test/ts/browser/ui/typeahead/TypeaheadSelectsOverTest.ts
  modules/alloy/src/test/ts/browser/ui/typeahead/TypeaheadTest.ts
  modules/tinymce/CHANGELOG.md
  versions.txt
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8299: Update webpack, webpack-dev-server, and friends (#7763)
  CONTRIBUTING.md
  modules/acid/webpack.config.js
  modules/agar/webpack.config.js
  modules/alloy/Gruntfile.js
  modules/alloy/package.json
  modules/boss/webpack.config.js
  modules/boulder/webpack.config.js
  modules/darwin/webpack.config.js
  modules/dragster/webpack.config.js
  modules/jax/src/demo/html/index.html
  modules/jax/webpack.config.js
  modules/katamari/webpack.config.js
  modules/mcagar/webpack.config.js
  modules/phoenix/webpack.config.js
  modules/polaris/webpack.config.js
  modules/porkbun/webpack.config.js
  modules/robin/webpack.config.js
  modules/sand/webpack.config.js
  modules/snooker/webpack.config.js
  modules/sugar/webpack.config.js
  modules/tinymce/Gruntfile.js
  modules/tinymce/src/models/dom/demo/html/demo/basic-demo.html
  modules/tinymce/tools/modules/grunt-webpack.js
  modules/tinymce/tsconfig.model.json
  modules/tinymce/tsconfig.plugin.json
  modules/tinymce/tsconfig.theme.json
  package.json
  patches/@ephox+bedrock-server+11.5.0.patch
  tsconfig.demo.json
  yarn.lock
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran, @tinymce/integrations-team

TINY-8660: Fixed media elements not updating when changing the source URL (#7776)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/plugins/media/main/ts/core/UpdateHtml.ts
  modules/tinymce/src/plugins/media/test/ts/browser/MediaPluginSanityTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8215: use Cursors.CursorPath
  modules/tinymce/src/core/main/ts/selection/MultiClickSelection.ts
  modules/tinymce/src/core/test/ts/browser/selection/MultiClickSelectionTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8647: Fixes after review
  modules/oxide/src/less/theme/components/toolbar-button/toolbar-select-button.less
  modules/oxide/src/less/theme/components/toolbar-button/toolbar-split-button.less
Owners: @tinymce/editor-platform-team, @lostkeys, @noxuhax, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8601: getPositionFromRange
  modules/tinymce/src/core/main/ts/keyboard/BoundarySelection.ts
  modules/tinymce/src/core/test/ts/browser/keyboard/ArrowKeysInlineBoundariesTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8601: get rid of redundant Editor parameter
  modules/tinymce/src/core/main/ts/keyboard/BoundarySelection.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8601: update changelog
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

Publish
  modules/oxide/package.json
Owners: @tinymce/editor-platform-team, @lostkeys, @noxuhax, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8588: NBSP preserved in some situations.
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/caret/CaretUtils.ts
  modules/tinymce/src/core/main/ts/keyboard/Nbsps.ts
  modules/tinymce/src/core/test/ts/browser/content/EditorNbspTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-7005: Minor Fixup
  modules/alloy/CHANGELOG.md
  modules/alloy/package.json
  modules/alloy/src/main/ts/ephox/alloy/keying/SpecialType.ts
  versions.txt
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8599: code cleanup
  modules/tinymce/src/core/main/ts/bookmark/ResolveBookmark.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8599: added test for selection direction and fixed non working tests
  modules/tinymce/src/plugins/visualchars/test/ts/browser/DefaultStateTest.ts
  modules/tinymce/src/plugins/visualchars/test/ts/browser/PluginTest.ts
  modules/tinymce/src/plugins/visualchars/test/ts/module/test/Utils.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8662: Use the correct name for enhanced image editing
  modules/tinymce/src/plugins/help/main/ts/data/PluginUrls.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8662: Fixed plugin ordering
  modules/tinymce/src/plugins/help/main/ts/data/PluginUrls.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8663: Fixed some tests that failed to run in isolation
  modules/tinymce/src/core/test/ts/browser/UndoManagerTest.ts
  modules/tinymce/src/plugins/autoresize/test/ts/browser/AutoresizePluginTest.ts
  modules/tinymce/src/plugins/image/test/ts/browser/UploadTabTest.ts
  modules/tinymce/src/plugins/link/test/ts/browser/DefaultLinkTargetTest.ts
  modules/tinymce/src/plugins/wordcount/test/ts/browser/PluginTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/core/UndoRedoTest.ts
  modules/tinymce/src/themes/silver/test/ts/headless/components/listbox/ListBoxTest.ts
  modules/tinymce/src/themes/silver/test/ts/headless/components/sizeinput/SizeInputTest.ts
  modules/tinymce/src/themes/silver/test/ts/headless/sketchers/SilverMenubarTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8663: Fixed some tests that failed to run in isolation (#7784)
  modules/tinymce/src/core/test/ts/browser/UndoManagerTest.ts
  modules/tinymce/src/plugins/autoresize/test/ts/browser/AutoresizePluginTest.ts
  modules/tinymce/src/plugins/image/test/ts/browser/UploadTabTest.ts
  modules/tinymce/src/plugins/link/test/ts/browser/DefaultLinkTargetTest.ts
  modules/tinymce/src/plugins/wordcount/test/ts/browser/PluginTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/core/UndoRedoTest.ts
  modules/tinymce/src/themes/silver/test/ts/headless/components/listbox/ListBoxTest.ts
  modules/tinymce/src/themes/silver/test/ts/headless/components/sizeinput/SizeInputTest.ts
  modules/tinymce/src/themes/silver/test/ts/headless/sketchers/SilverMenubarTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8662: Use the correct name for enhanced image editing (#7783)
  modules/tinymce/src/plugins/help/main/ts/data/PluginUrls.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

Update modules/tinymce/CHANGELOG.md
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8647: Fix custom toolbar select buttons width on touch devices (#7775)
  modules/oxide/src/less/theme/components/toolbar-button/toolbar-select-button.less
  modules/oxide/src/less/theme/components/toolbar-button/toolbar-split-button.less
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @lostkeys, @noxuhax, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8599: added selection direction to bookmarks (#7749)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/bookmark/BookmarkTypes.ts
  modules/tinymce/src/core/main/ts/bookmark/Bookmarks.ts
  modules/tinymce/src/core/main/ts/bookmark/GetBookmark.ts
  modules/tinymce/src/core/main/ts/bookmark/ResolveBookmark.ts
  modules/tinymce/src/core/test/ts/browser/UndoManagerTest.ts
  modules/tinymce/src/core/test/ts/browser/bookmark/BookmarksTest.ts
  modules/tinymce/src/core/test/ts/browser/undo/LevelsTest.ts
  modules/tinymce/src/plugins/visualchars/test/ts/browser/DefaultStateTest.ts
  modules/tinymce/src/plugins/visualchars/test/ts/browser/PluginTest.ts
  modules/tinymce/src/plugins/visualchars/test/ts/module/test/Utils.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

Publish
  modules/oxide/package.json
Owners: @tinymce/editor-platform-team, @lostkeys, @noxuhax, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8638: Update changelog for TinyMCE 6.0.2 release
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8519: Update changelog for TinyMCE 5.10.4 release
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8638: Update changelog for TinyMCE 6.0.2 release (#7786)
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8519: Update changelog for TinyMCE 5.10.4 release (#7787)
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8588: Fixups
  modules/tinymce/src/core/main/ts/keyboard/Nbsps.ts
  modules/tinymce/src/core/test/ts/browser/content/EditorNbspTest.ts
  modules/tinymce/src/core/test/ts/browser/keyboard/SpaceKeyTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8349: Convert xhr to fetch where possible
  modules/tinymce/src/core/main/ts/file/Conversions.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-7005: Test-fixes of plugins.
  modules/tinymce/src/plugins/importcss/test/ts/module/MenuNavigationTestUtils.ts
  modules/tinymce/src/plugins/searchreplace/test/ts/browser/SearchReplaceKeyboardNavigationTest.ts
  modules/tinymce/src/plugins/table/test/ts/module/test/TableModifiersTestUtils.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8588: Lint Issue
  modules/tinymce/src/core/test/ts/browser/keyboard/SpaceKeyTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8601: use TinySelection.setSelection
  modules/tinymce/src/core/test/ts/browser/keyboard/ArrowKeysInlineBoundariesTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8601: update changelog
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8601: update context title
  modules/tinymce/src/core/test/ts/browser/keyboard/ArrowKeysInlineBoundariesTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8601: remove 'it' from title test
  modules/tinymce/src/core/test/ts/browser/keyboard/ArrowKeysInlineBoundariesTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8601: remove 'it' from title test
  modules/tinymce/src/core/test/ts/browser/keyboard/ArrowKeysInlineBoundariesTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

.github/CODEOWNERS:

* @tinymce/editor-platform-team @spocke @lnewson @ltrouton @HAFRMO @tiny-ben-tran

# Oxide changes should include the design team as well
/modules/oxide/ @tinymce/editor-platform-team @lostkeys @noxuhax @spocke @lnewson @ltrouton @HAFRMO @tiny-ben-tran
/modules/oxide-icons-default/ @tinymce/editor-platform-team @lostkeys @noxuhax @spocke @lnewson @ltrouton @HAFRMO @tiny-ben-tran

# Katamari changes should include the integrations team as well
/modules/katamari/ @tinymce/editor-platform-team @tinymce/integrations-team @spocke @lnewson @ltrouton @HAFRMO @tiny-ben-tran
