Repository tinymce/tinymce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tinymce/tinymce-reviewers, @noxuhax, @tinymce/integrations-team

.github/CODEOWNERS:

* @tinymce/tinymce-reviewers

# Oxide changes should include the design team as well
/modules/oxide/ @tinymce/tinymce-reviewers @noxuhax
/modules/oxide-icons-default/ @tinymce/tinymce-reviewers @noxuhax

# Katamari changes should include the integrations team as well
/modules/katamari/ @tinymce/tinymce-reviewers @tinymce/integrations-team

TINY-10474: Dynamically update custom tooltips based on button state
  modules/tinymce/src/themes/silver/main/ts/backstage/TooltipsBackstage.ts
  modules/tinymce/src/themes/silver/main/ts/ui/core/complex/BespokeSelect.ts
  modules/tinymce/src/themes/silver/main/ts/ui/toolbar/button/ToolbarButtons.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/tooltip/DynamicTooltipTest.ts
  modules/tinymce/src/themes/silver/test/ts/headless/window/SilverDialogEventTest.ts
  modules/tinymce/src/themes/silver/test/ts/module/TestBackstage.ts
  modules/tinymce/src/themes/silver/test/ts/module/TestProviders.ts
  modules/tinymce/src/themes/silver/test/ts/module/TooltipUtils.ts
Owners: @tinymce/tinymce-reviewers

TINY-10572: Added a function to the emoji plugin to get the emojis. (#9336)
  .changes/unreleased/tinymce-TINY-10572-2024-01-29.yaml
  modules/tinymce/src/plugins/emoticons/main/ts/Plugin.ts
  modules/tinymce/src/plugins/emoticons/test/ts/browser/EmoticonsPluginTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10474: Add removed code
  modules/tinymce/src/themes/silver/main/ts/ui/toolbar/button/ToolbarButtons.ts
Owners: @tinymce/tinymce-reviewers

TINY-10350: Apply suggestions
  modules/polaris/src/test/ts/atomic/api/UrlTest.ts
  modules/tinymce/src/core/main/ts/api/Options.ts
  modules/tinymce/src/core/main/ts/api/html/DomParser.ts
  modules/tinymce/src/core/main/ts/content/PrePostProcess.ts
  modules/tinymce/src/core/main/ts/html/Embed.ts
  modules/tinymce/src/core/main/ts/html/ParserFilters.ts
  modules/tinymce/src/core/test/ts/browser/html/DomParserTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10434: Add `revision-history` icon (#9334)
  modules/oxide-icons-default/src/svg/revision-history.svg
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-10335: remove changie
  .changes/unreleased/tinymce-TINY-10335-2023-12-21.yaml
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-10324: added BlockPatternsOnSpace module
  .changes/unreleased/tinymce-TINY-10324-2024-02-02.yaml
  modules/tinymce/src/core/main/ts/api/Options.ts
  modules/tinymce/src/core/main/ts/textpatterns/core/BlockPatternOnSpace.ts
  modules/tinymce/src/core/main/ts/textpatterns/keyboard/KeyHandler.ts
  modules/tinymce/src/core/main/ts/textpatterns/keyboard/Keyboard.ts
  modules/tinymce/src/core/test/ts/browser/textpatterns/BlockPatternsOnSpaceTest.ts
  modules/tinymce/src/core/test/ts/browser/textpatterns/FindBlockPatternsTest.ts
  modules/tinymce/src/core/test/ts/module/test/TextPatternsUtils.ts
Owners: @tinymce/tinymce-reviewers

TINY-10324: remove old change log entry
  .changes/unreleased/tinymce-TINY-10324-2024-01-18.yaml
Owners: @tinymce/tinymce-reviewers

TINY-10324: remove code duplication
  modules/tinymce/src/core/main/ts/textpatterns/core/BlockPattern.ts
  modules/tinymce/src/core/main/ts/textpatterns/core/BlockPatternOnSpace.ts
  modules/tinymce/src/core/main/ts/textpatterns/core/BlockPatternUtils.ts
Owners: @tinymce/tinymce-reviewers

TINY-10324: handle trigger in the middle
  modules/tinymce/src/core/main/ts/textpatterns/core/BlockPatternUtils.ts
  modules/tinymce/src/core/main/ts/textpatterns/keyboard/KeyHandler.ts
  modules/tinymce/src/core/test/ts/browser/textpatterns/BlockPatternsOnSpaceTest.ts
Owners: @tinymce/tinymce-reviewers

Back to LT
  Jenkinsfile
  package.json
  yarn.lock
Owners: @tinymce/tinymce-reviewers

TINY-10324: specify space key code
  modules/tinymce/src/core/main/ts/textpatterns/keyboard/Keyboard.ts
Owners: @tinymce/tinymce-reviewers

TINY-10433: Fixed incorect object processor for `event_root` option
  .changes/unreleased/tinymce-TINY-10433-2024-02-05.yaml
  modules/tinymce/src/core/main/ts/api/Options.ts
Owners: @tinymce/tinymce-reviewers

TINY-10335: Fix markdown formatting
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-10474: Removed duplicate calls for `spec.onShow`
  modules/tinymce/src/themes/silver/main/ts/backstage/TooltipsBackstage.ts
Owners: @tinymce/tinymce-reviewers

TINY-9638: Add custom tooltips to autocompleter (#9341)
  modules/tinymce/src/themes/silver/main/ts/ui/menus/item/build/AutocompleteMenuItem.ts
  modules/tinymce/src/themes/silver/main/ts/ui/menus/menu/SingleMenu.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/tooltip/AutocompleterTooltipTest.ts
  modules/tinymce/src/themes/silver/test/ts/module/TooltipUtils.ts
Owners: @tinymce/tinymce-reviewers

TINY-10487: Include shortcut in tooltips for `ToolbarButton` and `Too… (#9338)
  .changes/unreleased/bridge-TINY-10487-2024-01-24.yaml
  .changes/unreleased/tinymce-TINY-10487-2024-01-24.yaml
  modules/bridge/src/main/ts/ephox/bridge/components/toolbar/ToolbarButton.ts
  modules/bridge/src/main/ts/ephox/bridge/components/toolbar/ToolbarToggleButton.ts
  modules/tinymce/src/plugins/fullscreen/main/ts/ui/Buttons.ts
  modules/tinymce/src/plugins/link/main/ts/ui/Controls.ts
  modules/tinymce/src/plugins/save/main/ts/ui/Buttons.ts
  modules/tinymce/src/plugins/searchreplace/main/ts/ui/Buttons.ts
  modules/tinymce/src/themes/silver/main/ts/ui/core/SimpleControls.ts
  modules/tinymce/src/themes/silver/main/ts/ui/core/UndoRedo.ts
  modules/tinymce/src/themes/silver/main/ts/ui/toolbar/button/ToolbarButtons.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/tooltip/TooltipShortcutTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/tooltip/TooltipTest.ts
  modules/tinymce/src/themes/silver/test/ts/headless/toolbar/ToolbarButtonsTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10579: Re-enabled tests and fixed flakes (#9332)
  modules/tinymce/src/core/test/ts/webdriver/keyboard/IframeTabfocusTest.ts
  modules/tinymce/src/plugins/charmap/test/ts/browser/CharmapDialogHeightTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/bespoke/SilverBespokeButtonsTest.ts
  modules/tinymce/src/themes/silver/test/ts/headless/components/iframe/IframeTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10579: Re-enabled tests and fixed flakes (#9332) (#9356)
  modules/tinymce/src/core/test/ts/webdriver/keyboard/IframeTabfocusTest.ts
  modules/tinymce/src/plugins/charmap/test/ts/browser/CharmapDialogHeightTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/bespoke/SilverBespokeButtonsTest.ts
  modules/tinymce/src/themes/silver/test/ts/headless/components/iframe/IframeTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10561: fix CSS for advcode dialog and view mode (#9337)
  .changes/unreleased/tinymce-TINY-10561-2024-01-29.yaml
  modules/oxide/src/less/theme/components/advcode/advcode.less
  modules/oxide/src/less/theme/components/view/view.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-10185: Tweak dependencies and scripts (#9251)
  bin/build-prism.js
  modules/acid/package.json
  modules/agar/package.json
  modules/agar/src/main/ts/ephox/agar/api/Assertions.ts
  modules/alloy/package.json
  modules/boss/package.json
  modules/boulder/package.json
  modules/bridge/package.json
  modules/darwin/package.json
  modules/dragster/package.json
  modules/katamari-assertions/package.json
  modules/katamari/package.json
  modules/mcagar/package.json
  modules/oxide-icons-default/package.json
  modules/oxide-icons-default/project.json
  modules/oxide/package.json
  modules/oxide/project.json
  modules/phoenix/package.json
  modules/polaris/package.json
  modules/porkbun/package.json
  modules/robin/package.json
  modules/sand/package.json
  modules/snooker/package.json
  modules/sugar/package.json
  modules/tinymce/package.json
  modules/tinymce/project.json
  package.json
  yarn.lock
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team, @noxuhax

TINY-10457: Include Gruntfile as a cache input for 'build' target
  modules/tinymce/project.json
Owners: @tinymce/tinymce-reviewers

TINY-10457: Prepare for 6.8.3 release
  modules/tinymce/package.json
Owners: @tinymce/tinymce-reviewers

TINY-10456: Stop outputting BUILD_VERSION to `version.txt`
  modules/tinymce/Gruntfile.js
Owners: @tinymce/tinymce-reviewers

Testing remote and local
  Jenkinsfile
Owners: @tinymce/tinymce-reviewers

Other way around
  Jenkinsfile
Owners: @tinymce/tinymce-reviewers

TINY-10491: Update outbound website links
  modules/tinymce/src/plugins/help/main/ts/ui/PluginsTab.ts
  modules/tinymce/src/plugins/help/main/ts/ui/VersionTab.ts
  modules/tinymce/src/themes/silver/main/ts/ui/promotion/Promotion.ts
  modules/tinymce/src/themes/silver/main/ts/ui/statusbar/Statusbar.ts
Owners: @tinymce/tinymce-reviewers

Rename. Use branch name
  Jenkinsfile
Owners: @tinymce/tinymce-reviewers

TINY-10491: Add changelog entry
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-10335: Handle immediate sink on fullscreen toggle (Remove changie ) (#9349)
  .changes/unreleased/tinymce-TINY-10335-2023-12-21.yaml
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-10457: Prepare for 6.8.3 (#9355)
  bin/build-prism.js
  modules/acid/package.json
  modules/agar/package.json
  modules/agar/src/main/ts/ephox/agar/api/Assertions.ts
  modules/alloy/package.json
  modules/boss/package.json
  modules/boulder/package.json
  modules/bridge/package.json
  modules/darwin/package.json
  modules/dragster/package.json
  modules/katamari-assertions/package.json
  modules/katamari/package.json
  modules/mcagar/package.json
  modules/oxide-icons-default/package.json
  modules/oxide-icons-default/project.json
  modules/oxide/package.json
  modules/oxide/project.json
  modules/phoenix/package.json
  modules/polaris/package.json
  modules/porkbun/package.json
  modules/robin/package.json
  modules/sand/package.json
  modules/snooker/package.json
  modules/sugar/package.json
  modules/tinymce/Gruntfile.js
  modules/tinymce/package.json
  modules/tinymce/project.json
  package.json
  yarn.lock
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team, @noxuhax

TINY-10491: Update outbound website links (#9361)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/plugins/help/main/ts/ui/PluginsTab.ts
  modules/tinymce/src/plugins/help/main/ts/ui/VersionTab.ts
  modules/tinymce/src/themes/silver/main/ts/ui/promotion/Promotion.ts
  modules/tinymce/src/themes/silver/main/ts/ui/statusbar/Statusbar.ts
Owners: @tinymce/tinymce-reviewers

renamed var
  Jenkinsfile
Owners: @tinymce/tinymce-reviewers

TINY-9637: Adding tooltip to non alloy item
  modules/alloy/src/main/ts/ephox/alloy/behaviour/tooltipping/ActiveTooltipping.ts
  modules/alloy/src/main/ts/ephox/alloy/behaviour/tooltipping/TooltippingSchema.ts
  modules/alloy/src/main/ts/ephox/alloy/behaviour/tooltipping/TooltippingTypes.ts
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/Collection.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/tooltip/CollectionTooltipTest.ts
  modules/tinymce/src/themes/silver/test/ts/module/TooltipUtils.ts
Owners: @tinymce/tinymce-reviewers

Split testname
  Jenkinsfile
Owners: @tinymce/tinymce-reviewers

Mix nodes
  Jenkinsfile
Owners: @tinymce/tinymce-reviewers

missing ','
  Jenkinsfile
Owners: @tinymce/tinymce-reviewers

Sneaky ','
  Jenkinsfile
Owners: @tinymce/tinymce-reviewers

Remove retry
  Jenkinsfile
Owners: @tinymce/tinymce-reviewers

Add `summary` to non-empty elements in schema (#9325)
  .changes/unreleased/tinymce-TINY-10303-2024-01-24.yaml
  modules/tinymce/src/core/main/ts/api/html/Schema.ts
  modules/tinymce/src/core/test/ts/browser/html/SchemaTest.ts
  modules/tinymce/src/plugins/lists/main/ts/core/Delete.ts
  modules/tinymce/src/plugins/lists/test/ts/browser/BackspaceDeleteTest.ts
Owners: @tinymce/tinymce-reviewers
