Repository tinymce/tinymce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tinymce/tinymce-reviewers, @noxuhax, @tinymce/integrations-team

.github/CODEOWNERS:

* @tinymce/tinymce-reviewers

# Oxide changes should include the design team as well
/modules/oxide/ @tinymce/tinymce-reviewers @noxuhax
/modules/oxide-icons-default/ @tinymce/tinymce-reviewers @noxuhax

# Katamari changes should include the integrations team as well
/modules/katamari/ @tinymce/tinymce-reviewers @tinymce/integrations-team

TINY-9358: changelog.md (#8554)
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-9358: Updated build.properties to merge `release/6.3` instead of `master`
  build.properties
Owners: @tinymce/tinymce-reviewers

TINY-9654: Rename getWordsAndIndices to getWordsWithIndices
  modules/polaris/src/main/ts/ephox/polaris/api/Words.ts
  modules/polaris/src/main/ts/ephox/polaris/words/Words.ts
  modules/robin/src/main/ts/ephox/robin/words/Identify.ts
Owners: @tinymce/tinymce-reviewers

TINY-9358: Updated build.properties to merge `master` instead of `develop`
  build.properties
Owners: @tinymce/tinymce-reviewers

TINY-9358: Added version and date to the changelogs
  modules/acid/CHANGELOG.md
  modules/agar/CHANGELOG.md
  modules/alloy/CHANGELOG.md
  modules/bridge/CHANGELOG.md
  modules/darwin/CHANGELOG.md
  modules/dragster/CHANGELOG.md
  modules/mcagar/CHANGELOG.md
  modules/snooker/CHANGELOG.md
  modules/sugar/CHANGELOG.md
  modules/tinymce/CHANGELOG.md
  versions.txt
Owners: @tinymce/tinymce-reviewers

Publish
  modules/acid/package.json
  modules/agar/package.json
  modules/alloy/package.json
  modules/boss/package.json
  modules/boulder/package.json
  modules/bridge/package.json
  modules/darwin/package.json
  modules/dragster/package.json
  modules/jax/package.json
  modules/katamari-assertions/package.json
  modules/katamari/package.json
  modules/mcagar/package.json
  modules/oxide-icons-default/package.json
  modules/oxide/package.json
  modules/phoenix/package.json
  modules/polaris/package.json
  modules/porkbun/package.json
  modules/robin/package.json
  modules/sand/package.json
  modules/snooker/package.json
  modules/sugar/package.json
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team, @noxuhax

TINY-9358: Updated security.md
  SECURITY.md
Owners: @tinymce/tinymce-reviewers

TINY-9358: Cleaned up versions.txt
  versions.txt
Owners: @tinymce/tinymce-reviewers

TINY-9654: Add followup ticket label to wordcount removeZwsp workaround in Count
  modules/tinymce/src/plugins/wordcount/main/ts/core/Count.ts
Owners: @tinymce/tinymce-reviewers

Publish
  modules/acid/package.json
  modules/agar/package.json
  modules/alloy/package.json
  modules/boss/package.json
  modules/boulder/package.json
  modules/bridge/package.json
  modules/darwin/package.json
  modules/dragster/package.json
  modules/jax/package.json
  modules/katamari-assertions/package.json
  modules/katamari/package.json
  modules/mcagar/package.json
  modules/oxide-icons-default/package.json
  modules/oxide/package.json
  modules/phoenix/package.json
  modules/polaris/package.json
  modules/porkbun/package.json
  modules/robin/package.json
  modules/sand/package.json
  modules/snooker/package.json
  modules/sugar/package.json
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team, @noxuhax

TINY-9358: Prepare for TinyMCE 6.5 development
  build.properties
  modules/tinymce/package.json
Owners: @tinymce/tinymce-reviewers

TINY-9646: Added changelog
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-9653: Add defaultExpandedKeys and onExpand options to Tree component
  modules/bridge/src/main/ts/ephox/bridge/components/dialog/Tree.ts
  modules/tinymce/src/themes/silver/demo/ts/demo/TreeDemo.ts
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/Tree.ts
Owners: @tinymce/tinymce-reviewers

TINY-9653: Fix ci ts error
  modules/tinymce/src/themes/silver/demo/ts/demo/TreeDemo.ts
Owners: @tinymce/tinymce-reviewers

TINY-9654: Adjust word boundary logic to ignore extend characters regardless if they precede a word boundary or not
  modules/polaris/src/main/ts/ephox/polaris/words/WordBoundary.ts
  modules/polaris/src/test/ts/atomic/api/WordsTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9654: Rename findWordsAndIndices to findWordsWithIndices in Words
  modules/polaris/src/main/ts/ephox/polaris/words/Words.ts
Owners: @tinymce/tinymce-reviewers

TINY-9654: Add changelog entries in Polaris and Robin
  modules/polaris/CHANGELOG.md
  modules/robin/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-9654: Clarify TINY-9708 comment in Count
  modules/tinymce/src/plugins/wordcount/main/ts/core/Count.ts
Owners: @tinymce/tinymce-reviewers

TINY-9686: updated test label (#8551)
  modules/tinymce/src/themes/silver/test/ts/browser/window/SilverDialogApiAccessTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9714: Fix tree component css to align with new high contrast skin
  modules/oxide/src/less/theme/components/tree/tree-button.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9654: Rename idx to i to prevent confusion with index/indices
  modules/robin/src/main/ts/ephox/robin/words/Identify.ts
Owners: @tinymce/tinymce-reviewers

TINY-4189: Checkbox and containing label now both disabled/enabled
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/themes/silver/main/ts/ui/general/Checkbox.ts
  modules/tinymce/src/themes/silver/test/ts/headless/components/checkbox/BasicCheckboxTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9646: Removed performance improvement due to interference with functionality
  modules/tinymce/src/themes/silver/main/ts/ui/header/InlineHeader.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/header/InlineHeaderTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9646: Added changelog
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-9646: Minor fixup.
  modules/tinymce/src/themes/silver/test/ts/browser/editor/header/InlineHeaderTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9464: Removed options
  modules/tinymce/src/themes/silver/test/ts/browser/editor/header/InlineHeaderTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9664: hiding toolbar on noneditable tables (#8532)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/plugins/table/main/ts/ui/Buttons.ts
  modules/tinymce/src/plugins/table/test/ts/browser/ui/ContextToolbarTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9460: Fixed issue with quickbars showing for noneditable contents in noneditable root (#8540)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/plugins/quickbars/main/ts/selection/Toolbars.ts
  modules/tinymce/src/plugins/quickbars/test/ts/browser/ContentEditableTest.ts
  modules/tinymce/src/plugins/quickbars/test/ts/module/test/Utils.ts
Owners: @tinymce/tinymce-reviewers

TINY-4189: Improvements to code.
  modules/tinymce/src/themes/silver/main/ts/ui/general/Checkbox.ts
  modules/tinymce/src/themes/silver/test/ts/headless/components/checkbox/BasicCheckboxTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9654: Add readonly attributes to Word and WordsWithIndices interfaces
  modules/polaris/src/main/ts/ephox/polaris/words/Words.ts
Owners: @tinymce/tinymce-reviewers

TINY-9653: Add CHANGELOG.md entry
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-4189: Checkbox and containing label now both disabled/enabled (#8565)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/themes/silver/main/ts/ui/general/Checkbox.ts
  modules/tinymce/src/themes/silver/test/ts/headless/components/checkbox/BasicCheckboxTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8714: Calculate the height and width of embed, and once dimensions are changed, convert to iframe
  modules/tinymce/src/plugins/media/main/ts/ui/Dialog.ts
  modules/tinymce/src/plugins/media/test/ts/browser/EphoxEmbedTest.ts
  modules/tinymce/src/plugins/media/test/ts/browser/SubmitTest.ts
  modules/tinymce/src/plugins/media/test/ts/module/test/Utils.ts
Owners: @tinymce/tinymce-reviewers

TINY-8714: Update changelog
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-9653: Add tests
  modules/oxide/src/less/theme/components/tree/tree-button.less
  modules/tinymce/src/themes/silver/demo/ts/demo/TreeDemo.ts
  modules/tinymce/src/themes/silver/test/ts/headless/components/tree/TreeTest.ts
Owners: @tinymce/tinymce-reviewers, @noxuhax

Add spaces between types/interfaces in Words
  modules/polaris/src/main/ts/ephox/polaris/words/Words.ts
Owners: @tinymce/tinymce-reviewers

TINY-9654: Add more tests in WordsTest for extend and format characters
  modules/polaris/src/test/ts/atomic/api/WordsTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9654: Update Robin's word identification logic to identify words containing non-Latin characters (#8560)
  modules/polaris/CHANGELOG.md
  modules/polaris/src/main/ts/ephox/polaris/api/Words.ts
  modules/polaris/src/main/ts/ephox/polaris/words/WordBoundary.ts
  modules/polaris/src/main/ts/ephox/polaris/words/Words.ts
  modules/polaris/src/test/ts/atomic/api/WordsTest.ts
  modules/robin/CHANGELOG.md
  modules/robin/src/main/ts/ephox/robin/words/Identify.ts
  modules/robin/src/test/ts/atomic/words/IdentifyTest.ts
  modules/tinymce/src/plugins/wordcount/main/ts/core/Count.ts
  modules/tinymce/src/plugins/wordcount/test/ts/browser/PluginTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9646: Toolbar overflow issue that was not properly solved previously. (#8567)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/themes/silver/main/ts/ui/header/InlineHeader.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/header/InlineHeaderTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8714: Review fixes
  modules/tinymce/src/plugins/media/main/ts/core/Types.ts
  modules/tinymce/src/plugins/media/main/ts/ui/Dialog.ts
  modules/tinymce/src/plugins/media/test/ts/browser/EphoxEmbedTest.ts
  modules/tinymce/src/plugins/media/test/ts/browser/SubmitTest.ts
  modules/tinymce/src/plugins/media/test/ts/module/test/Utils.ts
Owners: @tinymce/tinymce-reviewers
