Repository tinymce/tinymce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tinymce/tinymce-reviewers, @noxuhax, @tinymce/integrations-team

.github/CODEOWNERS:

* @tinymce/tinymce-reviewers

# Oxide changes should include the design team as well
/modules/oxide/ @tinymce/tinymce-reviewers @noxuhax
/modules/oxide-icons-default/ @tinymce/tinymce-reviewers @noxuhax

# Katamari changes should include the integrations team as well
/modules/katamari/ @tinymce/tinymce-reviewers @tinymce/integrations-team

Update package.json
  package.json
Owners: @tinymce/tinymce-reviewers

TINY-10602: Add a new build-only target, so whole-repo builds still do lint checks
  modules/tinymce/Gruntfile.js
  modules/tinymce/package.json
Owners: @tinymce/tinymce-reviewers

TINY-10690: Update help dialog with new premium plugin names (#9434)
  modules/tinymce/src/plugins/help/main/ts/data/PluginUrls.ts
  modules/tinymce/src/plugins/help/main/ts/ui/PluginsTab.ts
  modules/tinymce/src/plugins/help/main/ts/ui/VersionTab.ts
Owners: @tinymce/tinymce-reviewers

TINY-10681: Changed minimal key length to 64 (#9431)
  modules/tinymce/src/core/main/ts/init/LicenseKeyValidation.ts
  modules/tinymce/src/core/test/ts/browser/init/LicenseKeyValidationTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10675: fix `advcode` styles (#9420)
  modules/oxide/src/less/theme/components/advcode/advcode.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-10578: License change from MIT to GPL 2 or later (#9410)
  .changes/unreleased/tinymce-TINY-10578-2024-02-22.yaml
  LICENSE.TXT
  LICENSE.md
  README.md
  modules/acid/package.json
  modules/agar/package.json
  modules/alloy/package.json
  modules/boss/package.json
  modules/boulder/package.json
  modules/bridge/package.json
  modules/darwin/package.json
  modules/dragster/package.json
  modules/jax/package.json
  modules/katamari-assertions/package.json
  modules/katamari/package.json
  modules/mcagar/package.json
  modules/oxide-icons-default/package.json
  modules/oxide/package.json
  modules/phoenix/package.json
  modules/polaris/package.json
  modules/porkbun/package.json
  modules/robin/package.json
  modules/sand/package.json
  modules/snooker/package.json
  modules/sugar/package.json
  modules/tinymce/Gruntfile.js
  modules/tinymce/README.md
  modules/tinymce/package.json
  package.json
  versions.txt
  yarn.lock
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team, @noxuhax

TINY-9980: Updated API docs for addCustomElements (#9429)
  modules/tinymce/src/core/main/ts/api/html/Schema.ts
Owners: @tinymce/tinymce-reviewers

TINY-10702: Render tooltips in `dialog` sink to resolve stacking issue
  modules/tinymce/src/themes/silver/main/ts/backstage/Backstage.ts
Owners: @tinymce/tinymce-reviewers

TINY-10603: Changed fallback value of `styles` bespoke button to `Formats` (#9423)
  .changes/unreleased/tinymce-TINY-10603-2024-02-26.yaml
  modules/tinymce/src/themes/silver/main/ts/ui/core/complex/AlignBespoke.ts
  modules/tinymce/src/themes/silver/main/ts/ui/core/complex/BespokeSelect.ts
  modules/tinymce/src/themes/silver/main/ts/ui/core/complex/BlocksBespoke.ts
  modules/tinymce/src/themes/silver/main/ts/ui/core/complex/FontFamilyBespoke.ts
  modules/tinymce/src/themes/silver/main/ts/ui/core/complex/FontSizeBespoke.ts
  modules/tinymce/src/themes/silver/main/ts/ui/core/complex/StylesBespoke.ts
  modules/tinymce/src/themes/silver/main/ts/ui/core/complex/utils/FormatDetection.ts
  modules/tinymce/src/themes/silver/main/ts/ui/core/complex/utils/Tooltip.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/bespoke/BespokeSelectAriaLabelTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/bespoke/StyleSelectFormatNamesTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/tooltip/DynamicTooltipTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10696: Use `Access` instead of `Alt+Shift` for heading shortcut in tooltips (#9436)
  modules/tinymce/src/themes/silver/main/ts/ui/core/SimpleControls.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/tooltip/TooltipShortcutTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10702: Render tooltips in `dialog` sink to resolve stacking issue (#9438)
  modules/tinymce/src/themes/silver/main/ts/backstage/Backstage.ts
Owners: @tinymce/tinymce-reviewers

Update .changes/unreleased/tinymce-TINY-10694-2024-02-28.yaml
  .changes/unreleased/tinymce-TINY-10694-2024-02-28.yaml
Owners: @tinymce/tinymce-reviewers

TINY-10694: Update deprecation/removed console message for 7.0 (#9432)
  .changes/unreleased/tinymce-TINY-10694-2024-02-28.yaml
  modules/tinymce/src/core/main/ts/Deprecations.ts
Owners: @tinymce/tinymce-reviewers

TINY-10706: Update pod resources
  Jenkinsfile
Owners: @tinymce/tinymce-reviewers

TINY-10679: Update revisionhistory card style (#9428)
  modules/oxide/src/less/theme/components/revisionhistory/revisionhistory.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9154: refactor media_url_resolver
  modules/tinymce/src/plugins/media/test/ts/browser/SubmitTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10707: Improve table row height reizing when using top corner handles
  modules/tinymce/src/core/main/ts/api/dom/ControlSelection.ts
  modules/tinymce/src/core/test/ts/browser/dom/ControlSelectionTest.ts
  modules/tinymce/src/models/dom/main/ts/table/api/TableResizeHandler.ts
  modules/tinymce/src/models/dom/test/ts/browser/table/ResizeTableTest.ts
Owners: @tinymce/tinymce-reviewers

Update modules/tinymce/src/core/main/ts/api/dom/ControlSelection.ts
  modules/tinymce/src/core/main/ts/api/dom/ControlSelection.ts
Owners: @tinymce/tinymce-reviewers

TINY-10535: Improve list of iframe sandboxing exclusions
  modules/tinymce/src/core/main/ts/api/Options.ts
Owners: @tinymce/tinymce-reviewers

TINY-9154: Refactor media_url_resolver in IsCachedResponseTest.ts
  modules/tinymce/src/plugins/media/test/ts/browser/IsCachedResponseTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10544: Update revision history styles
  modules/oxide/src/less/theme/components/revisionhistory/revisionhistory.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-10602: Archiving the test XML files is unnecessary, junit takes care of that
  Jenkinsfile
Owners: @tinymce/tinymce-reviewers

TINY-10639: Update safari version in jenkins file and remove safari < 17 checks
  Jenkinsfile
  modules/sugar/src/test/ts/browser/SelectionRangeTest.ts
  modules/tinymce/src/core/test/ts/browser/FormatterRemoveTest.ts
  modules/tinymce/src/core/test/ts/browser/annotate/AnnotationStylingTest.ts
  modules/tinymce/src/core/test/ts/browser/content/EditorContentTest.ts
  modules/tinymce/src/core/test/ts/browser/content/EditorGetContentRawTest.ts
  modules/tinymce/src/core/test/ts/browser/content/InsertContentTest.ts
  modules/tinymce/src/core/test/ts/browser/dom/SelectionTest.ts
  modules/tinymce/src/core/test/ts/browser/dom/TrimBodyTest.ts
  modules/tinymce/src/core/test/ts/browser/html/DomParserTest.ts
  modules/tinymce/src/core/test/ts/browser/html/SanitizationTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10639: Undo test changes
  modules/tinymce/src/core/test/ts/browser/annotate/AnnotationStylingTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10436: rgba colors are handled the same way as they were in v5
  modules/tinymce/src/core/main/ts/api/html/Styles.ts
  modules/tinymce/src/core/test/ts/browser/html/StylesTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10578: fixed markdown mistake
  LICENSE.md
Owners: @tinymce/tinymce-reviewers

TINY-9154: Change media_url_resolver to use promises (#9422)
  .changes/unreleased/tinymce-TINY-9154-2024-02-26.yaml
  modules/tinymce/src/plugins/media/main/ts/core/Service.ts
  modules/tinymce/src/plugins/media/test/ts/browser/DataAttributeTest.ts
  modules/tinymce/src/plugins/media/test/ts/browser/EphoxEmbedTest.ts
  modules/tinymce/src/plugins/media/test/ts/browser/IsCachedResponseTest.ts
  modules/tinymce/src/plugins/media/test/ts/browser/MediaEmbedTest.ts
  modules/tinymce/src/plugins/media/test/ts/browser/SubmitTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10706: Update pod resources (#9445)
  Jenkinsfile
Owners: @tinymce/tinymce-reviewers

TINY-9681: Fixed some focus issues related to TinyMCE 5 skin and premium skins (#9413)
  modules/oxide/src/less/skins/ui/tinymce-5/skin.less
  modules/oxide/src/less/theme/components/button/button.less
  modules/oxide/src/less/theme/components/collection/collection.less
  modules/oxide/src/less/theme/components/edit-area/edit-area.less
  modules/oxide/src/less/theme/components/form/textfield.less
  modules/oxide/src/less/theme/components/toolbar-button/toolbar-number-input.less
  modules/oxide/src/less/theme/components/toolbar-button/toolbar-select-button.less
  modules/oxide/src/less/theme/components/toolbar-button/toolbar-split-button.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-10544: Update revision history styles (#9448)
  modules/oxide/src/less/theme/components/revisionhistory/revisionhistory.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-10535: Improve list of iframe sandboxing exclusions (#9447)
  modules/tinymce/src/core/main/ts/api/Options.ts
Owners: @tinymce/tinymce-reviewers

TINY-10578: Added changelogs for libraries
  .changes/unreleased/acid-TINY-10578-2024-02-29.yaml
  .changes/unreleased/agar-TINY-10578-2024-02-29.yaml
  .changes/unreleased/alloy-TINY-10578-2024-02-29.yaml
  .changes/unreleased/boss-TINY-10578-2024-02-29.yaml
  .changes/unreleased/boulder-TINY-10578-2024-02-29.yaml
  .changes/unreleased/bridge-TINY-10578-2024-02-29.yaml
  .changes/unreleased/darwin-TINY-10578-2024-02-29.yaml
  .changes/unreleased/dragster-TINY-10578-2024-02-29.yaml
  .changes/unreleased/jax-TINY-10578-2024-02-29.yaml
  .changes/unreleased/katamari-TINY-10578-2024-02-29.yaml
  .changes/unreleased/katamari-assertions-TINY-10578-2024-02-29.yaml
  .changes/unreleased/mcagar-TINY-10578-2024-02-29.yaml
  .changes/unreleased/phoenix-TINY-10578-2024-02-29.yaml
  .changes/unreleased/polaris-TINY-10578-2024-02-29.yaml
  .changes/unreleased/porkbun-TINY-10578-2024-02-29.yaml
  .changes/unreleased/robin-TINY-10578-2024-02-29.yaml
  .changes/unreleased/sand-TINY-10578-2024-02-29.yaml
  .changes/unreleased/snooker-TINY-10578-2024-02-29.yaml
  .changes/unreleased/sugar-TINY-10578-2024-02-29.yaml
Owners: @tinymce/tinymce-reviewers

TINY-10707: Improve table row height reizing when using top corner handles (#9446)
  modules/tinymce/src/core/main/ts/api/dom/ControlSelection.ts
  modules/tinymce/src/core/test/ts/browser/dom/ControlSelectionTest.ts
  modules/tinymce/src/models/dom/main/ts/table/api/TableResizeHandler.ts
  modules/tinymce/src/models/dom/test/ts/browser/table/ResizeTableTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10436: Corrected a comment
  modules/tinymce/src/core/main/ts/api/html/Styles.ts
Owners: @tinymce/tinymce-reviewers

TINY-10436: More test assertions and renamed test label
  modules/tinymce/src/core/test/ts/browser/html/StylesTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10436: Fix test after merge from develop
  modules/tinymce/src/plugins/table/test/ts/browser/ui/TableRowDialogTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10578: Added changelogs for libraries (#9450)
  .changes/unreleased/acid-TINY-10578-2024-02-29.yaml
  .changes/unreleased/agar-TINY-10578-2024-02-29.yaml
  .changes/unreleased/alloy-TINY-10578-2024-02-29.yaml
  .changes/unreleased/boss-TINY-10578-2024-02-29.yaml
  .changes/unreleased/boulder-TINY-10578-2024-02-29.yaml
  .changes/unreleased/bridge-TINY-10578-2024-02-29.yaml
  .changes/unreleased/darwin-TINY-10578-2024-02-29.yaml
  .changes/unreleased/dragster-TINY-10578-2024-02-29.yaml
  .changes/unreleased/jax-TINY-10578-2024-02-29.yaml
  .changes/unreleased/katamari-TINY-10578-2024-02-29.yaml
  .changes/unreleased/katamari-assertions-TINY-10578-2024-02-29.yaml
  .changes/unreleased/mcagar-TINY-10578-2024-02-29.yaml
  .changes/unreleased/phoenix-TINY-10578-2024-02-29.yaml
  .changes/unreleased/polaris-TINY-10578-2024-02-29.yaml
  .changes/unreleased/porkbun-TINY-10578-2024-02-29.yaml
  .changes/unreleased/robin-TINY-10578-2024-02-29.yaml
  .changes/unreleased/sand-TINY-10578-2024-02-29.yaml
  .changes/unreleased/snooker-TINY-10578-2024-02-29.yaml
  .changes/unreleased/sugar-TINY-10578-2024-02-29.yaml
Owners: @tinymce/tinymce-reviewers

TINY-10712: Updated build.properties
  build.properties
Owners: @tinymce/tinymce-reviewers

TINY-10712: updated security.md
  SECURITY.md
Owners: @tinymce/tinymce-reviewers

Publish
  modules/acid/package.json
  modules/agar/package.json
  modules/alloy/package.json
  modules/boss/package.json
  modules/boulder/package.json
  modules/bridge/package.json
  modules/darwin/package.json
  modules/dragster/package.json
  modules/jax/package.json
  modules/katamari-assertions/package.json
  modules/katamari/package.json
  modules/mcagar/package.json
  modules/oxide-icons-default/package.json
  modules/oxide/package.json
  modules/phoenix/package.json
  modules/polaris/package.json
  modules/porkbun/package.json
  modules/robin/package.json
  modules/sand/package.json
  modules/snooker/package.json
  modules/sugar/package.json
  modules/tinymce/package.json
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team, @noxuhax
