Repository tinymce/tinymce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tinymce/tinymce-reviewers, @noxuhax, @tinymce/integrations-team

TINY-10286: Filter HTML in notification messages in v6 (#8)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/themes/silver/main/ts/ui/general/Notification.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/NotificationManagerImplTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10286: Filter HTML in notification messages in v5 (#7)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/themes/silver/main/ts/ui/general/Notification.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/NotificationManagerImplTest.ts
Owners: @tinymce/tinymce-reviewers

rework regex, add option in FnR
  modules/tinymce/src/plugins/searchreplace/main/ts/Plugin.ts
  modules/tinymce/src/plugins/searchreplace/main/ts/api/Api.ts
  modules/tinymce/src/plugins/searchreplace/main/ts/core/Actions.ts
  modules/tinymce/src/plugins/searchreplace/main/ts/ui/Dialog.ts
Owners: @tinymce/tinymce-reviewers

TINY-10144: fix individual changie command not working
  changie-runner.js
Owners: @tinymce/tinymce-reviewers

fix search with regex
  modules/tinymce/src/plugins/searchreplace/main/ts/Plugin.ts
  modules/tinymce/src/plugins/searchreplace/main/ts/core/Actions.ts
  modules/tinymce/src/plugins/searchreplace/main/ts/core/TextPosition.ts
Owners: @tinymce/tinymce-reviewers

CRO: Add enabled_in_readonly property and modify disabling behavior for toolbar buttons
  modules/bridge/src/main/ts/ephox/bridge/components/toolbar/ToolbarButton.ts
  modules/bridge/src/main/ts/ephox/bridge/core/ComponentSchema.ts
  modules/tinymce/src/themes/silver/main/ts/backstage/Backstage.ts
  modules/tinymce/src/themes/silver/main/ts/ui/toolbar/button/ToolbarButtons.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/contexttoolbar/ContextToolbarLookupPrioritisationTest.ts
  modules/tinymce/src/themes/silver/test/ts/headless/toolbar/ToolbarButtonsTest.ts
Owners: @tinymce/tinymce-reviewers

CRO: Omit readonly receiving config for enabled_in_readonly toolbar buttons and remove disabling behavior for toolbar button groups
  modules/tinymce/src/themes/silver/main/ts/backstage/Backstage.ts
  modules/tinymce/src/themes/silver/main/ts/ui/toolbar/CommonToolbar.ts
  modules/tinymce/src/themes/silver/main/ts/ui/toolbar/button/ToolbarButtons.ts
Owners: @tinymce/tinymce-reviewers

CRO: Configure enabled_in_readonly property for sidebars
  modules/bridge/src/main/ts/ephox/bridge/components/sidebar/Sidebar.ts
  modules/tinymce/src/themes/silver/main/ts/ui/sidebar/Sidebar.ts
Owners: @tinymce/tinymce-reviewers

polish up find funciton
  modules/tinymce/src/plugins/searchreplace/main/ts/core/Actions.ts
Owners: @tinymce/tinymce-reviewers

replace now work with regex
  modules/tinymce/src/plugins/searchreplace/main/ts/core/Actions.ts
Owners: @tinymce/tinymce-reviewers

shorter the slice since regex format changed
  modules/tinymce/src/plugins/searchreplace/main/ts/core/Actions.ts
Owners: @tinymce/tinymce-reviewers

hints for esbuild/vite to remove import/exports
  modules/tinymce/src/core/main/ts/api/dom/Serializer.ts
  modules/tinymce/src/core/main/ts/content/EditorContent.ts
Owners: @tinymce/tinymce-reviewers

CRO: Add enabled_in_readonly property for menu items
  modules/bridge/src/main/ts/ephox/bridge/components/content/Autocompleter.ts
  modules/bridge/src/main/ts/ephox/bridge/components/menu/CommonMenuItem.ts
  modules/tinymce/src/themes/silver/main/ts/ui/menus/item/build/AutocompleteMenuItem.ts
  modules/tinymce/src/themes/silver/main/ts/ui/menus/item/build/CardMenuItem.ts
  modules/tinymce/src/themes/silver/main/ts/ui/menus/item/build/ChoiceItem.ts
  modules/tinymce/src/themes/silver/main/ts/ui/menus/item/build/CommonMenuItem.ts
  modules/tinymce/src/themes/silver/main/ts/ui/menus/item/build/NestedMenuItem.ts
  modules/tinymce/src/themes/silver/main/ts/ui/menus/item/build/NormalMenuItem.ts
  modules/tinymce/src/themes/silver/main/ts/ui/menus/item/build/ToggleMenuItem.ts
  modules/tinymce/src/themes/silver/main/ts/ui/toolbar/button/ToolbarButtons.ts
Owners: @tinymce/tinymce-reviewers

CRO: Add enabled_in_readonly config for menu buttons
  modules/bridge/src/main/ts/ephox/bridge/core/MenuButton.ts
  modules/tinymce/src/core/main/ts/api/OptionTypes.ts
  modules/tinymce/src/themes/silver/main/ts/api/Options.ts
  modules/tinymce/src/themes/silver/main/ts/ui/button/MenuButton.ts
  modules/tinymce/src/themes/silver/main/ts/ui/dropdown/CommonDropdown.ts
  modules/tinymce/src/themes/silver/main/ts/ui/general/Button.ts
  modules/tinymce/src/themes/silver/main/ts/ui/menus/menubar/Integration.ts
  modules/tinymce/src/themes/silver/main/ts/ui/menus/menubar/SilverMenubar.ts
  modules/tinymce/src/themes/silver/test/ts/headless/sketchers/SilverMenubarTest.ts
  modules/tinymce/src/themes/silver/test/ts/headless/toolbar/SearchableMenuButtonPlaceholderTest.ts
  modules/tinymce/src/themes/silver/test/ts/headless/toolbar/SearchableMenuButtonTest.ts
  modules/tinymce/src/themes/silver/test/ts/headless/toolbar/ToolbarButtonsTest.ts
  modules/tinymce/src/themes/silver/test/ts/webdriver/toolbar/SearchableMenuTypingTest.ts
Owners: @tinymce/tinymce-reviewers

CRO: Revert disabling and readonly behavior for CommonToolbar and add parent enabling receiving config for ToolbarButtons
  modules/tinymce/src/themes/silver/main/ts/ReadOnly.ts
  modules/tinymce/src/themes/silver/main/ts/ui/toolbar/CommonToolbar.ts
  modules/tinymce/src/themes/silver/main/ts/ui/toolbar/button/ToolbarButtons.ts
Owners: @tinymce/tinymce-reviewers

CRO: Make selection events fire in comment only mode to ensure sidebar refreshes as expected
  modules/tinymce/src/core/main/ts/NodeChange.ts
  modules/tinymce/src/core/main/ts/api/EditorObservable.ts
  modules/tinymce/src/core/main/ts/api/Options.ts
  modules/tinymce/src/core/main/ts/mode/Readonly.ts
Owners: @tinymce/tinymce-reviewers

CRO: Ensure parents of enabled_in_readonly toolbar buttons remain enabled
  modules/tinymce/src/themes/silver/main/ts/ReadOnly.ts
Owners: @tinymce/tinymce-reviewers

CRO: Remove comment-only specific considerations from Readonly.toggleReadOnly
  modules/tinymce/src/core/main/ts/mode/Readonly.ts
Owners: @tinymce/tinymce-reviewers

add placeholder text for regex search
  modules/tinymce/src/plugins/searchreplace/main/ts/ui/Dialog.ts
Owners: @tinymce/tinymce-reviewers

extract replace regex from slashes
  modules/tinymce/src/plugins/searchreplace/main/ts/core/Actions.ts
Owners: @tinymce/tinymce-reviewers

CRO: Add expandToNonEditable option to Selection.expand
  modules/tinymce/src/core/main/ts/api/dom/RangeUtils.ts
  modules/tinymce/src/core/main/ts/api/dom/Selection.ts
  modules/tinymce/src/core/main/ts/fmt/ExpandRange.ts
Owners: @tinymce/tinymce-reviewers

CRO: Add enabled_in_readonly config for WindowManager.confirm
  modules/bridge/src/main/ts/ephox/bridge/components/dialog/Button.ts
  modules/bridge/src/main/ts/ephox/bridge/components/dialog/DialogFooterButton.ts
  modules/tinymce/src/core/main/ts/api/WindowManager.ts
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/AlertDialog.ts
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/ConfirmDialog.ts
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/UrlInput.ts
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/WindowManager.ts
  modules/tinymce/src/themes/silver/main/ts/ui/general/Button.ts
  modules/tinymce/src/themes/silver/main/ts/ui/toolbar/CommonToolbar.ts
  modules/tinymce/src/themes/silver/main/ts/ui/view/ViewButtons.ts
  modules/tinymce/src/themes/silver/test/ts/headless/components/dialogbutton/DialogButtonTest.ts
  modules/tinymce/src/themes/silver/test/ts/headless/components/dialogbutton/DialogFooterButtonTest.ts
  modules/tinymce/src/themes/silver/test/ts/headless/window/SilverDialogEventTest.ts
  modules/tinymce/src/themes/silver/test/ts/headless/window/WindowManagerConfirmTest.ts
Owners: @tinymce/tinymce-reviewers

Added force_hex_color to BaseEditorOptions as well
  modules/tinymce/src/core/main/ts/api/OptionTypes.ts
Owners: @tinymce/tinymce-reviewers

Use `TinyAssertions.assertContentPresense` instead
  modules/tinymce/src/themes/silver/test/ts/headless/components/colorpicker/ColorPickerTest.ts
Owners: @tinymce/tinymce-reviewers

Modern web tests experiments
  modules/tinymce/src/core/main/ts/api/dom/Serializer.ts
  modules/tinymce/src/core/main/ts/content/EditorContent.ts
  modules/tinymce/src/themes/silver/test/ts/atomic/context/ContextMenuTriggerTest.ts
  package.json
  web-test-runner.config.mjs
  yarn.lock
Owners: @tinymce/tinymce-reviewers

POC: Slash Commands styles and CardMenuItem to support icon
  modules/bridge/src/main/ts/ephox/bridge/components/menu/card/CardImage.ts
  modules/oxide/src/less/theme/components/slash-commands/slash-commands.less
  modules/oxide/src/less/theme/theme.less
  modules/tinymce/src/themes/silver/main/ts/ui/menus/item/build/CardMenuItem.ts
Owners: @tinymce/tinymce-reviewers, @noxuhax

CMCE: Modify CSS to accommodate TinyMCE as comment field
  modules/oxide/src/less/theme/components/comments/comment.less
  modules/oxide/src/less/theme/globals/reset.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

Added path aliases
  modules/katamari/src/main/ts/ephox/katamari/api/Main.ts
  package.json
  tsconfig.json
  web-test-runner.config.mjs
  yarn.lock
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team

More fixes
  modules/agar/src/main/ts/ephox/agar/api/Main.ts
  modules/boulder/src/main/ts/ephox/boulder/api/Main.ts
  modules/sugar/src/main/ts/ephox/sugar/api/Main.ts
  tsconfig.json
Owners: @tinymce/tinymce-reviewers

TINY-10147: Rename BespokeAriaLabelTest to DropdownAriaLabelTest and remove context scopes
  modules/tinymce/src/themes/silver/test/ts/browser/editor/bespoke/BespokeAriaLabelTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/bespoke/DropdownAriaLabelTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10147: Add changelog entry
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-10144: use changie project management
  .changes/acid/5.0.8.md
  .changes/agar/7.4.0.md
  .changes/alloy/13.0.0.md
  .changes/boss/6.0.0.md
  .changes/boulder/7.1.0.md
  .changes/bridge/4.5.0.md
  .changes/darwin/8.0.9.md
  .changes/dragster/7.2.0.md
  .changes/header.tpl.md
  .changes/jax/7.0.0.md
  .changes/katamari-assertions/4.0.0.md
  .changes/katamari/9.1.0.md
  .changes/mcagar/8.4.0.md
  .changes/phoenix/8.0.0.md
  .changes/polaris/6.2.2.md
  .changes/porkbun/7.0.0.md
  .changes/robin/10.2.0.md
  .changes/sand/6.0.0.md
  .changes/snooker/11.0.9.md
  .changes/sugar/9.2.0.md
  .changes/tinymce/6.7.0.md
  .changes/unreleased/Added-20231006-122017.yaml
  .changes/unreleased/Changed-20230925-111345.yaml
  .changes/unreleased/Fixed-20230920-074919.yaml
  .changes/unreleased/Fixed-20230920-074936.yaml
  .changes/unreleased/Fixed-20231006-121749.yaml
  .changes/unreleased/Fixed-20231006-121811.yaml
  .changes/unreleased/Fixed-20231006-121827.yaml
  .changes/unreleased/Improved-20230920-074956.yaml
  .changie.yaml
  changie-runner.js
  modules/acid/.changes/5.0.8.md
  package.json
Owners: @tinymce/tinymce-reviewers

Removed redundant `rgbRegExp` in favour of using `RgbaColour.fromString` to convert RGB to HEX
  modules/tinymce/src/core/main/ts/api/html/Styles.ts
Owners: @tinymce/tinymce-reviewers

TINY-10272: Fixed bug with data-mce-block being added to anchors inside svg elements (#9069)
  modules/tinymce/src/core/main/ts/content/TransparentElements.ts
  modules/tinymce/src/core/main/ts/html/Namespace.ts
  modules/tinymce/src/core/test/ts/browser/content/TransparentElementsTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10010: Empty.isEmpty should respect empty CET (#9051)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/dom/Empty.ts
  modules/tinymce/src/core/main/ts/util/Quirks.ts
  modules/tinymce/src/core/test/ts/browser/delete/CefDeleteTest.ts
  modules/tinymce/src/core/test/ts/browser/dom/EmptyTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10144: update fragment file name
  .changie.yaml
Owners: @tinymce/tinymce-reviewers

Removed use of `Fun.pipe`
  modules/tinymce/src/core/main/ts/api/html/Styles.ts
Owners: @tinymce/tinymce-reviewers

TINY-10132: correctly identify has content after for caret
  modules/tinymce/src/core/main/ts/fmt/CaretFormat.ts
Owners: @tinymce/tinymce-reviewers

TINY-10144: remove changie entry
  .changes/unreleased/Changed-20230925-111345.yaml
Owners: @tinymce/tinymce-reviewers

TINY-10144: remove runner reference
  .eslintrc.json
Owners: @tinymce/tinymce-reviewers

.github/CODEOWNERS:

* @tinymce/tinymce-reviewers

# Oxide changes should include the design team as well
/modules/oxide/ @tinymce/tinymce-reviewers @noxuhax
/modules/oxide-icons-default/ @tinymce/tinymce-reviewers @noxuhax

# Katamari changes should include the integrations team as well
/modules/katamari/ @tinymce/tinymce-reviewers @tinymce/integrations-team
