Repository tinymce/tinymce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran, @lostkeys, @noxuhax, @tinymce/integrations-team

.github/CODEOWNERS:

* @tinymce/editor-platform-team @spocke @lnewson @ltrouton @HAFRMO @tiny-ben-tran

# Oxide changes should include the design team as well
/modules/oxide/ @tinymce/editor-platform-team @lostkeys @noxuhax @spocke @lnewson @ltrouton @HAFRMO @tiny-ben-tran
/modules/oxide-icons-default/ @tinymce/editor-platform-team @lostkeys @noxuhax @spocke @lnewson @ltrouton @HAFRMO @tiny-ben-tran

# Katamari changes should include the integrations team as well
/modules/katamari/ @tinymce/editor-platform-team @tinymce/integrations-team @spocke @lnewson @ltrouton @HAFRMO @tiny-ben-tran

TINY-6476: Fixed the autocompleter positioning the menu incorrectly
  modules/alloy/CHANGELOG.md
  modules/alloy/src/main/ts/ephox/alloy/api/Main.ts
  modules/alloy/src/main/ts/ephox/alloy/api/ui/InlineView.ts
  modules/oxide/src/less/theme/components/form/autocomplete.less
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/themes/silver/main/ts/Autocompleter.ts
  modules/tinymce/src/themes/silver/main/ts/autocomplete/AutocompleteEditorEvents.ts
  modules/tinymce/src/themes/silver/main/ts/ui/menus/menu/SingleMenu.ts
  modules/tinymce/src/themes/silver/test/ts/module/AutocompleterUtils.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran, @lostkeys, @noxuhax

TINY-8458: Rename to newline_behavior
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/api/OptionTypes.ts
  modules/tinymce/src/core/main/ts/api/Options.ts
  modules/tinymce/src/core/main/ts/newline/InsertNewLine.ts
  modules/tinymce/src/core/test/ts/browser/newline/InsertNewLineTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

Update modules/tinymce/src/themes/silver/main/ts/ui/dialog/IFrame.ts
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/IFrame.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8710: Lowercase sidebar name
  modules/tinymce/src/themes/silver/main/ts/api/Options.ts
  modules/tinymce/src/themes/silver/main/ts/modes/Iframe.ts
  modules/tinymce/src/themes/silver/test/ts/browser/sidebar/SidebarShowOptionTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8710: Renamed
  modules/tinymce/src/themes/silver/test/ts/browser/sidebar/SidebarShowOptionTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8759: Minor improvements
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/autocomplete/AutocompleteLookup.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-6476: Fixed the autocompleter positioning the menu incorrectly (#7864)
  modules/alloy/CHANGELOG.md
  modules/alloy/src/main/ts/ephox/alloy/api/Main.ts
  modules/alloy/src/main/ts/ephox/alloy/api/ui/InlineView.ts
  modules/oxide/src/less/theme/components/form/autocomplete.less
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/themes/silver/main/ts/Autocompleter.ts
  modules/tinymce/src/themes/silver/main/ts/autocomplete/AutocompleteEditorEvents.ts
  modules/tinymce/src/themes/silver/main/ts/ui/menus/menu/SingleMenu.ts
  modules/tinymce/src/themes/silver/test/ts/module/AutocompleterUtils.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran, @lostkeys, @noxuhax

TINY-8458: Corrected type. Refactored insert line break code. Corrected tests.
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/api/OptionTypes.ts
  modules/tinymce/src/core/main/ts/newline/InsertNewLine.ts
  modules/tinymce/src/core/test/ts/browser/newline/InsertNewLineTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8458: Add new `newline_behavior` option (#7865)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/api/OptionTypes.ts
  modules/tinymce/src/core/main/ts/api/Options.ts
  modules/tinymce/src/core/main/ts/newline/InsertNewLine.ts
  modules/tinymce/src/core/test/ts/browser/newline/InsertNewLineTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-7719: refactor
  modules/tinymce/src/core/main/ts/content/InsertContentImpl.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-7719: add comment to test
  modules/tinymce/src/core/test/ts/webdriver/paste/CopyAndPasteTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-7719: refactor `pCopyAndPaste` signature
  modules/tinymce/src/core/test/ts/webdriver/paste/CopyAndPasteTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-7719: change check for flattering element
  modules/tinymce/src/core/main/ts/content/InsertContentImpl.ts
  modules/tinymce/src/core/test/ts/webdriver/paste/CopyAndPasteTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8710: Reverted wrappedOptional and changed the logic of lower-casing sidebar
  modules/tinymce/src/themes/silver/main/ts/api/Options.ts
  modules/tinymce/src/themes/silver/main/ts/modes/Iframe.ts
  modules/tinymce/src/themes/silver/main/ts/ui/sidebar/Sidebar.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-7719: remove redundancy
  modules/tinymce/src/core/main/ts/content/InsertContentImpl.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-7719: fix comment
  modules/tinymce/src/core/main/ts/content/InsertContentImpl.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-7719: fix type
  modules/tinymce/src/core/test/ts/webdriver/paste/CopyAndPasteTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-7719: test fix tests on Safari using `RealClipboard` both for copy and paste
  modules/tinymce/src/core/test/ts/webdriver/paste/CopyAndPasteTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-7719: test fix tests on Safari using editor menu both for copy and paste
  modules/tinymce/src/core/test/ts/webdriver/paste/CopyAndPasteTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8710: Changes as per feedback
  modules/tinymce/src/themes/silver/main/ts/ui/sidebar/Sidebar.ts
  modules/tinymce/src/themes/silver/test/ts/browser/sidebar/SidebarShowOptionTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8040: Fixed overlooked case where colspan cell extends to the end of a table.
  modules/snooker/src/main/ts/ephox/snooker/operate/MergingOperations.ts
  modules/snooker/src/test/ts/browser/PasteColumnOperationsTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8710: Fix bugs in sidebar_show option (#7863)
  modules/tinymce/src/themes/silver/main/ts/ui/sidebar/Sidebar.ts
  modules/tinymce/src/themes/silver/test/ts/browser/sidebar/SidebarShowOptionTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8710: sidebar_show option should be case insensitive
  modules/tinymce/src/themes/silver/main/ts/ui/sidebar/Sidebar.ts
  modules/tinymce/src/themes/silver/test/ts/browser/sidebar/SidebarShowOptionTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8534: Added example test case to ensure the relevant classes are added
  modules/bridge/src/main/ts/ephox/bridge/components/dialog/Iframe.ts
  modules/tinymce/src/themes/silver/test/ts/headless/components/iframe/IframeTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8731: Add pClick helper to RealMouse in agar
  modules/agar/CHANGELOG.md
  modules/agar/src/main/ts/ephox/agar/api/RealMouse.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8572: limit change in menu’s wordwrap to larger screens only
  modules/oxide/src/less/theme/components/menu/menu.less
  modules/oxide/src/less/theme/globals/global-variables.less
Owners: @tinymce/editor-platform-team, @lostkeys, @noxuhax, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-7847: Added new parser/serializer remove filter APIs
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/api/dom/Serializer.ts
  modules/tinymce/src/core/main/ts/api/html/DomParser.ts
  modules/tinymce/src/core/main/ts/dom/DomSerializerImpl.ts
  modules/tinymce/src/core/main/ts/html/FilterRegistry.ts
  modules/tinymce/src/core/test/ts/browser/dom/SerializerTest.ts
  modules/tinymce/src/core/test/ts/browser/html/DomParserTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-7847: Fixed typos
  modules/tinymce/src/core/main/ts/api/dom/Serializer.ts
  modules/tinymce/src/core/main/ts/api/html/DomParser.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-7847: Fixed incorrect markup in existing addNodeFilter/addAttributeFilter docs
  modules/tinymce/src/core/main/ts/api/dom/Serializer.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8710: sidebar_show option should be case insensitive (#7875)
  modules/tinymce/src/themes/silver/main/ts/ui/sidebar/Sidebar.ts
  modules/tinymce/src/themes/silver/test/ts/browser/sidebar/SidebarShowOptionTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-7719: extract helper function
  modules/tinymce/src/core/test/ts/webdriver/paste/CopyAndPasteTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-7719: improve logic in `shouldFlatten`
  modules/tinymce/src/core/main/ts/content/InsertContentImpl.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

Update modules/agar/CHANGELOG.md
  modules/agar/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8731: clean Bedrock attribute after click
  modules/agar/src/main/ts/ephox/agar/api/RealMouse.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

Update modules/agar/src/main/ts/ephox/agar/api/RealMouse.ts
  modules/agar/src/main/ts/ephox/agar/api/RealMouse.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-7719: rename function
  modules/tinymce/src/core/main/ts/content/InsertContentImpl.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8759: Autocompleter checks for block elements and not just for root (#7862)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/autocomplete/AutocompleteLookup.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/autocomplete/AutocompleteTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8040: Fixed overlooked case where colspan cell extends to the en… (#7874)
  modules/snooker/src/main/ts/ephox/snooker/operate/MergingOperations.ts
  modules/snooker/src/test/ts/browser/PasteColumnOperationsTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-7719: rename variable
  modules/tinymce/src/core/main/ts/content/InsertContentImpl.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-7847: Review fixes
  modules/tinymce/src/core/main/ts/api/dom/Serializer.ts
  modules/tinymce/src/core/main/ts/api/html/DomParser.ts
  modules/tinymce/src/core/main/ts/html/FilterRegistry.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran
