Repository tinymce/tinymce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tinymce/tinymce-reviewers, @noxuhax, @tinymce/integrations-team

TINY-9640: Make keyboard navigation of tree compliant with a11y recommendations from w3c. (#8528)
  modules/alloy/src/main/ts/ephox/alloy/keying/FlowType.ts
  modules/alloy/src/main/ts/ephox/alloy/keying/KeyingModeTypes.ts
  modules/oxide/src/less/theme/components/tree/tree-button.less
  modules/tinymce/src/themes/silver/demo/ts/demo/TreeDemo.ts
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/Tree.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/SilverDialogTreeTest.ts
  modules/tinymce/src/themes/silver/test/ts/headless/components/tree/TreeTest.ts
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9676: Revert TINY-9587 (#8536)
  modules/oxide/src/less/theme/components/dialog/dialog.less
  modules/oxide/src/less/theme/globals/global-variables.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9671: add buttons navigation via keyboard to view mode (#8541)
  modules/tinymce/src/themes/silver/main/ts/ui/view/View.ts
  modules/tinymce/src/themes/silver/test/ts/browser/view/ViewTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9588: Constrain inline dialog bounds to within viewport (#8545)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/themes/silver/main/ts/backstage/Anchors.ts
  modules/tinymce/src/themes/silver/test/ts/browser/window/SilverDialogPositioningTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9673: fix border for modal square custom editor content (#8542)
  modules/oxide/src/less/theme/components/well/well.less
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9652: Hide toolbar when editor is out of view in a scrollable container (#8526)
  modules/alloy/src/main/ts/ephox/alloy/behaviour/docking/DockingApis.ts
  modules/tinymce/src/themes/silver/main/ts/modes/Inline.ts
  modules/tinymce/src/themes/silver/main/ts/ui/header/InlineHeader.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/scrolling/EditorInScrollingContainerTest.ts
  modules/tinymce/src/themes/silver/test/ts/module/TestExtras.ts
Owners: @tinymce/tinymce-reviewers

TINY-9693: handle tree component content overflow (#8553)
  modules/oxide/src/less/theme/components/advtemplate/advtemplate.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9686: Fixed exception from being thrown on redial of dialogs that has a menu button (#8550)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/themes/silver/main/ts/ui/window/SilverDialogCommon.ts
  modules/tinymce/src/themes/silver/main/ts/ui/window/SilverDialogInstanceApi.ts
  modules/tinymce/src/themes/silver/test/ts/browser/window/SilverDialogApiAccessTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9670: Move iframe init code sideways from InitContentBody to InitIframe (#8531)
  modules/tinymce/src/core/main/ts/init/Init.ts
  modules/tinymce/src/core/main/ts/init/InitContentBody.ts
  modules/tinymce/src/core/main/ts/init/InitIframe.ts
Owners: @tinymce/tinymce-reviewers

TINY-9358: Cleaned up versions.txt
  versions.txt
Owners: @tinymce/tinymce-reviewers

TINY-9358: Updated build.properties to merge `master` instead of `develop`
  build.properties
Owners: @tinymce/tinymce-reviewers

Publish
  modules/acid/package.json
  modules/agar/package.json
  modules/alloy/package.json
  modules/boss/package.json
  modules/boulder/package.json
  modules/bridge/package.json
  modules/darwin/package.json
  modules/dragster/package.json
  modules/jax/package.json
  modules/katamari-assertions/package.json
  modules/katamari/package.json
  modules/mcagar/package.json
  modules/oxide-icons-default/package.json
  modules/oxide/package.json
  modules/phoenix/package.json
  modules/polaris/package.json
  modules/porkbun/package.json
  modules/robin/package.json
  modules/sand/package.json
  modules/snooker/package.json
  modules/sugar/package.json
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team, @noxuhax

TINY-9358: Updated security.md
  SECURITY.md
Owners: @tinymce/tinymce-reviewers

Publish
  modules/acid/package.json
  modules/agar/package.json
  modules/alloy/package.json
  modules/boss/package.json
  modules/boulder/package.json
  modules/bridge/package.json
  modules/darwin/package.json
  modules/dragster/package.json
  modules/jax/package.json
  modules/katamari-assertions/package.json
  modules/katamari/package.json
  modules/mcagar/package.json
  modules/oxide-icons-default/package.json
  modules/oxide/package.json
  modules/phoenix/package.json
  modules/polaris/package.json
  modules/porkbun/package.json
  modules/robin/package.json
  modules/sand/package.json
  modules/snooker/package.json
  modules/sugar/package.json
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team, @noxuhax

TINY-9358: Added version and date to the changelogs
  modules/acid/CHANGELOG.md
  modules/agar/CHANGELOG.md
  modules/alloy/CHANGELOG.md
  modules/bridge/CHANGELOG.md
  modules/darwin/CHANGELOG.md
  modules/dragster/CHANGELOG.md
  modules/mcagar/CHANGELOG.md
  modules/snooker/CHANGELOG.md
  modules/sugar/CHANGELOG.md
  modules/tinymce/CHANGELOG.md
  versions.txt
Owners: @tinymce/tinymce-reviewers

TINY-9358: changelog.md (#8554)
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-9358: Prepare for TinyMCE 6.5 development
  build.properties
  modules/tinymce/package.json
Owners: @tinymce/tinymce-reviewers

TINY-8122: Word Count is treating characters either side of a word as their own words (#8512)
  modules/polaris/src/main/ts/ephox/polaris/words/UnicodeData.ts
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/plugins/searchreplace/test/ts/browser/SearchReplaceInSelectionTest.ts
  modules/tinymce/src/plugins/searchreplace/test/ts/browser/SearchReplacePluginTest.ts
  modules/tinymce/src/plugins/wordcount/test/ts/browser/PluginTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9653: Add defaultExpandedIds and onToggleExpand options to Tree component (#8558)
  modules/bridge/src/main/ts/ephox/bridge/components/dialog/Tree.ts
  modules/oxide/src/less/theme/components/tree/tree-button.less
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/themes/silver/demo/ts/demo/TreeDemo.ts
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/Tree.ts
  modules/tinymce/src/themes/silver/test/ts/headless/components/tree/TreeTest.ts
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-4189: Checkbox and containing label now both disabled/enabled (#8565)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/themes/silver/main/ts/ui/general/Checkbox.ts
  modules/tinymce/src/themes/silver/test/ts/headless/components/checkbox/BasicCheckboxTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9664: hiding toolbar on noneditable tables (#8532)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/plugins/table/main/ts/ui/Buttons.ts
  modules/tinymce/src/plugins/table/test/ts/browser/ui/ContextToolbarTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9460: Fixed issue with quickbars showing for noneditable contents in noneditable root (#8540)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/plugins/quickbars/main/ts/selection/Toolbars.ts
  modules/tinymce/src/plugins/quickbars/test/ts/browser/ContentEditableTest.ts
  modules/tinymce/src/plugins/quickbars/test/ts/module/test/Utils.ts
Owners: @tinymce/tinymce-reviewers

TINY-9704: Fix hiding the inline alert in Search and Replace dialog (#8578)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/plugins/searchreplace/main/ts/ui/Dialog.ts
  modules/tinymce/src/plugins/searchreplace/test/ts/browser/SearchReplaceDialogTest.ts
  modules/tinymce/src/plugins/searchreplace/test/ts/module/test/Utils.ts
Owners: @tinymce/tinymce-reviewers

TINY-9686: updated test label (#8551)
  modules/tinymce/src/themes/silver/test/ts/browser/window/SilverDialogApiAccessTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9654: Update Robin's word identification logic to identify words containing non-Latin characters (#8560)
  modules/polaris/CHANGELOG.md
  modules/polaris/src/main/ts/ephox/polaris/api/Words.ts
  modules/polaris/src/main/ts/ephox/polaris/words/WordBoundary.ts
  modules/polaris/src/main/ts/ephox/polaris/words/Words.ts
  modules/polaris/src/test/ts/atomic/api/WordsTest.ts
  modules/robin/CHANGELOG.md
  modules/robin/src/main/ts/ephox/robin/words/Identify.ts
  modules/robin/src/test/ts/atomic/words/IdentifyTest.ts
  modules/tinymce/src/plugins/wordcount/main/ts/core/Count.ts
  modules/tinymce/src/plugins/wordcount/test/ts/browser/PluginTest.ts
Owners: @tinymce/tinymce-reviewers

TINY--9280: Updated changelog files
  modules/alloy/CHANGELOG.md
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-9280: Fixed tests
  modules/alloy/src/test/ts/module/ephox/alloy/test/dropdown/TestDropdownMenu.ts
Owners: @tinymce/tinymce-reviewers

TINY-9280: Set aria-activedescendant of typeahead to selected item
  modules/alloy/src/main/ts/ephox/alloy/ui/composite/TypeaheadSpec.ts
Owners: @tinymce/tinymce-reviewers

TINY-9280: Added auto generated id to the menu item attribute
  modules/tinymce/src/themes/silver/main/ts/ui/menus/item/structure/ItemStructure.ts
Owners: @tinymce/tinymce-reviewers

TINY-9280: Fixed the logic so the screen readers will announce correct highlighted menu item
  modules/alloy/src/main/ts/ephox/alloy/ui/composite/TypeaheadSpec.ts
Owners: @tinymce/tinymce-reviewers

TINY-9280: Changed the prefix of the generated id of menu item
  modules/tinymce/src/themes/silver/main/ts/ui/menus/item/structure/ItemStructure.ts
Owners: @tinymce/tinymce-reviewers

TINY-9280: De-duplicated set/remove aria-activedescendant in a lot of places
  modules/alloy/src/main/ts/ephox/alloy/ui/composite/TypeaheadSpec.ts
  modules/alloy/src/main/ts/ephox/alloy/ui/schema/TypeaheadSchema.ts
Owners: @tinymce/tinymce-reviewers

TINY-9280: Fixed lint error
  modules/tinymce/src/themes/silver/main/ts/ui/menus/item/structure/ItemStructure.ts
Owners: @tinymce/tinymce-reviewers

TINY-9280: Added tests
  modules/alloy/src/test/ts/browser/ui/typeahead/TypeaheadTest.ts
  modules/alloy/src/test/ts/module/ephox/alloy/test/typeahead/TestTypeaheadSteps.ts
Owners: @tinymce/tinymce-reviewers

TINY-9280: Updated changelog files
  modules/alloy/CHANGELOG.md
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-9280: Fixed tests
  modules/alloy/src/test/ts/module/ephox/alloy/test/dropdown/TestDropdownMenu.ts
Owners: @tinymce/tinymce-reviewers

TINY-9680: fix changelog entry
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-9680: refactor
  modules/tinymce/src/plugins/advlist/main/ts/ui/Buttons.ts
Owners: @tinymce/tinymce-reviewers

TINY-9669: Added editable state toggle to link plugin
  modules/tinymce/src/plugins/link/main/ts/core/Actions.ts
  modules/tinymce/src/plugins/link/main/ts/ui/Controls.ts
Owners: @tinymce/tinymce-reviewers

TINY-9669: Added edit state update for simple controls
  modules/tinymce/src/themes/silver/main/ts/ui/core/AlignmentButtons.ts
  modules/tinymce/src/themes/silver/main/ts/ui/core/ControlUtils.ts
  modules/tinymce/src/themes/silver/main/ts/ui/core/SimpleControls.ts
Owners: @tinymce/tinymce-reviewers

.github/CODEOWNERS:

* @tinymce/tinymce-reviewers

# Oxide changes should include the design team as well
/modules/oxide/ @tinymce/tinymce-reviewers @noxuhax
/modules/oxide-icons-default/ @tinymce/tinymce-reviewers @noxuhax

# Katamari changes should include the integrations team as well
/modules/katamari/ @tinymce/tinymce-reviewers @tinymce/integrations-team
