Repository tinymce/tinymce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tinymce/tinymce-reviewers, @noxuhax, @tinymce/integrations-team

.github/CODEOWNERS:

* @tinymce/tinymce-reviewers

# Oxide changes should include the design team as well
/modules/oxide/ @tinymce/tinymce-reviewers @noxuhax
/modules/oxide-icons-default/ @tinymce/tinymce-reviewers @noxuhax

# Katamari changes should include the integrations team as well
/modules/katamari/ @tinymce/tinymce-reviewers @tinymce/integrations-team

TINY-10144: add .gitkeep to unreleased folder
  .changes/unreleased/.gitkeep
Owners: @tinymce/tinymce-reviewers

TINY-10144: getting packages other than tinymce ready for changie
  .changes/acid/6.0.0.md
  .changes/agar/8.0.0.md
  .changes/alloy/14.0.1.md
  .changes/bridge/4.7.0.md
  .changes/mcagar/9.0.0.md
  .changes/sugar/9.3.0.md
  .changes/tinymce/6.8.2.md
  .changes/unreleased/agar-TINY-10386-2023-12-12.yaml
  .changes/unreleased/snooker-TINY-6309-2023-12-12.yaml
  modules/acid/CHANGELOG.md
  modules/agar/CHANGELOG.md
  modules/alloy/CHANGELOG.md
  modules/bridge/CHANGELOG.md
  modules/mcagar/CHANGELOG.md
  modules/snooker/CHANGELOG.md
  modules/sugar/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-10144: refactor changelog
  .changes/acid/6.0.0.md
  .changes/agar/8.0.0.md
  .changes/alloy/14.0.1.md
  .changes/bridge/4.7.0.md
  .changes/mcagar/9.0.0.md
  .changes/sugar/9.3.0.md
Owners: @tinymce/tinymce-reviewers

TINY-10144: add change entry for tinymce
  .changes/unreleased/tinymce-TINY-10310-2023-12-12.yaml
  .changes/unreleased/tinymce-TINY-10312-2023-12-12.yaml
  .changes/unreleased/tinymce-TINY-10339-2023-12-12.yaml
  .changes/unreleased/tinymce-TINY-6309-2023-12-12.yaml
Owners: @tinymce/tinymce-reviewers

TINY-10144: get tinymce ready for changie
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-10144: reformat changelog
  .changes/tinymce/6.8.2.md
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

Publish
  modules/acid/package.json
  modules/alloy/package.json
Owners: @tinymce/tinymce-reviewers

TINY-6460: When pasting *after* a row/col, the cursor is now correctly placed in that newly pasted row/col
  modules/snooker/src/main/ts/ephox/snooker/api/TableOperations.ts
Owners: @tinymce/tinymce-reviewers

TINY-10446: Remove unused param in generateSelectItems in BespokeSelect module (#9234)
  modules/tinymce/src/themes/silver/main/ts/ui/core/complex/AlignBespoke.ts
  modules/tinymce/src/themes/silver/main/ts/ui/core/complex/BespokeSelect.ts
  modules/tinymce/src/themes/silver/main/ts/ui/core/complex/BlocksBespoke.ts
  modules/tinymce/src/themes/silver/main/ts/ui/core/complex/FontFamilyBespoke.ts
  modules/tinymce/src/themes/silver/main/ts/ui/core/complex/FontSizeBespoke.ts
  modules/tinymce/src/themes/silver/main/ts/ui/core/complex/StylesBespoke.ts
Owners: @tinymce/tinymce-reviewers

TINY-10185: Tweak dependencies and scripts to better fit within the premium monorepo
  bin/build-prism.js
  modules/oxide-icons-default/package.json
  modules/oxide/package.json
  package.json
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-10185: Set more reasonable main and types properties on TinyMCE's package json
  modules/tinymce/package.json
Owners: @tinymce/tinymce-reviewers

TINY-10185: Add type when agar is compiled standalone
  modules/agar/src/main/ts/ephox/agar/api/Assertions.ts
Owners: @tinymce/tinymce-reviewers

TINY-10185: Don't allow dompurify to upgrade by accident
  modules/tinymce/package.json
Owners: @tinymce/tinymce-reviewers

TINY-10185: Rename root package to something more sensible
  package.json
Owners: @tinymce/tinymce-reviewers

TINY-10185: Update to 6.8 release versions. Fix outdated yarn lock.
  modules/boulder/package.json
  modules/robin/package.json
  modules/snooker/package.json
  modules/tinymce/package.json
  yarn.lock
Owners: @tinymce/tinymce-reviewers

TINY-10185: Add 'build' scripts to every project
  modules/acid/package.json
  modules/agar/package.json
  modules/alloy/package.json
  modules/boss/package.json
  modules/boulder/package.json
  modules/bridge/package.json
  modules/darwin/package.json
  modules/dragster/package.json
  modules/katamari-assertions/package.json
  modules/katamari/package.json
  modules/mcagar/package.json
  modules/phoenix/package.json
  modules/polaris/package.json
  modules/porkbun/package.json
  modules/robin/package.json
  modules/sand/package.json
  modules/snooker/package.json
  modules/sugar/package.json
  modules/tinymce/package.json
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team

TINY-10185: Add missing inter-dependencies between modules
  modules/boulder/package.json
  modules/robin/package.json
  modules/snooker/package.json
  modules/tinymce/package.json
Owners: @tinymce/tinymce-reviewers

TINY-10144: rewrite Makefile
  Makefile
Owners: @tinymce/tinymce-reviewers

TINY-10314: Fix mutiple caret display on Firefox
  modules/tinymce/src/core/main/ts/caret/FakeCaret.ts
  modules/tinymce/src/core/test/ts/browser/caret/FakeCaretTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10314: add changelog entry
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-10314: fix changelog entry
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-10314: fix test's text
  modules/tinymce/src/core/test/ts/browser/caret/FakeCaretTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10314: Fix mutiple caret display on Firefox (#9182)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/caret/FakeCaret.ts
  modules/tinymce/src/core/test/ts/browser/caret/FakeCaretTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10317: Composition should prevent autocomplete from starting. (#9208)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/keyboard/Autocompleter.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/autocomplete/AutocompleteTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-6460: Added tests for checking cursor postition after pasting before and after rows or cols
  modules/snooker/src/test/ts/browser/PasteColumnOperationsTest.ts
  modules/snooker/src/test/ts/browser/PasteRowOperationsTest.ts
  modules/snooker/src/test/ts/module/ephox/snooker/test/Assertions.ts
Owners: @tinymce/tinymce-reviewers

TINY-6460: Added changelog entry
  modules/snooker/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-9275: Add back title attribute to various buttons so that test would pass
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/ListBox.ts
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/SizeInput.ts
  modules/tinymce/src/themes/silver/main/ts/ui/dropdown/CommonDropdown.ts
  modules/tinymce/src/themes/silver/main/ts/ui/menus/item/build/CardMenuItem.ts
  modules/tinymce/src/themes/silver/main/ts/ui/menus/item/structure/ItemStructure.ts
  modules/tinymce/src/themes/silver/main/ts/ui/toolbar/button/ToolbarButtons.ts
  modules/tinymce/src/themes/silver/main/ts/ui/window/SilverDialogHeader.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/TooltipTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9275: Fix failing test
  modules/tinymce/src/themes/silver/test/ts/module/TestBackstage.ts
Owners: @tinymce/tinymce-reviewers

TINY-9275: Fix failing test
  modules/tinymce/src/themes/silver/test/ts/browser/editor/TooltipTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9275: Add space
  modules/tinymce/src/themes/silver/test/ts/browser/editor/TooltipTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9275: Fix test container
  modules/tinymce/src/themes/silver/test/ts/browser/editor/TooltipTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-6460: Correctly place cursor position for the "paste after" table operations (#9244)
  modules/snooker/CHANGELOG.md
  modules/snooker/src/main/ts/ephox/snooker/api/TableOperations.ts
  modules/snooker/src/test/ts/browser/PasteColumnOperationsTest.ts
  modules/snooker/src/test/ts/browser/PasteRowOperationsTest.ts
  modules/snooker/src/test/ts/module/ephox/snooker/test/Assertions.ts
Owners: @tinymce/tinymce-reviewers

TINY-9275: Fix tests
  modules/tinymce/src/themes/silver/test/ts/browser/editor/TooltipTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9275: Fix failing test
  modules/tinymce/src/themes/silver/test/ts/browser/editor/TooltipTest.ts
Owners: @tinymce/tinymce-reviewers

Remove 'secrets', update args
  Gruntfile.js
  Jenkinsfile
Owners: @tinymce/tinymce-reviewers

TINY-10185: Add project.json files to help with nx builds
  modules/oxide-icons-default/project.json
  modules/oxide/project.json
  modules/tinymce/project.json
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9275: Adding checking to prevent calling detach on removed element
  modules/alloy/src/main/ts/ephox/alloy/behaviour/tooltipping/ActiveTooltipping.ts
Owners: @tinymce/tinymce-reviewers

TINY-9275: Update test providers
  modules/tinymce/src/themes/silver/test/ts/headless/components/sizeinput/SizeInputTest.ts
  modules/tinymce/src/themes/silver/test/ts/headless/toolbar/ToolbarButtonsTest.ts
  modules/tinymce/src/themes/silver/test/ts/headless/window/SilverDialogEventTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9275: Fix failing test
  modules/tinymce/src/themes/silver/test/ts/webdriver/dialogs/SizeInputSpaceTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10284: Add revision history view styles (#9188)
  modules/oxide/src/less/theme/components/revisionhistory/revisionhistory.less
  modules/oxide/src/less/theme/theme.less
Owners: @tinymce/tinymce-reviewers, @noxuhax
