Repository tinymce/tinymce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tinymce/tinymce-reviewers, @noxuhax, @tinymce/integrations-team

.github/CODEOWNERS:

* @tinymce/tinymce-reviewers

# Oxide changes should include the design team as well
/modules/oxide/ @tinymce/tinymce-reviewers @noxuhax
/modules/oxide-icons-default/ @tinymce/tinymce-reviewers @noxuhax

# Katamari changes should include the integrations team as well
/modules/katamari/ @tinymce/tinymce-reviewers @tinymce/integrations-team

TINY-8926: Exposed the types in public api and changed namespace
  modules/tinymce/src/core/main/ts/api/PublicApi.ts
  modules/tinymce/src/core/main/ts/api/textpatterns/TextPatterns.ts
Owners: @tinymce/tinymce-reviewers

TINY-8828: Prevent selection of cef content with the mouse on Firefox (#7972)
  modules/oxide/src/less/theme/content/contenteditable/contenteditable.less
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/test/ts/browser/delete/CefDeleteNoneditableTest.ts
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-8840: Renamed to promotion, changed values, added values, removed values.
  modules/mcagar/src/main/ts/ephox/mcagar/api/McEditor.ts
  modules/mcagar/src/main/ts/ephox/mcagar/loader/Loader.ts
  modules/oxide/src/less/theme/components/menubar/menubar.less
  modules/oxide/src/less/theme/components/menubar/promotion.less
  modules/oxide/src/less/theme/components/menubar/spap.less
  modules/oxide/src/less/theme/theme.less
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/api/OptionTypes.ts
  modules/tinymce/src/core/test/ts/browser/init/EditorInitializationTest.ts
  modules/tinymce/src/themes/silver/main/ts/Render.ts
  modules/tinymce/src/themes/silver/main/ts/api/Options.ts
  modules/tinymce/src/themes/silver/main/ts/ui/general/OuterContainer.ts
  modules/tinymce/src/themes/silver/main/ts/ui/promotion/Promotion.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/SilverEditorTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/SilverFixedToolbarContainerTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/SilverInlineEditorTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/header/HeaderLocationTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/header/PromotionTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/header/SpapTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/header/StickyHeaderInitialPlacementTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/window/SilverInlineDialogPositionTest.ts
  modules/tinymce/src/themes/silver/test/ts/module/StickyHeaderUtils.ts
  modules/tinymce/src/themes/silver/test/ts/webdriver/editor/TabbingTest.ts
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-8840: Multiple editors had promotions in them.
  modules/tinymce/src/core/test/ts/browser/init/EditorInitializationTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8887: Apply suggestions from code review
  modules/katamari/src/test/ts/atomic/api/str/ContainsTest.ts
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/autocomplete/AutocompleteContext.ts
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team

TINY-8887: remove redundant comment
  modules/bridge/src/main/ts/ephox/bridge/components/content/Autocompleter.ts
  modules/tinymce/src/core/main/ts/autocomplete/AutocompleteContext.ts
Owners: @tinymce/tinymce-reviewers

TINY-8944: Upgrade bedrock plus other dev deps and re-enable skipped tests
  modules/agar/src/test/ts/webdriver/RealEffectsTest.ts
  modules/tinymce/src/core/test/ts/webdriver/paste/CopyAndPasteTest.ts
  modules/tinymce/src/plugins/nonbreaking/test/ts/webdriver/NonbreakingVisualCharsTypingTest.ts
  package.json
  yarn.lock
Owners: @tinymce/tinymce-reviewers

Update modules/tinymce/CHANGELOG.md
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-8887: remove inefficient Arr.foldl
  modules/tinymce/src/core/main/ts/autocomplete/AutocompleteContext.ts
Owners: @tinymce/tinymce-reviewers

TINY-8887: deprecated changelog entry
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-8887: merge Improve section
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-8887: findTrigger refactoring
  modules/tinymce/src/core/main/ts/autocomplete/AutocompleteContext.ts
Owners: @tinymce/tinymce-reviewers

TINY-8887: rename ch => trigger
  modules/tinymce/src/core/main/ts/autocomplete/AutocompleteContext.ts
  modules/tinymce/src/core/main/ts/autocomplete/AutocompleteLookup.ts
  modules/tinymce/src/core/main/ts/autocomplete/Autocompleters.ts
  modules/tinymce/src/core/main/ts/keyboard/Autocompleter.ts
Owners: @tinymce/tinymce-reviewers

Update modules/tinymce/src/core/main/ts/textpatterns/core/BlockPattern.ts
  modules/tinymce/src/core/main/ts/textpatterns/core/BlockPattern.ts
Owners: @tinymce/tinymce-reviewers

TINY-8778: Changed as per comment
  modules/tinymce/src/core/main/ts/textpatterns/core/BlockPattern.ts
  modules/tinymce/src/core/main/ts/textpatterns/utils/Utils.ts
Owners: @tinymce/tinymce-reviewers

TINY-8721: Make sure single value is respected for advlist options (#8017)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/plugins/advlist/main/ts/ui/Buttons.ts
  modules/tinymce/src/plugins/advlist/test/ts/browser/AdvlistOptionsAndToolbarTest.ts
  modules/tinymce/src/plugins/advlist/test/ts/browser/ToolbarButtonStructureTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8944: Upgrade bedrock plus other dev deps and re-enable skipped tests (#8033)
  modules/agar/src/test/ts/webdriver/RealEffectsTest.ts
  modules/tinymce/src/core/test/ts/webdriver/paste/CopyAndPasteTest.ts
  modules/tinymce/src/plugins/nonbreaking/test/ts/webdriver/NonbreakingVisualCharsTypingTest.ts
  package.json
  yarn.lock
Owners: @tinymce/tinymce-reviewers

TINY-8840: Updates
  modules/agar/CHANGELOG.md
  modules/oxide/src/less/theme/components/menubar/promotion.less
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/themes/silver/main/ts/ui/promotion/Promotion.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/header/PromotionTest.ts
  versions.txt
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-8840: less-update.
  modules/oxide/src/less/theme/components/menubar/promotion.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-8778: Fixed the lookup patterns taking priority over default patterns even though the latter has a better match (#8024)
  modules/tinymce/src/core/main/ts/textpatterns/core/BlockPattern.ts
  modules/tinymce/src/core/main/ts/textpatterns/core/Pattern.ts
  modules/tinymce/src/core/test/ts/atomic/textpatterns/FindBlockPatternsTest.ts
  modules/tinymce/src/core/test/ts/browser/textpatterns/FindBlockPatternsTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8840: Added mc to agar, improved tests.
  modules/agar/CHANGELOG.md
  modules/mcagar/CHANGELOG.md
  modules/tinymce/src/themes/silver/test/ts/browser/editor/header/PromotionTest.ts
  versions.txt
Owners: @tinymce/tinymce-reviewers

TINY-8926: Exported types of text pattern (#8029)
  modules/tinymce/src/core/main/ts/api/PublicApi.ts
  modules/tinymce/src/core/main/ts/api/textpatterns/TextPatterns.ts
Owners: @tinymce/tinymce-reviewers

TINY-8591: Move the EditorManager class to a standalone file, better reflecting how it's intended to be used
  modules/tinymce/src/core/main/ts/api/EditorManager.ts
  modules/tinymce/tools/docs/tinymce.EditorManager.js
  modules/tinymce/tools/docs/tinymce.js
Owners: @tinymce/tinymce-reviewers

TINY-8591: Tweak to link syntax
  modules/tinymce/tools/docs/tinymce.EditorManager.js
Owners: @tinymce/tinymce-reviewers

TINY-8940: Investigate and fix getAnchorElement changes (#8019)
  modules/tinymce/src/plugins/link/main/ts/core/Actions.ts
  modules/tinymce/src/plugins/link/main/ts/core/Utils.ts
  modules/tinymce/src/plugins/link/main/ts/ui/Controls.ts
  modules/tinymce/src/plugins/link/test/ts/browser/ContextToolbarTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8840: Aria hidden added on request, comment to next issue.
  modules/tinymce/src/themes/silver/main/ts/ui/promotion/Promotion.ts
Owners: @tinymce/tinymce-reviewers

TINY-8874: make changes as per review
  modules/katamari/src/main/ts/ephox/katamari/api/Singleton.ts
  modules/tinymce/src/core/main/ts/DragDropOverrides.ts
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team

TINY-8874: make changes as per review
  modules/tinymce/src/core/main/ts/DragDropOverrides.ts
Owners: @tinymce/tinymce-reviewers

TINY-8874: fix safari test
  modules/tinymce/src/core/test/ts/browser/DragDropOverridesTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8874: fix formatting issues
  modules/katamari/src/main/ts/ephox/katamari/api/Singleton.ts
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team

TINY-8874: fix build issue
  modules/tinymce/src/core/test/ts/browser/DragDropOverridesTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8840: Try Premium Upgrade
  modules/tinymce/src/themes/silver/main/ts/ui/promotion/Promotion.ts
Owners: @tinymce/tinymce-reviewers

TINY-8921: Fixed more strict type errors in the core
  modules/tinymce/src/core/main/ts/api/AddOnManager.ts
  modules/tinymce/src/core/main/ts/api/Editor.ts
  modules/tinymce/src/core/main/ts/api/EditorCommands.ts
  modules/tinymce/src/core/main/ts/api/EventTypes.ts
  modules/tinymce/src/core/main/ts/api/NotificationManager.ts
  modules/tinymce/src/core/main/ts/api/OptionTypes.ts
  modules/tinymce/src/core/main/ts/api/UndoManager.ts
  modules/tinymce/src/core/main/ts/api/dom/DOMUtils.ts
  modules/tinymce/src/core/main/ts/api/html/Styles.ts
  modules/tinymce/src/core/main/ts/api/html/Writer.ts
  modules/tinymce/src/core/main/ts/api/util/EventDispatcher.ts
  modules/tinymce/src/core/main/ts/autocomplete/AutocompleteTag.ts
  modules/tinymce/src/core/main/ts/caret/CaretContainer.ts
  modules/tinymce/src/core/main/ts/fmt/FormatChanged.ts
  modules/tinymce/src/core/main/ts/fmt/FormatTypes.ts
  modules/tinymce/src/core/main/ts/undo/Levels.ts
Owners: @tinymce/tinymce-reviewers

TINY-8921: Fixed more strict type errors in the core demos
  modules/tinymce/.eslintrc.json
  modules/tinymce/src/core/demo/ts/demo/AnnotationsDemo.ts
  modules/tinymce/src/core/demo/ts/demo/CommandsDemo.ts
  modules/tinymce/src/core/demo/ts/demo/ContentEditableFalseDemo.ts
  modules/tinymce/src/core/demo/ts/demo/ContentSecurityPolicyDemo.ts
  modules/tinymce/src/core/demo/ts/demo/CustomThemeDemo.ts
  modules/tinymce/src/core/demo/ts/demo/FixedToolbarContainerDemo.ts
  modules/tinymce/src/core/demo/ts/demo/FullDemo.ts
  modules/tinymce/src/core/demo/ts/demo/IframeDemo.ts
  modules/tinymce/src/core/demo/ts/demo/InlineDemo.ts
  modules/tinymce/src/core/demo/ts/demo/ResponsiveDemo.ts
  modules/tinymce/src/core/demo/ts/demo/ShadowDomDemo.ts
  modules/tinymce/src/core/demo/ts/demo/ShadowDomInlineDemo.ts
  modules/tinymce/src/core/demo/ts/demo/SourceDumpDemo.ts
  modules/tinymce/src/core/demo/ts/demo/StickyToolbarDemo.ts
  modules/tinymce/src/core/demo/ts/demo/TinyMceDemo.ts
  modules/tinymce/tsconfig.strict.json
Owners: @tinymce/tinymce-reviewers

TINY-8840: Added Improved.
  modules/mcagar/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-8840: Better change.
  modules/mcagar/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-8921: Fixed more strict type errors in the core demos
  modules/tinymce/.eslintrc.json
  modules/tinymce/src/core/demo/ts/demo/AnnotationsDemo.ts
  modules/tinymce/src/core/demo/ts/demo/CommandsDemo.ts
  modules/tinymce/src/core/demo/ts/demo/ContentEditableFalseDemo.ts
  modules/tinymce/src/core/demo/ts/demo/ContentSecurityPolicyDemo.ts
  modules/tinymce/src/core/demo/ts/demo/CustomThemeDemo.ts
  modules/tinymce/src/core/demo/ts/demo/FixedToolbarContainerDemo.ts
  modules/tinymce/src/core/demo/ts/demo/FullDemo.ts
  modules/tinymce/src/core/demo/ts/demo/IframeDemo.ts
  modules/tinymce/src/core/demo/ts/demo/InlineDemo.ts
  modules/tinymce/src/core/demo/ts/demo/ResponsiveDemo.ts
  modules/tinymce/src/core/demo/ts/demo/ShadowDomDemo.ts
  modules/tinymce/src/core/demo/ts/demo/ShadowDomInlineDemo.ts
  modules/tinymce/src/core/demo/ts/demo/SourceDumpDemo.ts
  modules/tinymce/src/core/demo/ts/demo/StickyToolbarDemo.ts
  modules/tinymce/src/core/demo/ts/demo/TinyMceDemo.ts
  modules/tinymce/tsconfig.strict.json
Owners: @tinymce/tinymce-reviewers

TINY-8921: Fixed more strict type errors in the core
  modules/tinymce/src/core/main/ts/api/AddOnManager.ts
  modules/tinymce/src/core/main/ts/api/Editor.ts
  modules/tinymce/src/core/main/ts/api/EditorCommands.ts
  modules/tinymce/src/core/main/ts/api/EventTypes.ts
  modules/tinymce/src/core/main/ts/api/NotificationManager.ts
  modules/tinymce/src/core/main/ts/api/OptionTypes.ts
  modules/tinymce/src/core/main/ts/api/UndoManager.ts
  modules/tinymce/src/core/main/ts/api/dom/DOMUtils.ts
  modules/tinymce/src/core/main/ts/api/html/Styles.ts
  modules/tinymce/src/core/main/ts/api/html/Writer.ts
  modules/tinymce/src/core/main/ts/api/util/EventDispatcher.ts
  modules/tinymce/src/core/main/ts/autocomplete/AutocompleteTag.ts
  modules/tinymce/src/core/main/ts/caret/CaretContainer.ts
  modules/tinymce/src/core/main/ts/fmt/FormatChanged.ts
  modules/tinymce/src/core/main/ts/fmt/FormatTypes.ts
  modules/tinymce/src/core/main/ts/undo/Levels.ts
Owners: @tinymce/tinymce-reviewers

TINY-8921: Fixed strict type errors in the dom model
  modules/snooker/CHANGELOG.md
  modules/snooker/src/main/ts/ephox/snooker/api/TableFill.ts
  modules/tinymce/.eslintrc.json
  modules/tinymce/src/models/dom/demo/ts/demo/Demo.ts
  modules/tinymce/src/models/dom/main/ts/Model.ts
  modules/tinymce/src/models/dom/main/ts/table/actions/Clipboard.ts
  modules/tinymce/src/models/dom/main/ts/table/actions/InsertTable.ts
  modules/tinymce/src/models/dom/main/ts/table/actions/TableActions.ts
  modules/tinymce/src/models/dom/main/ts/table/api/Events.ts
  modules/tinymce/src/models/dom/main/ts/table/api/Options.ts
  modules/tinymce/src/models/dom/main/ts/table/api/TableCellSelectionHandler.ts
  modules/tinymce/src/models/dom/main/ts/table/api/TableResizeHandler.ts
  modules/tinymce/src/models/dom/test/ts/browser/table/DragResizeTest.ts
  modules/tinymce/src/models/dom/test/ts/browser/table/InsertRowTableResizeTest.ts
  modules/tinymce/src/models/dom/test/ts/browser/table/ResizeTableTest.ts
  modules/tinymce/src/models/dom/test/ts/browser/table/TableSectionApiTest.ts
  modules/tinymce/src/models/dom/test/ts/browser/table/TwoCellsSelectionTest.ts
  modules/tinymce/src/models/dom/test/ts/browser/table/command/MergeCellCommandTest.ts
  modules/tinymce/src/models/dom/test/ts/module/table/TableSizingModeCommandUtil.ts
  modules/tinymce/src/models/dom/test/ts/module/table/TableTestUtils.ts
  modules/tinymce/tsconfig.strict.json
Owners: @tinymce/tinymce-reviewers

TINY-8921: Fixed strict type errors in the dom model
  modules/snooker/CHANGELOG.md
  modules/snooker/src/main/ts/ephox/snooker/api/TableFill.ts
  modules/tinymce/.eslintrc.json
  modules/tinymce/src/models/dom/demo/ts/demo/Demo.ts
  modules/tinymce/src/models/dom/main/ts/Model.ts
  modules/tinymce/src/models/dom/main/ts/table/actions/Clipboard.ts
  modules/tinymce/src/models/dom/main/ts/table/actions/InsertTable.ts
  modules/tinymce/src/models/dom/main/ts/table/actions/TableActions.ts
  modules/tinymce/src/models/dom/main/ts/table/api/Events.ts
  modules/tinymce/src/models/dom/main/ts/table/api/Options.ts
  modules/tinymce/src/models/dom/main/ts/table/api/TableCellSelectionHandler.ts
  modules/tinymce/src/models/dom/main/ts/table/api/TableResizeHandler.ts
  modules/tinymce/src/models/dom/test/ts/browser/table/DragResizeTest.ts
  modules/tinymce/src/models/dom/test/ts/browser/table/InsertRowTableResizeTest.ts
  modules/tinymce/src/models/dom/test/ts/browser/table/ResizeTableTest.ts
  modules/tinymce/src/models/dom/test/ts/browser/table/TableSectionApiTest.ts
  modules/tinymce/src/models/dom/test/ts/browser/table/TwoCellsSelectionTest.ts
  modules/tinymce/src/models/dom/test/ts/browser/table/command/MergeCellCommandTest.ts
  modules/tinymce/src/models/dom/test/ts/module/table/TableSizingModeCommandUtil.ts
  modules/tinymce/src/models/dom/test/ts/module/table/TableTestUtils.ts
  modules/tinymce/tsconfig.strict.json
Owners: @tinymce/tinymce-reviewers
