Repository tinymce/tinymce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran, @lostkeys, @noxuhax, @tinymce/integrations-team

TINY-8568: Improve snooker changelog entry
  modules/snooker/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8568: Add version to snooker changelog
  modules/snooker/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8568: Fix incorrect copying of colgroup table with colspans/rowspans (#7696)
  modules/snooker/CHANGELOG.md
  modules/snooker/src/main/ts/ephox/snooker/api/CopySelected.ts
  modules/snooker/src/test/ts/browser/CopySelectedTest.ts
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/plugins/table/test/ts/browser/ClipboardTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8567: some cleanup based on PR feedback
  modules/tinymce/src/core/main/ts/caret/ClosestCaretCandidate.ts
  modules/tinymce/src/core/test/ts/browser/caret/ClosestCaretCandidateTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8564: Fix double border with toolbar_location: bottom (#7686)
  modules/oxide/src/less/skins/ui/tinymce-5/skin.less
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @lostkeys, @noxuhax, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8567: fixed issue where it was not possible to select text after a inline noneditable (#7693)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/caret/ClosestCaretCandidate.ts
  modules/tinymce/src/core/test/ts/browser/caret/ClosestCaretCandidateTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

Update CHANGELOG.md
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

Publish
  modules/darwin/package.json
  modules/oxide/package.json
  modules/snooker/package.json
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran, @lostkeys, @noxuhax

Update CHANGELOG.md
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8580: Fixed incorrect term in deprecations warnings
  modules/tinymce/src/core/main/ts/Deprecations.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

Update CHANGELOG.md (#7701)
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8584: Updated the docs urls to meet the change in URL format
  README.md
  SECURITY.md
  modules/oxide-icons-default/README.md
  modules/oxide/README.md
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/Deprecations.ts
  modules/tinymce/src/core/main/ts/api/EditorManager.ts
  modules/tinymce/src/core/main/ts/api/NotificationManager.ts
  modules/tinymce/src/core/main/ts/api/WindowManager.ts
  modules/tinymce/src/core/main/ts/api/fmt/StyleFormat.ts
  modules/tinymce/src/core/main/ts/api/ui/Registry.ts
  modules/tinymce/src/core/main/ts/api/util/Observable.ts
  modules/tinymce/src/plugins/help/main/ts/ui/PluginsTab.ts
  modules/tinymce/src/plugins/help/main/ts/ui/VersionTab.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran, @lostkeys, @noxuhax

TINY-6559: Repeat for headless tests, removed vestigial BLOCKQUOTE from regex.
  Gruntfile.js
  modules/tinymce/src/core/main/ts/newline/InsertBlock.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-6559: Minor fixes.
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/newline/InsertBlock.ts
  modules/tinymce/src/core/main/ts/newline/NewLineUtils.ts
  modules/tinymce/src/core/test/ts/browser/newline/InsertNewLineTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8585: Remove "Added in" from docs and rename "disabled" properties and methods
  modules/tinymce/tools/docs/tinymce.Env.js
  modules/tinymce/tools/docs/tinymce.Event.js
  modules/tinymce/tools/docs/tinymce.editor.ui.Ui.js
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-6559: Changed api.
  modules/tinymce/src/core/main/ts/newline/InsertBlock.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8573: Fixed autocompleter border
  modules/oxide/src/less/theme/components/form/autocomplete.less
Owners: @tinymce/editor-platform-team, @lostkeys, @noxuhax, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8573: Changelog entry
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8582: Fixed the buttonType property not working for dialog footer buttons
  modules/bridge/src/main/ts/ephox/bridge/components/dialog/DialogFooterButton.ts
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/AlertDialog.ts
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/ConfirmDialog.ts
  modules/tinymce/src/themes/silver/test/ts/headless/window/SilverDialogEventTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8582: Added a changelog entry
  modules/bridge/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8582: Use buttonType from spec
  modules/tinymce/src/themes/silver/main/ts/ui/general/Button.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8582: Added an TinyMCE changelog entry and deprecation comment
  modules/bridge/src/main/ts/ephox/bridge/components/dialog/DialogFooterButton.ts
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8584: Updated the docs urls to meet the change in URL format (#7702)
  README.md
  SECURITY.md
  modules/oxide-icons-default/README.md
  modules/oxide/README.md
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/Deprecations.ts
  modules/tinymce/src/core/main/ts/api/EditorManager.ts
  modules/tinymce/src/core/main/ts/api/NotificationManager.ts
  modules/tinymce/src/core/main/ts/api/WindowManager.ts
  modules/tinymce/src/core/main/ts/api/fmt/StyleFormat.ts
  modules/tinymce/src/core/main/ts/api/ui/Registry.ts
  modules/tinymce/src/core/main/ts/api/util/Observable.ts
  modules/tinymce/src/plugins/help/main/ts/ui/PluginsTab.ts
  modules/tinymce/src/plugins/help/main/ts/ui/VersionTab.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran, @lostkeys, @noxuhax

TINY-8585: Remove "Added in" from docs and rename "disabled" properties and methods
  modules/tinymce/tools/docs/tinymce.Env.js
  modules/tinymce/tools/docs/tinymce.Event.js
  modules/tinymce/tools/docs/tinymce.editor.ui.Ui.js
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

Remove "Added in" from docs and rename "disabled" properties and methods
  modules/tinymce/src/core/main/ts/api/Editor.ts
  modules/tinymce/src/core/main/ts/api/Formatter.ts
  modules/tinymce/src/core/main/ts/api/dom/StyleSheetLoader.ts
  modules/tinymce/src/core/main/ts/api/dom/TextSeeker.ts
  modules/tinymce/src/core/main/ts/api/ui/Registry.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8582: Moved changelog entry into the right place
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8582: Added tests
  modules/tinymce/src/themes/silver/test/ts/headless/components/dialogbutton/DialogFooterButtonTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-6559: Minor mistakes.
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/newline/NewLineUtils.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

Removed "Added in" comment
  modules/tinymce/src/core/main/ts/api/util/ImageUploader.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

Fix "param", and clear description
  modules/tinymce/tools/docs/tinymce.editor.ui.Ui.js
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8589: Fixed some whitespace issues and fixed a typo
  modules/tinymce/src/core/main/ts/api/Editor.ts
  modules/tinymce/src/core/main/ts/api/EditorObservable.ts
  modules/tinymce/src/core/main/ts/api/Formatter.ts
  modules/tinymce/src/core/main/ts/api/dom/DOMUtils.ts
  modules/tinymce/src/core/main/ts/api/dom/Selection.ts
  modules/tinymce/src/core/main/ts/api/html/DomParser.ts
  modules/tinymce/src/core/main/ts/api/html/Node.ts
  modules/tinymce/src/core/main/ts/api/html/Schema.ts
  modules/tinymce/src/core/main/ts/api/html/Serializer.ts
  modules/tinymce/src/core/main/ts/api/html/Writer.ts
  modules/tinymce/src/core/main/ts/api/ui/Registry.ts
  modules/tinymce/src/core/main/ts/api/util/EventDispatcher.ts
  modules/tinymce/src/core/main/ts/api/util/Tools.ts
  modules/tinymce/tools/docs/tinymce.Editor.js
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8589: Reverted a change that was accidentally left in while testing
  modules/tinymce/src/core/main/ts/api/FakeClipboard.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

Rewrite comments from suggestions
  modules/tinymce/tools/docs/tinymce.editor.ui.Ui.js
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8585: Removed "Added in TinyMCE" version comments, updated "setEnabled" and "isEnabled" API comments (#7709)
  modules/tinymce/src/core/main/ts/api/Editor.ts
  modules/tinymce/src/core/main/ts/api/Formatter.ts
  modules/tinymce/src/core/main/ts/api/dom/StyleSheetLoader.ts
  modules/tinymce/src/core/main/ts/api/dom/TextSeeker.ts
  modules/tinymce/src/core/main/ts/api/ui/Registry.ts
  modules/tinymce/src/core/main/ts/api/util/ImageUploader.ts
  modules/tinymce/tools/docs/tinymce.Env.js
  modules/tinymce/tools/docs/tinymce.Event.js
  modules/tinymce/tools/docs/tinymce.editor.ui.Ui.js
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8582: Fixed the buttonType property not working for dialog footer buttons
  modules/bridge/CHANGELOG.md
  modules/bridge/src/main/ts/ephox/bridge/components/dialog/DialogFooterButton.ts
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/AlertDialog.ts
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/ConfirmDialog.ts
  modules/tinymce/src/themes/silver/main/ts/ui/general/Button.ts
  modules/tinymce/src/themes/silver/test/ts/headless/components/dialogbutton/DialogFooterButtonTest.ts
  modules/tinymce/src/themes/silver/test/ts/headless/window/SilverDialogEventTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8573: Update CHANGELOG
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

Publish
  modules/oxide-icons-default/package.json
  modules/oxide/package.json
Owners: @tinymce/editor-platform-team, @lostkeys, @noxuhax, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8582: Moved the changelog entry in bridge
  modules/bridge/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8582: Moved the changelog entry under new hotfix
  modules/bridge/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8582: Fixed the buttonType property not working for dialog footer (#7710)
  modules/bridge/CHANGELOG.md
  modules/bridge/src/main/ts/ephox/bridge/components/dialog/DialogFooterButton.ts
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/AlertDialog.ts
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/ConfirmDialog.ts
  modules/tinymce/src/themes/silver/main/ts/ui/general/Button.ts
  modules/tinymce/src/themes/silver/test/ts/headless/components/dialogbutton/DialogFooterButtonTest.ts
  modules/tinymce/src/themes/silver/test/ts/headless/window/SilverDialogEventTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

.github/CODEOWNERS:

* @tinymce/editor-platform-team @spocke @lnewson @ltrouton @HAFRMO @tiny-ben-tran

# Oxide changes should include the design team as well
/modules/oxide/ @tinymce/editor-platform-team @lostkeys @noxuhax @spocke @lnewson @ltrouton @HAFRMO @tiny-ben-tran
/modules/oxide-icons-default/ @tinymce/editor-platform-team @lostkeys @noxuhax @spocke @lnewson @ltrouton @HAFRMO @tiny-ben-tran

# Katamari changes should include the integrations team as well
/modules/katamari/ @tinymce/editor-platform-team @tinymce/integrations-team @spocke @lnewson @ltrouton @HAFRMO @tiny-ben-tran
