Repository tinymce/tinymce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran, @lostkeys, @noxuhax, @tinymce/integrations-team

add undo case to the test
  modules/tinymce/src/core/test/ts/browser/api/commands/NewlineCommandsTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8617: Added background color for text labeled buttons in the toolbar
  modules/oxide/src/less/skins/ui/tinymce-5/skin.less
  modules/oxide/src/less/theme/components/toolbar-button/toolbar-select-button.less
Owners: @tinymce/editor-platform-team, @lostkeys, @noxuhax, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8617: Changelog entry
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8594: Added another changelog entry
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8594: Added tests
  modules/tinymce/src/themes/silver/test/ts/browser/editor/toolbar/MultipleToolbarVisibilityTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8594: Updated changelog
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-7654: Upgrade to latest ts-loader and webpack for demos
  modules/acid/webpack.config.js
  modules/agar/webpack.config.js
  modules/alloy/Gruntfile.js
  modules/boss/webpack.config.js
  modules/boulder/webpack.config.js
  modules/darwin/webpack.config.js
  modules/dragster/webpack.config.js
  modules/jax/src/demo/html/index.html
  modules/jax/webpack.config.js
  modules/katamari/webpack.config.js
  modules/mcagar/webpack.config.js
  modules/phoenix/webpack.config.js
  modules/polaris/webpack.config.js
  modules/porkbun/webpack.config.js
  modules/robin/webpack.config.js
  modules/sand/webpack.config.js
  modules/snooker/webpack.config.js
  modules/sugar/webpack.config.js
  modules/tinymce/tools/modules/grunt-webpack.js
  modules/tinymce/tsconfig.plugin.json
  modules/tinymce/tsconfig.theme.json
  package.json
  yarn.lock
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran, @tinymce/integrations-team

TINY-7654: Upgrade to bedrock 13
  package.json
  patches/@ephox+bedrock-server+11.5.0.patch
  yarn.lock
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-7654: Reworked how TinyMCE demos are done to work better with project references
  modules/tinymce/Gruntfile.js
  modules/tinymce/tools/modules/grunt-webpack.js
  modules/tinymce/tsconfig.model.json
  modules/tinymce/tsconfig.plugin.json
  modules/tinymce/tsconfig.theme.json
  tsconfig.demo.json
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-7654: Tweaks/patches to try to improve compile time
  modules/tinymce/Gruntfile.js
  modules/tinymce/tools/modules/grunt-webpack.js
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8594: Removed timeout in tests
  modules/tinymce/src/themes/silver/test/ts/browser/editor/toolbar/MultipleToolbarVisibilityTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8594: Reworded changelog entries
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8594: Updated tests and changelog entries
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/themes/silver/test/ts/browser/editor/toolbar/MultipleToolbarVisibilityTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-7654: Upgrade to webpack-dev-server 4
  modules/alloy/Gruntfile.js
  modules/tinymce/Gruntfile.js
  modules/tinymce/tools/modules/grunt-webpack.js
  package.json
  yarn.lock
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8299: Let grunt-webpack merge the config for us. Made the webpack config lazy to speed up initial grunt load. Fix some issues with the Alloy webpack-dev-server config.
  modules/alloy/Gruntfile.js
  modules/alloy/package.json
  modules/tinymce/Gruntfile.js
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8299: Remove ES5 spec that was brought in from an old branch
  modules/acid/webpack.config.js
  modules/agar/webpack.config.js
  modules/alloy/Gruntfile.js
  modules/boss/webpack.config.js
  modules/boulder/webpack.config.js
  modules/darwin/webpack.config.js
  modules/dragster/webpack.config.js
  modules/jax/webpack.config.js
  modules/katamari/webpack.config.js
  modules/mcagar/webpack.config.js
  modules/phoenix/webpack.config.js
  modules/polaris/webpack.config.js
  modules/porkbun/webpack.config.js
  modules/robin/webpack.config.js
  modules/sand/webpack.config.js
  modules/snooker/webpack.config.js
  modules/sugar/webpack.config.js
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran, @tinymce/integrations-team

TINY-8299: Removed extra argument that was missed in the cleanup
  modules/tinymce/tools/modules/grunt-webpack.js
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

fix tests
  modules/tinymce/src/core/test/ts/browser/api/commands/NewlineCommandsTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8617: Added background color for text labeled buttons in the toolbar
  modules/oxide/src/less/skins/ui/tinymce-5/skin.less
  modules/oxide/src/less/theme/components/toolbar-button/toolbar-select-button.less
Owners: @tinymce/editor-platform-team, @lostkeys, @noxuhax, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8617: Changelog entry
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8215: Apply suggestions from code review
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/selection/MultiClickSelection.ts
  modules/tinymce/src/core/test/ts/browser/selection/MultiClickSelectionTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8594: Renamed test file
  modules/tinymce/src/themes/silver/test/ts/browser/editor/toolbar/MultipleInlineToolbarVisibilityTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8594: Corrected test name modified test
  modules/tinymce/src/themes/silver/test/ts/browser/editor/toolbar/MultipleInlineToolbarVisibilityTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8594: Renamed test file
  modules/tinymce/src/themes/silver/test/ts/browser/editor/toolbar/MultipleInlineToolbarVisibilityTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8594: Use Promise polyfill
  modules/tinymce/src/themes/silver/test/ts/browser/editor/toolbar/MultipleInlineToolbarVisibilityTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

fix typos
  modules/tinymce/src/core/test/ts/browser/api/commands/NewlineCommandsTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

fix conditions style
  modules/tinymce/src/core/main/ts/newline/InsertNewLine.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8594: Fixed inline toolbars flickering when switching between editors (#7747)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/package.json
  modules/tinymce/src/themes/silver/main/ts/modes/Inline.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/toolbar/MultipleInlineToolbarVisibilityTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8594: Backport - Fixed inline toolbars flickering when switching between editors (#7748)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/package.json
  modules/tinymce/src/themes/silver/main/ts/modes/Inline.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/toolbar/MultipleInlineToolbarVisibilityTest.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-5947: Fixed images not showing as selected when selecting all content
  modules/oxide/src/less/theme/content/selection/selection.less
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/SelectionOverrides.ts
  modules/tinymce/src/core/main/ts/api/dom/ControlSelection.ts
  modules/tinymce/src/core/test/ts/browser/dom/ControlSelectionTest.ts
Owners: @tinymce/editor-platform-team, @lostkeys, @noxuhax, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8592: Fixups.
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/api/dom/TreeWalker.ts
  modules/tinymce/src/plugins/lists/main/ts/core/Delete.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

fix type
  modules/tinymce/src/core/main/ts/newline/NewLineAction.ts
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

add changelog entry
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

fix changelog entry
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

adapt color picker
  modules/oxide/src/demo/tiny_init.js
  modules/oxide/src/less/skins/ui/torn/skin.less
Owners: @tinymce/editor-platform-team, @lostkeys, @noxuhax, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8215: agar minor version bump
  versions.txt
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8647: Fix custom toolbar select buttons width on touch devices
  modules/oxide/src/less/theme/components/toolbar-button/toolbar-select-button.less
Owners: @tinymce/editor-platform-team, @lostkeys, @noxuhax, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8647: Changelog entry
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8299: removed old `grunt webpack` task that we don't use anymore
  modules/tinymce/Gruntfile.js
  modules/tinymce/tools/modules/grunt-webpack.js
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

TINY-8299: Corrected contributing guide to match how webpack-dev-server is now used
  CONTRIBUTING.md
Owners: @tinymce/editor-platform-team, @spocke, @lnewson, @ltrouton, @HAFRMO, @tiny-ben-tran

.github/CODEOWNERS:

* @tinymce/editor-platform-team @spocke @lnewson @ltrouton @HAFRMO @tiny-ben-tran

# Oxide changes should include the design team as well
/modules/oxide/ @tinymce/editor-platform-team @lostkeys @noxuhax @spocke @lnewson @ltrouton @HAFRMO @tiny-ben-tran
/modules/oxide-icons-default/ @tinymce/editor-platform-team @lostkeys @noxuhax @spocke @lnewson @ltrouton @HAFRMO @tiny-ben-tran

# Katamari changes should include the integrations team as well
/modules/katamari/ @tinymce/editor-platform-team @tinymce/integrations-team @spocke @lnewson @ltrouton @HAFRMO @tiny-ben-tran
