Repository tinymce/tinymce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tinymce/tinymce-reviewers, @noxuhax, @tinymce/integrations-team

TINY-9125: WIP: pointer-events: none for tooltip event bleedthrough
  modules/tinymce/src/themes/silver/demo/html/demo/demo.html
Owners: @tinymce/tinymce-reviewers

TINY-8069: Fixed incorrect URL detection for path segments (#7824)
  modules/polaris/CHANGELOG.md
  modules/polaris/src/main/ts/ephox/polaris/api/Regexes.ts
  modules/polaris/src/test/ts/atomic/api/RegexesTest.ts
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/plugins/paste/main/ts/core/SmartPaste.ts
  modules/tinymce/src/plugins/paste/test/ts/browser/SmartPasteTest.ts
  versions.txt
Owners: @tinymce/tinymce-reviewers

Update CHANGELOG.md
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

Update CHANGELOG.md
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-9001: Added expand API
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/api/dom/RangeUtils.ts
  modules/tinymce/src/core/main/ts/api/dom/Selection.ts
  modules/tinymce/src/core/test/ts/browser/api/dom/RangeExpandTest.ts
  modules/tinymce/src/core/test/ts/browser/api/dom/RangeUtilsTest.ts
  modules/tinymce/src/core/test/ts/browser/dom/SelectionTest.ts
  modules/tinymce/src/plugins/anchor/main/ts/core/Anchor.ts
Owners: @tinymce/tinymce-reviewers

TINY-9001: Fixups as per feedback
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/api/dom/RangeUtils.ts
  modules/tinymce/src/core/test/ts/browser/api/dom/RangeExpandTest.ts
  modules/tinymce/src/core/test/ts/browser/dom/SelectionTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9001: Stopped breaking the API, other fixes
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/annotate/Wrapping.ts
  modules/tinymce/src/core/main/ts/api/dom/RangeUtils.ts
  modules/tinymce/src/core/main/ts/api/dom/Selection.ts
  modules/tinymce/src/core/main/ts/fmt/ApplyFormat.ts
  modules/tinymce/src/core/main/ts/fmt/CaretFormat.ts
  modules/tinymce/src/core/main/ts/fmt/ExpandRange.ts
  modules/tinymce/src/core/main/ts/fmt/FormatUtils.ts
  modules/tinymce/src/core/main/ts/fmt/RemoveFormat.ts
  modules/tinymce/src/core/test/ts/browser/api/dom/RangeExpandTest.ts
  modules/tinymce/src/core/test/ts/browser/api/dom/RangeUtilsTest.ts
  modules/tinymce/src/core/test/ts/browser/fmt/ExpandRangeTest.ts
  modules/tinymce/src/plugins/anchor/main/ts/core/Anchor.ts
Owners: @tinymce/tinymce-reviewers

TINY-9001: Minor fixups
  modules/tinymce/src/core/main/ts/api/dom/RangeUtils.ts
  modules/tinymce/src/core/main/ts/fmt/ApplyFormat.ts
  modules/tinymce/src/core/main/ts/fmt/CaretFormat.ts
  modules/tinymce/src/core/main/ts/fmt/RemoveFormat.ts
Owners: @tinymce/tinymce-reviewers

TINY-9001: Typefix-attempt.
  modules/tinymce/src/core/main/ts/fmt/FormatUtils.ts
Owners: @tinymce/tinymce-reviewers

TINY-9001: Fixups.
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/api/dom/RangeUtils.ts
  modules/tinymce/src/core/main/ts/api/dom/Selection.ts
Owners: @tinymce/tinymce-reviewers

TINY-9001: Removed return doc
  modules/tinymce/src/core/main/ts/api/dom/Selection.ts
Owners: @tinymce/tinymce-reviewers

TINY-9001: Minor changes
  modules/tinymce/src/core/main/ts/api/dom/RangeUtils.ts
  modules/tinymce/src/core/main/ts/api/dom/Selection.ts
  modules/tinymce/src/plugins/anchor/main/ts/core/Anchor.ts
Owners: @tinymce/tinymce-reviewers

TINY-9001: Fixup of the fixup
  modules/tinymce/src/core/main/ts/api/dom/Selection.ts
Owners: @tinymce/tinymce-reviewers

TINY-9001: Rebase Mistake resolved.
  modules/tinymce/src/core/main/ts/fmt/ApplyFormat.ts
Owners: @tinymce/tinymce-reviewers

TINY-9001: Added new expand api function to selection and RangeUtils (#8075)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/annotate/Wrapping.ts
  modules/tinymce/src/core/main/ts/api/dom/RangeUtils.ts
  modules/tinymce/src/core/main/ts/api/dom/Selection.ts
  modules/tinymce/src/core/main/ts/fmt/ApplyFormat.ts
  modules/tinymce/src/core/main/ts/fmt/CaretFormat.ts
  modules/tinymce/src/core/main/ts/fmt/ExpandRange.ts
  modules/tinymce/src/core/main/ts/fmt/FormatUtils.ts
  modules/tinymce/src/core/main/ts/fmt/RemoveFormat.ts
  modules/tinymce/src/core/test/ts/browser/api/dom/RangeExpandTest.ts
  modules/tinymce/src/core/test/ts/browser/api/dom/RangeUtilsTest.ts
  modules/tinymce/src/core/test/ts/browser/dom/SelectionTest.ts
  modules/tinymce/src/core/test/ts/browser/fmt/ExpandRangeTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9108: Update modules/tinymce/CHANGELOG.md
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-8948: Update modules/tinymce/CHANGELOG.md
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-8948: fix scrolling of separator lines in multiline toolbars (#8094)
  modules/oxide/src/less/theme/components/toolbar/toolbar.less
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-8978: Backport fix for notifications in fullscreen (#8121)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/api/dom/ControlSelection.ts
  modules/tinymce/src/plugins/fullscreen/main/ts/api/Events.ts
  modules/tinymce/src/plugins/fullscreen/test/ts/browser/FullScreenPluginTest.ts
  modules/tinymce/src/plugins/table/test/ts/browser/settings/TableGridFalseTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8069: Fixed incorrect URL detection for path segments (#7824)
  modules/polaris/CHANGELOG.md
  modules/polaris/src/main/ts/ephox/polaris/api/Regexes.ts
  modules/polaris/src/test/ts/atomic/api/RegexesTest.ts
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/plugins/paste/main/ts/core/SmartPaste.ts
  modules/tinymce/src/plugins/paste/test/ts/browser/SmartPasteTest.ts
  versions.txt
Owners: @tinymce/tinymce-reviewers

TINY-8979: Updated changelog.md
  modules/polaris/CHANGELOG.md
  versions.txt
Owners: @tinymce/tinymce-reviewers

TINY-8069: Fixed incorrect URL detection for path segments (#7824)
  modules/polaris/CHANGELOG.md
  modules/polaris/src/main/ts/ephox/polaris/api/Regexes.ts
  modules/polaris/src/test/ts/atomic/api/RegexesTest.ts
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/plugins/paste/main/ts/core/SmartPaste.ts
  modules/tinymce/src/plugins/paste/test/ts/browser/SmartPasteTest.ts
  versions.txt
Owners: @tinymce/tinymce-reviewers

TINY-8979: Update CHANGELOG.md
  modules/polaris/CHANGELOG.md
  versions.txt
Owners: @tinymce/tinymce-reviewers

TINY-9161: Upgrade to TypeScript 4.8 and upgrade dev dependencies
  modules/alloy/src/test/ts/browser/position/SelectionInFramePositionTest.ts
  modules/alloy/src/test/ts/browser/ui/coupled/FormCoupledInputsTest.ts
  modules/bridge/CHANGELOG.md
  modules/bridge/src/demo/ts/dialogs/DemoDialogHelpers.ts
  modules/bridge/src/main/ts/ephox/bridge/api/DialogManager.ts
  modules/bridge/src/main/ts/ephox/bridge/components/dialog/Dialog.ts
  modules/bridge/src/main/ts/ephox/bridge/core/DialogData.ts
  modules/jax/src/main/ts/ephox/jax/core/Http.ts
  modules/katamari/src/test/ts/atomic/api/arr/ArrMapToObjectTest.ts
  modules/katamari/src/test/ts/atomic/api/obj/ObjMapTest.ts
  modules/sugar/src/main/ts/ephox/sugar/alien/DomTypes.ts
  modules/sugar/src/main/ts/ephox/sugar/api/dom/Replication.ts
  modules/sugar/src/main/ts/ephox/sugar/api/node/SugarElement.ts
  modules/sugar/src/main/ts/ephox/sugar/api/node/SugarNode.ts
  modules/sugar/src/main/ts/ephox/sugar/api/node/SugarShadowDom.ts
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/api/WindowManager.ts
  modules/tinymce/src/core/main/ts/api/util/EventDispatcher.ts
  modules/tinymce/src/core/main/ts/api/util/Observable.ts
  modules/tinymce/src/themes/silver/main/ts/ui/window/SilverDialog.ts
  modules/tinymce/src/themes/silver/main/ts/ui/window/SilverDialogBody.ts
  modules/tinymce/src/themes/silver/main/ts/ui/window/SilverDialogEvents.ts
  modules/tinymce/src/themes/silver/main/ts/ui/window/SilverDialogInstanceApi.ts
  modules/tinymce/src/themes/silver/main/ts/ui/window/SilverInlineDialog.ts
  modules/tinymce/src/themes/silver/test/ts/module/DialogUtils.ts
  package.json
  yarn.lock
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team

TINY-9029: Added behavior to be consistent in both directions.
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/fmt/ExpandRange.ts
  modules/tinymce/src/core/test/ts/browser/api/dom/RangeExpandTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9108: Update modules/tinymce/CHANGELOG.md
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-9157: Review fixes and import
  modules/agar/CHANGELOG.md
  modules/agar/src/main/ts/ephox/agar/api/TestStore.ts
  modules/alloy/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-9108: Fix double bottom border on inline mode editor in `tinymce-5` skin (#8116)
  modules/oxide/src/less/skins/ui/tinymce-5/skin.less
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9164: Improved accessibility of special characters dialog
  modules/bridge/src/main/ts/ephox/bridge/components/dialog/Collection.ts
  modules/tinymce/src/plugins/charmap/main/ts/ui/Dialog.ts
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/Collection.ts
Owners: @tinymce/tinymce-reviewers

TINY-9161: Stablise swag dependency
  package.json
  yarn.lock
Owners: @tinymce/tinymce-reviewers

TINY-9161: Upgrade to TypeScript 4.8 and upgrade dev dependencies (#8128)
  modules/alloy/src/test/ts/browser/position/SelectionInFramePositionTest.ts
  modules/alloy/src/test/ts/browser/ui/coupled/FormCoupledInputsTest.ts
  modules/bridge/CHANGELOG.md
  modules/bridge/src/demo/ts/dialogs/DemoDialogHelpers.ts
  modules/bridge/src/main/ts/ephox/bridge/api/DialogManager.ts
  modules/bridge/src/main/ts/ephox/bridge/components/dialog/Dialog.ts
  modules/bridge/src/main/ts/ephox/bridge/core/DialogData.ts
  modules/jax/src/main/ts/ephox/jax/core/Http.ts
  modules/katamari/src/test/ts/atomic/api/arr/ArrMapToObjectTest.ts
  modules/katamari/src/test/ts/atomic/api/obj/ObjMapTest.ts
  modules/sugar/src/main/ts/ephox/sugar/alien/DomTypes.ts
  modules/sugar/src/main/ts/ephox/sugar/api/dom/Replication.ts
  modules/sugar/src/main/ts/ephox/sugar/api/node/SugarElement.ts
  modules/sugar/src/main/ts/ephox/sugar/api/node/SugarNode.ts
  modules/sugar/src/main/ts/ephox/sugar/api/node/SugarShadowDom.ts
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/api/WindowManager.ts
  modules/tinymce/src/core/main/ts/api/util/EventDispatcher.ts
  modules/tinymce/src/core/main/ts/api/util/Observable.ts
  modules/tinymce/src/themes/silver/main/ts/ui/window/SilverDialog.ts
  modules/tinymce/src/themes/silver/main/ts/ui/window/SilverDialogBody.ts
  modules/tinymce/src/themes/silver/main/ts/ui/window/SilverDialogEvents.ts
  modules/tinymce/src/themes/silver/main/ts/ui/window/SilverDialogInstanceApi.ts
  modules/tinymce/src/themes/silver/main/ts/ui/window/SilverInlineDialog.ts
  modules/tinymce/src/themes/silver/test/ts/module/DialogUtils.ts
  package.json
  yarn.lock
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team

TINY-9164: Renamed the name of properties
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/Collection.ts
Owners: @tinymce/tinymce-reviewers

TINY-9164: Updated bridge demo
  modules/bridge/src/demo/ts/dialogs/CharmapDialog.ts
Owners: @tinymce/tinymce-reviewers

TINY-9157: Review fixes
  modules/agar/src/main/ts/ephox/agar/api/TestStore.ts
Owners: @tinymce/tinymce-reviewers

TINY-9164: Enanbled the announcement of changes of the content
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/Collection.ts
Owners: @tinymce/tinymce-reviewers

Update modules/bridge/src/demo/ts/dialogs/CharmapDialog.ts
  modules/bridge/src/demo/ts/dialogs/CharmapDialog.ts
Owners: @tinymce/tinymce-reviewers

TINY-8819: Clear styling of an empty editor header
  modules/oxide/src/less/theme/components/editor/editor.less
  modules/tinymce/src/themes/silver/main/ts/Render.ts
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-8819: Changelog enrty
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-8819: Lint fixes
  modules/tinymce/src/themes/silver/main/ts/Render.ts
Owners: @tinymce/tinymce-reviewers

TINY-8819: Update changelog
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

.github/CODEOWNERS:

* @tinymce/tinymce-reviewers

# Oxide changes should include the design team as well
/modules/oxide/ @tinymce/tinymce-reviewers @noxuhax
/modules/oxide-icons-default/ @tinymce/tinymce-reviewers @noxuhax

# Katamari changes should include the integrations team as well
/modules/katamari/ @tinymce/tinymce-reviewers @tinymce/integrations-team
