Repository tinymce/tinymce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tinymce/tinymce-reviewers, @noxuhax, @tinymce/integrations-team

TINY-8887: Update modules/tinymce/CHANGELOG.md
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-6945: refactor `traverse` using `node.walk`
  modules/tinymce/src/core/main/ts/html/FilterNode.ts
Owners: @tinymce/tinymce-reviewers

TINY-6945: first attempt to avoid maximum stack calls
  modules/tinymce/src/core/main/ts/html/FilterNode.ts
Owners: @tinymce/tinymce-reviewers

TINY-6945: rename variable
  modules/tinymce/src/core/main/ts/html/FilterNode.ts
Owners: @tinymce/tinymce-reviewers

TINY-6945: add traverse test and fix behaviour
  modules/tinymce/src/core/main/ts/html/FilterNode.ts
  modules/tinymce/src/core/test/ts/browser/html/FilterNodeTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8887: update katamari changelog
  modules/katamari/CHANGELOG.md
  versions.txt
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team

TINY-6945: refactor test
  modules/tinymce/src/core/test/ts/browser/html/FilterNodeTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-6945: move test
  modules/tinymce/src/core/test/ts/atomic/html/FilterNodeTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-6945: change export
  modules/tinymce/src/core/main/ts/html/FilterNode.ts
Owners: @tinymce/tinymce-reviewers

TINY-6945: refactor logic
  modules/tinymce/src/core/main/ts/html/FilterNode.ts
Owners: @tinymce/tinymce-reviewers

TINY-6945: add changelog entry
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-8887: Add autocompleter multi-character trigger support (#7997)
  modules/bridge/src/main/ts/ephox/bridge/components/content/Autocompleter.ts
  modules/katamari/CHANGELOG.md
  modules/katamari/src/main/ts/ephox/katamari/api/Strings.ts
  modules/katamari/src/test/ts/atomic/api/str/ContainsTest.ts
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/autocomplete/AutocompleteContext.ts
  modules/tinymce/src/core/main/ts/autocomplete/AutocompleteLookup.ts
  modules/tinymce/src/core/main/ts/autocomplete/Autocompleters.ts
  modules/tinymce/src/core/main/ts/keyboard/Autocompleter.ts
  modules/tinymce/src/core/test/ts/atomic/autocomplete/ParserTest.ts
  modules/tinymce/src/core/test/ts/browser/keyboard/AutocompleterTest.ts
  modules/tinymce/src/plugins/charmap/main/ts/ui/Autocompletion.ts
  modules/tinymce/src/plugins/emoticons/main/ts/ui/Autocompletion.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/autocomplete/AutocompleteCancelTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/autocomplete/AutocompleteReloadTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/autocomplete/AutocompleteTest.ts
  modules/tinymce/src/themes/silver/test/ts/webdriver/editor/AutocompleteDelayedResponseTest.ts
  versions.txt
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team

TINY-6945: fix changelog entry
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-6945: fix test describe
  modules/tinymce/src/core/test/ts/atomic/html/FilterNodeTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-6945: fix case
  modules/tinymce/src/core/test/ts/atomic/html/FilterNodeTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-6945: add test
  modules/tinymce/src/core/test/ts/atomic/html/FilterNodeTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-6945: fix import
  modules/tinymce/src/core/test/ts/atomic/html/FilterNodeTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-6945: fix error when pasting a very large document (#8038)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/html/FilterNode.ts
  modules/tinymce/src/core/test/ts/atomic/html/FilterNodeTest.ts
Owners: @tinymce/tinymce-reviewers

Update modules/tinymce/src/core/main/ts/DragDropOverrides.ts
  modules/tinymce/src/core/main/ts/DragDropOverrides.ts
Owners: @tinymce/tinymce-reviewers

Update modules/tinymce/src/core/main/ts/DragDropOverrides.ts
  modules/tinymce/src/core/main/ts/DragDropOverrides.ts
Owners: @tinymce/tinymce-reviewers

TINY-8874: Make new type Repeatable
  modules/katamari/src/main/ts/ephox/katamari/api/Singleton.ts
  modules/tinymce/src/core/main/ts/DragDropOverrides.ts
  modules/tinymce/src/core/test/ts/browser/DragDropOverridesTest.ts
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team

TINY-8874: remove debugging leftovers
  modules/tinymce/src/core/test/ts/browser/DragDropOverridesTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8874: fix formatting issues
  modules/katamari/src/main/ts/ephox/katamari/api/Singleton.ts
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team

TINY-8874: fix formatting issues
  modules/katamari/src/main/ts/ephox/katamari/api/Singleton.ts
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team

TINY-8874: Fix dragging CEF element toward the edges doesn't cause sc… (#7998)
  modules/katamari/src/main/ts/ephox/katamari/api/Singleton.ts
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/DragDropOverrides.ts
  modules/tinymce/src/core/test/ts/browser/DragDropOverridesTest.ts
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team

TINY-8874: Add tests for Repeatable
  modules/katamari/CHANGELOG.md
  modules/katamari/src/test/ts/browser/RepeatableTest.ts
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/DragDropOverrides.ts
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team

TINY-8814: Spaces after cef-blocks should now be added and seen as expected.
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/keyboard/Nbsps.ts
  modules/tinymce/src/core/test/ts/webdriver/keyboard/SpaceKeyTest.ts
  modules/tinymce/src/plugins/nonbreaking/test/ts/webdriver/NonbreakingTypingTest.ts
  modules/tinymce/src/plugins/nonbreaking/test/ts/webdriver/NonbreakingVisualCharsTypingTest.ts
  modules/tinymce/src/plugins/nonbreaking/test/ts/webdriver/NonbreakingWrapTypingTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8921: Cleanup temporary strict type checks
  modules/tinymce/tsconfig.json
  modules/tinymce/tsconfig.strict.json
  package.json
Owners: @tinymce/tinymce-reviewers

TINY-8921: Fixed new strict type errors in core tests
  modules/tinymce/src/core/test/ts/browser/DragDropOverridesTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8808: Fixed strict type errors in Bridge
  modules/bridge/src/demo/ts/dialogs/DemoDialogHelpers.ts
  modules/bridge/src/demo/ts/menus/ContextMenuDemo.ts
  modules/bridge/src/demo/ts/plugins/AnchorItems.ts
  modules/bridge/src/demo/ts/plugins/AutosaveItems.ts
  modules/bridge/src/demo/ts/plugins/DirectionalityItems.ts
  modules/bridge/src/demo/ts/plugins/FullscreenItems.ts
  modules/bridge/src/demo/ts/plugins/ImageItems.ts
  modules/bridge/src/demo/ts/plugins/MediaItems.ts
  modules/bridge/src/demo/ts/plugins/PasteItems.ts
  modules/bridge/src/demo/ts/plugins/SaveItems.ts
  modules/bridge/src/demo/ts/plugins/TODO_AdvListItems.ts
  modules/bridge/src/demo/ts/plugins/TocItems.ts
  modules/bridge/src/demo/ts/plugins/VisualBlocksItems.ts
  modules/bridge/src/demo/ts/plugins/VisualCharsItems.ts
  modules/bridge/src/main/ts/ephox/bridge/api/DialogManager.ts
  modules/bridge/src/main/ts/ephox/bridge/api/Registry.ts
  modules/bridge/src/main/ts/ephox/bridge/core/DataProcessors.ts
  modules/bridge/tsconfig.json
Owners: @tinymce/tinymce-reviewers

TINY-8808: Fixed strict type errors in Sand
  modules/sand/src/demo/ts/ephox/sand/demo/Demo.ts
  modules/sand/src/main/ts/ephox/sand/api/SandHTMLElement.ts
  modules/sand/src/main/ts/ephox/sand/detect/DeviceType.ts
  modules/sand/src/test/ts/browser/HtmlElementTest.ts
  modules/sand/tsconfig.json
Owners: @tinymce/tinymce-reviewers

TINY-8808: Fixed strict type errors in Sand
  modules/sand/src/demo/ts/ephox/sand/demo/Demo.ts
  modules/sand/src/main/ts/ephox/sand/api/SandHTMLElement.ts
  modules/sand/src/main/ts/ephox/sand/detect/DeviceType.ts
  modules/sand/src/test/ts/browser/HtmlElementTest.ts
  modules/sand/tsconfig.json
Owners: @tinymce/tinymce-reviewers

TINY-8808: Fixed strict type errors in Bridge
  modules/bridge/src/demo/ts/dialogs/DemoDialogHelpers.ts
  modules/bridge/src/demo/ts/menus/ContextMenuDemo.ts
  modules/bridge/src/demo/ts/plugins/AnchorItems.ts
  modules/bridge/src/demo/ts/plugins/AutosaveItems.ts
  modules/bridge/src/demo/ts/plugins/DirectionalityItems.ts
  modules/bridge/src/demo/ts/plugins/FullscreenItems.ts
  modules/bridge/src/demo/ts/plugins/ImageItems.ts
  modules/bridge/src/demo/ts/plugins/MediaItems.ts
  modules/bridge/src/demo/ts/plugins/PasteItems.ts
  modules/bridge/src/demo/ts/plugins/SaveItems.ts
  modules/bridge/src/demo/ts/plugins/TODO_AdvListItems.ts
  modules/bridge/src/demo/ts/plugins/TocItems.ts
  modules/bridge/src/demo/ts/plugins/VisualBlocksItems.ts
  modules/bridge/src/demo/ts/plugins/VisualCharsItems.ts
  modules/bridge/src/main/ts/ephox/bridge/api/DialogManager.ts
  modules/bridge/src/main/ts/ephox/bridge/api/Registry.ts
  modules/bridge/src/main/ts/ephox/bridge/core/DataProcessors.ts
  modules/bridge/tsconfig.json
Owners: @tinymce/tinymce-reviewers

TINY-8811: Improve the Obj.filter types to handle type guards
  modules/katamari/CHANGELOG.md
  modules/katamari/src/main/ts/ephox/katamari/api/Obj.ts
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team

TINY-8840: Minor cosmetic changes.
  modules/oxide/src/less/theme/components/menubar/promotion.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-8840: Background check
  modules/oxide/src/less/theme/components/menubar/promotion.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-8840: On click color.
  modules/oxide/src/less/theme/components/menubar/promotion.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-8814: Minor fixups.
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/keyboard/Nbsps.ts
Owners: @tinymce/tinymce-reviewers

TINY-8840: Minor fixup of mistake
  modules/oxide/src/less/theme/components/menubar/promotion.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-8882: Replaced feature request template with a link to Product Board
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @tinymce/tinymce-reviewers

.github/CODEOWNERS:

* @tinymce/tinymce-reviewers

# Oxide changes should include the design team as well
/modules/oxide/ @tinymce/tinymce-reviewers @noxuhax
/modules/oxide-icons-default/ @tinymce/tinymce-reviewers @noxuhax

# Katamari changes should include the integrations team as well
/modules/katamari/ @tinymce/tinymce-reviewers @tinymce/integrations-team
