Repository tinymce/tinymce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tinymce/tinymce-reviewers, @noxuhax, @tinymce/integrations-team

TINY-10282: Focus no longer stolen by the editor due to notification closure.
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/api/NotificationManager.ts
  modules/tinymce/src/core/test/ts/browser/NotificationManagerTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10249: avoid flickering when remove and put the editor back (#9064)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/themes/silver/main/ts/Render.ts
  modules/tinymce/src/themes/silver/main/ts/Theme.ts
  modules/tinymce/src/themes/silver/main/ts/modes/Iframe.ts
  modules/tinymce/src/themes/silver/main/ts/modes/Inline.ts
Owners: @tinymce/tinymce-reviewers

TINY-10132: add test
  modules/tinymce/src/core/test/ts/browser/fmt/CaretFormatTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10132: add condition to check hascontentbefore
  modules/tinymce/src/core/main/ts/fmt/CaretFormat.ts
Owners: @tinymce/tinymce-reviewers

TINY-10249: avoid flickering when remove and put the editor back (#9064) (#9102)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/themes/silver/main/ts/Render.ts
  modules/tinymce/src/themes/silver/main/ts/Theme.ts
  modules/tinymce/src/themes/silver/main/ts/modes/Iframe.ts
  modules/tinymce/src/themes/silver/main/ts/modes/Inline.ts
Owners: @tinymce/tinymce-reviewers

TINY-10273: Adjacent SVG block level elements adds extra paragraph (#9098)
  modules/tinymce/src/core/main/ts/ForceBlocks.ts
  modules/tinymce/src/core/main/ts/api/html/DomParser.ts
  modules/tinymce/src/core/test/ts/browser/ForceBlocksTest.ts
  modules/tinymce/src/core/test/ts/browser/html/DomParserTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10271: Backspace/delete can be performed on selected SVG elements in Firefox (#9097)
  modules/tinymce/src/core/main/ts/keyboard/KeyboardOverrides.ts
  modules/tinymce/src/core/main/ts/keyboard/PreventNoneditableInput.ts
  modules/tinymce/src/core/test/ts/browser/keyboard/PreventNoneditableInputTest.ts
  modules/tinymce/src/core/test/ts/module/test/InputEventUtils.ts
Owners: @tinymce/tinymce-reviewers

TINY-10304: Fixed broken non-editable root advlist test (#9091)
  modules/mcagar/CHANGELOG.md
  modules/mcagar/src/main/ts/ephox/mcagar/alien/EditorTypes.ts
  modules/mcagar/src/main/ts/ephox/mcagar/api/bdd/TinyState.ts
  modules/tinymce/src/plugins/advlist/test/ts/browser/NoneditableRootTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10147: Improve screen reader output for bespoke dropdown toolbar buttons (#9082)
  modules/mcagar/CHANGELOG.md
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/test/ts/browser/FontSelectCustomTest.ts
  modules/tinymce/src/core/test/ts/browser/FontSelectTest.ts
  modules/tinymce/src/plugins/image/test/ts/browser/core/ImageAlignTest.ts
  modules/tinymce/src/themes/silver/main/ts/api/Events.ts
  modules/tinymce/src/themes/silver/main/ts/ui/core/complex/AlignBespoke.ts
  modules/tinymce/src/themes/silver/main/ts/ui/core/complex/BespokeSelect.ts
  modules/tinymce/src/themes/silver/main/ts/ui/core/complex/BlocksBespoke.ts
  modules/tinymce/src/themes/silver/main/ts/ui/core/complex/FontFamilyBespoke.ts
  modules/tinymce/src/themes/silver/main/ts/ui/core/complex/FontSizeBespoke.ts
  modules/tinymce/src/themes/silver/main/ts/ui/core/complex/StylesBespoke.ts
  modules/tinymce/src/themes/silver/main/ts/ui/core/complex/utils/Tooltip.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/ToolbarBottomTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/bespoke/DropdownAriaLabelTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/bespoke/SilverBespokeButtonsTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/toolbar/NumberInputTest.ts
  modules/tinymce/src/themes/silver/test/ts/module/MenuUtils.ts
  modules/tinymce/src/themes/silver/test/ts/module/StickyHeaderStep.ts
Owners: @tinymce/tinymce-reviewers

Testing changie
  Jenkinsfile
Owners: @tinymce/tinymce-reviewers

Added `force_hex_color` option
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/api/OptionTypes.ts
  modules/tinymce/src/core/main/ts/api/Options.ts
  modules/tinymce/src/core/main/ts/api/dom/DOMUtils.ts
  modules/tinymce/src/core/main/ts/api/html/Styles.ts
  modules/tinymce/src/core/main/ts/init/InitContentBody.ts
  modules/tinymce/src/core/test/ts/browser/html/StylesTest.ts
Owners: @tinymce/tinymce-reviewers

Use podtemplate
  Jenkinsfile
Owners: @tinymce/tinymce-reviewers

TINY-10304: Added v6.5 API checking for mcagar TinyState
  modules/mcagar/src/main/ts/ephox/mcagar/alien/EditorTypes.ts
  modules/mcagar/src/main/ts/ephox/mcagar/api/bdd/TinyState.ts
Owners: @tinymce/tinymce-reviewers

TINY-10213: manage li with a list and then other elements (#9035)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/plugins/lists/main/ts/listmodel/ComposeList.ts
  modules/tinymce/src/plugins/lists/main/ts/listmodel/Entry.ts
  modules/tinymce/src/plugins/lists/main/ts/listmodel/ListsIndendation.ts
  modules/tinymce/src/plugins/lists/main/ts/listmodel/NormalizeEntries.ts
  modules/tinymce/src/plugins/lists/main/ts/listmodel/ParseLists.ts
  modules/tinymce/src/plugins/lists/test/ts/browser/IndentTest.ts
  modules/tinymce/src/plugins/lists/test/ts/browser/ListModelTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10304: Fixed broken non-editable root advlist test (#9091) (#9104)
  modules/mcagar/CHANGELOG.md
  modules/mcagar/src/main/ts/ephox/mcagar/alien/EditorTypes.ts
  modules/mcagar/src/main/ts/ephox/mcagar/api/bdd/TinyState.ts
  modules/tinymce/src/plugins/advlist/test/ts/browser/NoneditableRootTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10213: manage li with a list and then other elements (#9035) (#9107)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/plugins/lists/main/ts/listmodel/ComposeList.ts
  modules/tinymce/src/plugins/lists/main/ts/listmodel/Entry.ts
  modules/tinymce/src/plugins/lists/main/ts/listmodel/ListsIndendation.ts
  modules/tinymce/src/plugins/lists/main/ts/listmodel/NormalizeEntries.ts
  modules/tinymce/src/plugins/lists/main/ts/listmodel/ParseLists.ts
  modules/tinymce/src/plugins/lists/test/ts/browser/IndentTest.ts
  modules/tinymce/src/plugins/lists/test/ts/browser/ListModelTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10263: We now keep getModifierState properly accessible. (#9087)
  modules/agar/src/main/ts/ephox/agar/keyboard/FakeKeys.ts
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/events/EventUtils.ts
  modules/tinymce/src/core/test/ts/browser/keyboard/KeyboardEventTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10263: We now keep getModifierState properly accessible. (#9087) (#9108)
  modules/agar/src/main/ts/ephox/agar/keyboard/FakeKeys.ts
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/events/EventUtils.ts
  modules/tinymce/src/core/test/ts/browser/keyboard/KeyboardEventTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10268: manage `list` inside an `li` surrounded by 2 not `li` elements (#9086)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/plugins/lists/main/ts/core/Selection.ts
  modules/tinymce/src/plugins/lists/test/ts/browser/IndentTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10268: manage `list` inside an `li` surrounded by 2 not `li` elements (#9086) (#9109)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/plugins/lists/main/ts/core/Selection.ts
  modules/tinymce/src/plugins/lists/test/ts/browser/IndentTest.ts
Owners: @tinymce/tinymce-reviewers

Publish
  modules/acid/package.json
  modules/agar/package.json
  modules/alloy/package.json
  modules/mcagar/package.json
Owners: @tinymce/tinymce-reviewers

Condense if statement block and improve readability
  modules/tinymce/src/core/main/ts/api/html/Styles.ts
Owners: @tinymce/tinymce-reviewers

TINY-10282: Pull request fixups.
  modules/tinymce/src/core/main/ts/api/NotificationManager.ts
  modules/tinymce/src/core/test/ts/browser/NotificationManagerTest.ts
Owners: @tinymce/tinymce-reviewers

Refactored tests
  modules/tinymce/src/core/test/ts/browser/html/StylesTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/ForceHexColorTest.ts
Owners: @tinymce/tinymce-reviewers

Fixed a selection bug and added `assertContent` call for more test coverage
  modules/tinymce/src/themes/silver/test/ts/browser/editor/ForceHexColorTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10226: Updated changelog
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-10226: Updated package version
  modules/tinymce/package.json
Owners: @tinymce/tinymce-reviewers

TINY-10226: Preparation for 6.7.2 TinyMCE release (#9111)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/package.json
Owners: @tinymce/tinymce-reviewers

TINY-10282: Focus no longer stolen by the editor due to notification closure (#9101)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/api/NotificationManager.ts
  modules/tinymce/src/core/test/ts/browser/NotificationManagerTest.ts
Owners: @tinymce/tinymce-reviewers

replace caret remove foramt with remove format
  modules/tinymce/src/core/main/ts/fmt/RemoveFormat.ts
Owners: @tinymce/tinymce-reviewers

add isCaret
  modules/tinymce/src/core/main/ts/fmt/FormatTypes.ts
  modules/tinymce/src/core/main/ts/fmt/RemoveFormat.ts
Owners: @tinymce/tinymce-reviewers

Added ForceHexColor type
  modules/tinymce/src/core/main/ts/api/OptionTypes.ts
  modules/tinymce/src/core/main/ts/api/dom/DOMUtils.ts
  modules/tinymce/src/core/main/ts/api/html/Styles.ts
Owners: @tinymce/tinymce-reviewers

Processor for force_hex_color option now utilises the ForceHexColor type
  modules/tinymce/src/core/main/ts/api/Options.ts
Owners: @tinymce/tinymce-reviewers

Use `Type.isString` instead of the `typeof` builtin
  modules/tinymce/src/core/main/ts/api/html/Styles.ts
Owners: @tinymce/tinymce-reviewers

Uppercase M
  Makefile
Owners: @tinymce/tinymce-reviewers

AUG-8618 Init Augure-Dark skin and add documentation
  .github/language-pack-rename.png
  .github/tinyMce-build-copy.png
  README.md
  modules/oxide/gulpfile.js
  modules/oxide/src/less/skins/ui/Augure-Dark/content.inline.less
  modules/oxide/src/less/skins/ui/Augure-Dark/content.less
  modules/oxide/src/less/skins/ui/Augure-Dark/skin.less
  modules/oxide/src/less/skins/ui/Augure-Dark/skin.shadowdom.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-10144: Use changie from NPM
  Makefile
  modules/acid/CHANGELOG.md
  modules/agar/CHANGELOG.md
  modules/alloy/CHANGELOG.md
  modules/boss/CHANGELOG.md
  modules/boulder/CHANGELOG.md
  modules/bridge/CHANGELOG.md
  modules/darwin/CHANGELOG.md
  modules/dragster/CHANGELOG.md
  modules/jax/CHANGELOG.md
  modules/katamari-assertions/CHANGELOG.md
  modules/katamari/CHANGELOG.md
  modules/mcagar/CHANGELOG.md
  modules/phoenix/CHANGELOG.md
  modules/polaris/CHANGELOG.md
  modules/porkbun/CHANGELOG.md
  modules/robin/CHANGELOG.md
  modules/sand/CHANGELOG.md
  modules/snooker/CHANGELOG.md
  modules/sugar/CHANGELOG.md
  package.json
  yarn.lock
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team

TINY-10144: Add new changes up to 6.7.2 to the existing changelog
  .changes/tinymce/6.7.2.md
Owners: @tinymce/tinymce-reviewers

Fixed spaces in makefile
  Makefile
Owners: @tinymce/tinymce-reviewers

TINY-10132: update DeleteElement and CaretFormat
  modules/tinymce/src/core/main/ts/delete/DeleteElement.ts
  modules/tinymce/src/core/main/ts/fmt/CaretFormat.ts
Owners: @tinymce/tinymce-reviewers

.github/CODEOWNERS:

* @tinymce/tinymce-reviewers

# Oxide changes should include the design team as well
/modules/oxide/ @tinymce/tinymce-reviewers @noxuhax
/modules/oxide-icons-default/ @tinymce/tinymce-reviewers @noxuhax

# Katamari changes should include the integrations team as well
/modules/katamari/ @tinymce/tinymce-reviewers @tinymce/integrations-team
