Repository tinymce/tinymce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tinymce/tinymce-reviewers, @noxuhax, @tinymce/integrations-team

.github/CODEOWNERS:

* @tinymce/tinymce-reviewers

# Oxide changes should include the design team as well
/modules/oxide/ @tinymce/tinymce-reviewers @noxuhax
/modules/oxide-icons-default/ @tinymce/tinymce-reviewers @noxuhax

# Katamari changes should include the integrations team as well
/modules/katamari/ @tinymce/tinymce-reviewers @tinymce/integrations-team

TINY-10214: Add styles
  modules/oxide/src/less/theme/components/ai/ai.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9275: Update changelog.md
  modules/alloy/CHANGELOG.md
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-10459: new Empty2
  modules/tinymce/src/core/main/ts/api/dom/DOMUtils.ts
  modules/tinymce/src/core/main/ts/api/html/Schema.ts
  modules/tinymce/src/core/main/ts/content/Placeholder.ts
  modules/tinymce/src/core/main/ts/content/TransparentElements.ts
  modules/tinymce/src/core/main/ts/delete/BlockBoundaryDelete.ts
  modules/tinymce/src/core/main/ts/delete/BlockMergeBoundary.ts
  modules/tinymce/src/core/main/ts/delete/CefDeleteAction.ts
  modules/tinymce/src/core/main/ts/delete/DeleteElement.ts
  modules/tinymce/src/core/main/ts/delete/DeleteUtils.ts
  modules/tinymce/src/core/main/ts/delete/MergeBlocks.ts
  modules/tinymce/src/core/main/ts/delete/TableDelete.ts
  modules/tinymce/src/core/main/ts/dom/Empty2.ts
  modules/tinymce/src/core/main/ts/fmt/ApplyFormat.ts
  modules/tinymce/src/core/main/ts/newline/InsertBlock.ts
  modules/tinymce/src/core/main/ts/util/Quirks.ts
  modules/tinymce/src/core/test/ts/browser/delete/BlockMergeBoundaryTest.ts
  modules/tinymce/src/core/test/ts/browser/dom/DomUtilsTest.ts
  modules/tinymce/src/core/test/ts/browser/dom/EmptyTest2.ts
Owners: @tinymce/tinymce-reviewers

TINY-6653: initial table dialog class item retrieval
  modules/tinymce/src/plugins/table/main/ts/ui/TableDialog.ts
Owners: @tinymce/tinymce-reviewers

TINY-10459: Empty.isEmptyNode unified
  modules/tinymce/src/core/main/ts/api/dom/DOMUtils.ts
  modules/tinymce/src/core/main/ts/content/TransparentElements.ts
  modules/tinymce/src/core/main/ts/delete/BlockMergeBoundary.ts
  modules/tinymce/src/core/main/ts/delete/CefDeleteAction.ts
  modules/tinymce/src/core/main/ts/delete/DeleteElement.ts
  modules/tinymce/src/core/main/ts/delete/DeleteUtils.ts
  modules/tinymce/src/core/main/ts/delete/MergeBlocks.ts
  modules/tinymce/src/core/main/ts/delete/TableDelete.ts
  modules/tinymce/src/core/main/ts/dom/Empty.ts
  modules/tinymce/src/core/main/ts/dom/Empty2.ts
  modules/tinymce/src/core/main/ts/dom/TrimNode.ts
  modules/tinymce/src/core/main/ts/fmt/ApplyFormat.ts
  modules/tinymce/src/core/main/ts/util/Quirks.ts
  modules/tinymce/src/core/test/ts/browser/dom/EmptyTest.ts
  modules/tinymce/src/core/test/ts/browser/dom/EmptyTest2.ts
Owners: @tinymce/tinymce-reviewers

TINY-10459: IsEmptyOptions type
  modules/tinymce/src/core/main/ts/api/dom/DOMUtils.ts
  modules/tinymce/src/core/main/ts/dom/Empty.ts
  modules/tinymce/src/core/main/ts/dom/TrimNode.ts
  modules/tinymce/src/core/test/ts/browser/dom/EmptyTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10459: root is not used
  modules/tinymce/src/core/main/ts/dom/TrimNode.ts
Owners: @tinymce/tinymce-reviewers

TINY-6653: Added `buildClassList` which is now used across all table related prop dialogs
  modules/tinymce/src/plugins/table/main/ts/ui/CellDialog.ts
  modules/tinymce/src/plugins/table/main/ts/ui/CellDialogGeneralTab.ts
  modules/tinymce/src/plugins/table/main/ts/ui/Helpers.ts
  modules/tinymce/src/plugins/table/main/ts/ui/RowDialog.ts
  modules/tinymce/src/plugins/table/main/ts/ui/RowDialogGeneralTab.ts
  modules/tinymce/src/plugins/table/main/ts/ui/TableDialog.ts
  modules/tinymce/src/plugins/table/main/ts/ui/TableDialogGeneralTab.ts
  modules/tinymce/src/plugins/table/main/ts/ui/UiUtils.ts
Owners: @tinymce/tinymce-reviewers

TINY-6653: Added test for "Unchanged" selection for table props dialog
  modules/tinymce/src/plugins/table/test/ts/browser/settings/TableClassListTest.ts
Owners: @tinymce/tinymce-reviewers

Update to bedrock 14.1.0
  Gruntfile.js
  Jenkinsfile
  modules/tinymce/src/core/test/ts/browser/DragDropOverridesTest.ts
  modules/tinymce/src/core/test/ts/browser/EditorAutoFocusTest.ts
  modules/tinymce/src/plugins/nonbreaking/test/ts/webdriver/NonbreakingVisualCharsTypingTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/scrolling/EditorInScrollingContainerTest.ts
  yarn.lock
Owners: @tinymce/tinymce-reviewers

TINY-6653: Added tests for the "Unchanged" class option
  modules/tinymce/src/plugins/table/test/ts/browser/settings/TableCellClassListTest.ts
  modules/tinymce/src/plugins/table/test/ts/browser/settings/TableClassListTest.ts
  modules/tinymce/src/plugins/table/test/ts/browser/settings/TableRowClassListTest.ts
Owners: @tinymce/tinymce-reviewers

Skip flaky test
  modules/tinymce/src/plugins/template/test/ts/browser/DialogGetPreviewContentTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10144: add missing changlog entry
  .changes/bridge/4.7.0.md
Owners: @tinymce/tinymce-reviewers

TINY-10116: Initial cut of using grunt instead of gulp for oxide builds
  modules/oxide/Gruntfile.js
  modules/oxide/package.json
  modules/oxide/tasks/js-skins.js
  modules/oxide/tasks/less-task.js
  package.json
  yarn.lock
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-10144: add new change entry, and mising entry
  .changes/unreleased/snooker-TINY-6460-2023-12-15.yaml
  .changes/unreleased/tinymce-TINY-10317-2023-12-15.yaml
  modules/bridge/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

Skip couple of tests that keep failing on edge only
  modules/tinymce/src/plugins/image/test/ts/browser/ImageResizeTest.ts
  modules/tinymce/src/plugins/media/test/ts/browser/MediaEmbedTest.ts
  modules/tinymce/src/plugins/quickbars/test/ts/browser/InsertToolbarPredicateTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-6653: Re-added changelog entry
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

Standard props
  Jenkinsfile
Owners: @tinymce/tinymce-reviewers

TINY-10459: fix the tests
  modules/tinymce/src/core/main/ts/content/Placeholder.ts
  modules/tinymce/src/core/main/ts/content/TransparentElements.ts
  modules/tinymce/src/core/main/ts/delete/DeleteUtils.ts
  modules/tinymce/src/core/main/ts/delete/TableDelete.ts
  modules/tinymce/src/core/main/ts/dom/Empty.ts
  modules/tinymce/src/core/main/ts/fmt/ApplyFormat.ts
  modules/tinymce/src/core/test/ts/browser/dom/EmptyTest.ts
  modules/tinymce/src/core/test/ts/browser/html/SchemaTest.ts
  modules/tinymce/src/plugins/lists/test/ts/browser/BackspaceDeleteTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10459: fix Placeholder tests
  modules/tinymce/src/core/main/ts/content/Placeholder.ts
Owners: @tinymce/tinymce-reviewers

TINY-10185: Tweak dependencies and scripts (#9251)
  bin/build-prism.js
  modules/acid/package.json
  modules/agar/package.json
  modules/agar/src/main/ts/ephox/agar/api/Assertions.ts
  modules/alloy/package.json
  modules/boss/package.json
  modules/boulder/package.json
  modules/bridge/package.json
  modules/darwin/package.json
  modules/dragster/package.json
  modules/katamari-assertions/package.json
  modules/katamari/package.json
  modules/mcagar/package.json
  modules/oxide-icons-default/package.json
  modules/oxide-icons-default/project.json
  modules/oxide/package.json
  modules/oxide/project.json
  modules/phoenix/package.json
  modules/polaris/package.json
  modules/porkbun/package.json
  modules/robin/package.json
  modules/sand/package.json
  modules/snooker/package.json
  modules/sugar/package.json
  modules/tinymce/package.json
  modules/tinymce/project.json
  package.json
  yarn.lock
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team, @noxuhax

Tests that failed on edge only
  modules/tinymce/src/plugins/emoticons/test/ts/browser/ImageEmojiTest.ts
  modules/tinymce/src/plugins/quickbars/test/ts/browser/SelectionToolbarTest.ts
  modules/tinymce/src/plugins/table/test/ts/browser/InlineEditorInsideTableTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/contexttoolbar/ContextToolbarDistractionFreePositionTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10459: fix isVisuallyEmpty
  modules/tinymce/src/core/main/ts/content/Placeholder.ts
Owners: @tinymce/tinymce-reviewers

TINY-10470: Worked on isolated test runs
  modules/jax/package.json
  modules/sugar/src/test/ts/browser/VisibilityTest.ts
  modules/tinymce/Gruntfile.js
Owners: @tinymce/tinymce-reviewers

TINY-10459: do not assign to funciton argument
  modules/tinymce/src/core/main/ts/dom/Empty.ts
Owners: @tinymce/tinymce-reviewers

More skips
  modules/tinymce/src/themes/silver/test/ts/browser/editor/SilverInlineEditorTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10470: Added test-manual to tinymce
  modules/tinymce/Gruntfile.js
  modules/tinymce/package.json
Owners: @tinymce/tinymce-reviewers

TINY-10459: postpone adding summary to non-empty
  modules/tinymce/src/core/main/ts/api/html/Schema.ts
  modules/tinymce/src/core/test/ts/browser/html/SchemaTest.ts
  modules/tinymce/src/plugins/lists/test/ts/browser/BackspaceDeleteTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10459: fix indentation
  modules/tinymce/src/plugins/lists/test/ts/browser/BackspaceDeleteTest.ts
Owners: @tinymce/tinymce-reviewers

More edge failures
  modules/tinymce/src/themes/silver/test/ts/browser/editor/sizing/ResizeNotInRootTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/toolbar/MultipleInlineToolbarVisibilityTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/throbber/ThrobberFocusTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/window/SilverInlineDialogPositionTest.ts
Owners: @tinymce/tinymce-reviewers

Failed tests
  modules/tinymce/src/themes/silver/test/ts/browser/editor/toolbar/MultipleInlineToolbarVisibilityTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/throbber/ThrobberFocusTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/window/SilverInlineDialogPositionTest.ts
  modules/tinymce/src/themes/silver/test/ts/headless/components/sizeinput/SizeInputTest.ts
  modules/tinymce/src/themes/silver/test/ts/headless/window/WindowManagerAlertTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-10144: changie merge
  modules/snooker/CHANGELOG.md
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

Update cpu requeriments
  Jenkinsfile
Owners: @tinymce/tinymce-reviewers

Test remote
  Jenkinsfile
  package.json
  yarn.lock
Owners: @tinymce/tinymce-reviewers

Standard props
  Jenkinsfile
Owners: @tinymce/tinymce-reviewers

Tests that failed on edge only
  modules/tinymce/src/plugins/emoticons/test/ts/browser/ImageEmojiTest.ts
  modules/tinymce/src/plugins/quickbars/test/ts/browser/SelectionToolbarTest.ts
  modules/tinymce/src/plugins/table/test/ts/browser/InlineEditorInsideTableTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/contexttoolbar/ContextToolbarDistractionFreePositionTest.ts
Owners: @tinymce/tinymce-reviewers

Skip couple of tests that keep failing on edge only
  modules/tinymce/src/plugins/image/test/ts/browser/ImageResizeTest.ts
  modules/tinymce/src/plugins/media/test/ts/browser/MediaEmbedTest.ts
  modules/tinymce/src/plugins/quickbars/test/ts/browser/InsertToolbarPredicateTest.ts
Owners: @tinymce/tinymce-reviewers

Update cpu requeriments
  Jenkinsfile
Owners: @tinymce/tinymce-reviewers

Update to bedrock 14.1.0
  Gruntfile.js
  Jenkinsfile
  modules/tinymce/src/core/test/ts/browser/DragDropOverridesTest.ts
  modules/tinymce/src/core/test/ts/browser/EditorAutoFocusTest.ts
  modules/tinymce/src/plugins/nonbreaking/test/ts/webdriver/NonbreakingVisualCharsTypingTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/scrolling/EditorInScrollingContainerTest.ts
  yarn.lock
Owners: @tinymce/tinymce-reviewers

Remote opt
  Gruntfile.js
Owners: @tinymce/tinymce-reviewers
