Repository tinymce/tinymce, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tinymce/tinymce-reviewers, @noxuhax, @tinymce/integrations-team

TINY-9653: Do not trigger onToggleExpand callback on initial render
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/Tree.ts
  modules/tinymce/src/themes/silver/test/ts/headless/components/tree/TreeTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9653: Do not trigger onToggleExpand callback on initial render
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/Tree.ts
Owners: @tinymce/tinymce-reviewers

TINY-9653: Add defaultExpandedIds and onToggleExpand options to Tree component (#8558)
  modules/bridge/src/main/ts/ephox/bridge/components/dialog/Tree.ts
  modules/oxide/src/less/theme/components/tree/tree-button.less
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/themes/silver/demo/ts/demo/TreeDemo.ts
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/Tree.ts
  modules/tinymce/src/themes/silver/test/ts/headless/components/tree/TreeTest.ts
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9532: Implement a Tree component in Alloy (#8445)
  modules/bridge/CHANGELOG.md
  modules/bridge/src/main/ts/ephox/bridge/api/Dialog.ts
  modules/bridge/src/main/ts/ephox/bridge/api/PublicDialog.ts
  modules/bridge/src/main/ts/ephox/bridge/components/dialog/BodyComponent.ts
  modules/bridge/src/main/ts/ephox/bridge/components/dialog/Panel.ts
  modules/bridge/src/main/ts/ephox/bridge/components/dialog/Tree.ts
  modules/oxide/src/less/theme/components/tree/tree-button.less
  modules/oxide/src/less/theme/theme.less
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/themes/silver/demo/html/demo/tree-demo.html
  modules/tinymce/src/themes/silver/demo/ts/demo/Demos.ts
  modules/tinymce/src/themes/silver/demo/ts/demo/TreeDemo.ts
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/Tree.ts
  modules/tinymce/src/themes/silver/main/ts/ui/general/UiFactory.ts
  modules/tinymce/src/themes/silver/test/ts/headless/components/tree/TreeTest.ts
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9610: added css workaround for unwrapped textareas (#8473)
  modules/oxide/src/less/theme/components/form/textarea.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-8977: Inline header fixup. (#8398)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/themes/silver/main/ts/modes/Inline.ts
  modules/tinymce/src/themes/silver/main/ts/ui/header/InlineHeader.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/header/InlineHeaderTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9600: Provide configuration to turn off XSS sanitization (#8480)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/api/OptionTypes.ts
  modules/tinymce/src/core/main/ts/api/Options.ts
  modules/tinymce/src/core/main/ts/api/html/DomParser.ts
  modules/tinymce/src/core/main/ts/content/PrePostProcess.ts
  modules/tinymce/src/core/main/ts/init/InitContentBody.ts
  modules/tinymce/src/core/main/ts/paste/ProcessFilters.ts
  modules/tinymce/src/core/test/ts/browser/content/EditorContentTest.ts
  modules/tinymce/src/core/test/ts/browser/content/InsertUnsanitizedContentTest.ts
  modules/tinymce/src/core/test/ts/browser/html/DomParserTest.ts
  modules/tinymce/src/core/test/ts/browser/init/InitUnsanitizedContentTest.ts
  modules/tinymce/src/core/test/ts/browser/paste/UnsanitizedPasteTest.ts
  modules/tinymce/src/plugins/media/main/ts/core/Sanitize.ts
  modules/tinymce/src/plugins/template/main/ts/core/Templates.ts
  modules/tinymce/src/plugins/template/main/ts/core/Utils.ts
  modules/tinymce/src/plugins/template/main/ts/ui/Dialog.ts
Owners: @tinymce/tinymce-reviewers

TINY-9605: Hotfix for the removal of the outdated webkit bug workaround (#8458)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/package.json
Owners: @tinymce/tinymce-reviewers

TINY-9021: Drag/drop a content on the borderline of the table cells makes it dissappear (#8465)
  modules/dragster/CHANGELOG.md
  modules/dragster/src/main/ts/ephox/dragster/core/Dragging.ts
  modules/snooker/CHANGELOG.md
  modules/snooker/src/main/ts/ephox/snooker/resize/BarManager.ts
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/models/dom/main/ts/table/api/TableResizeHandler.ts
  modules/tinymce/src/models/dom/test/ts/browser/table/DragEditorContentsOverTableTest.ts
  versions.txt
Owners: @tinymce/tinymce-reviewers

TINY-9558: prevented drag/drop of cef elements in noneditable root (#8466)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/DragDropOverrides.ts
  modules/tinymce/src/core/test/ts/browser/DragDropOverridesTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9593: Fix pasting links from quickbars (#8484)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/plugins/link/main/ts/ui/Controls.ts
  modules/tinymce/src/plugins/link/test/ts/browser/QuickLinkTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9533: Advtemplate styles (#8474)
  modules/oxide/src/less/theme/components/advtemplate/advtemplate.less
  modules/oxide/src/less/theme/theme.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9561: Fixed flakey tests. (#8472)
  modules/sugar/src/test/ts/browser/PredicateTest.ts
  modules/tinymce/src/core/test/ts/browser/DragDropOverridesTest.ts
  modules/tinymce/src/plugins/visualchars/test/ts/browser/PluginTest.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/color/TextColorSanityTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9520: Add top-right close 'x' button of the modal dialogs to keyboard navigation (#8481)
  modules/alloy/CHANGELOG.md
  modules/alloy/src/main/ts/ephox/alloy/api/ui/ModalDialog.ts
  modules/alloy/src/main/ts/ephox/alloy/ui/schema/ModalDialogSchema.ts
  modules/alloy/src/main/ts/ephox/alloy/ui/types/ModalDialogTypes.ts
  modules/alloy/src/test/ts/browser/ui/dialog/ModalDialogTest.ts
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/plugins/help/test/ts/browser/DialogKeyboardNavTest.ts
  modules/tinymce/src/plugins/table/test/ts/browser/ui/TableDialogKeyboardNavTest.ts
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/Dialogs.ts
  modules/tinymce/src/themes/silver/main/ts/ui/window/SilverDialogCommon.ts
  modules/tinymce/src/themes/silver/main/ts/ui/window/SilverDialogHeader.ts
  modules/tinymce/src/themes/silver/main/ts/ui/window/SilverInlineDialog.ts
  modules/tinymce/src/themes/silver/test/ts/browser/window/SilverInlineDialogTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9606: Dragging single child CEF from block doesn't pad it (#8503)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/DragDropOverrides.ts
  modules/tinymce/src/core/test/ts/browser/DragDropOverridesTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9614: Fix navigation inside tree using keyboard (#8485)
  modules/alloy/src/main/ts/ephox/alloy/api/ui/Button.ts
  modules/oxide/src/less/theme/components/tree/tree-button.less
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/themes/silver/demo/ts/demo/TreeDemo.ts
  modules/tinymce/src/themes/silver/main/ts/ui/button/MenuButton.ts
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/Tree.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/SilverDialogTreeTest.ts
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9649: Prevent zero color columns from crashing page (#8523)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/themes/silver/main/ts/ui/core/color/Options.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/color/TextColorSanityTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9176: Improve contrast and focus styles of UI buttons (#8499)
  modules/oxide/src/less/skins/ui/tinymce-5-dark/skin.less
  modules/oxide/src/less/skins/ui/tinymce-5/skin.less
  modules/oxide/src/less/theme/components/collection/collection.less
  modules/oxide/src/less/theme/components/menubar/menubar-button.less
  modules/oxide/src/less/theme/components/toolbar-button/toolbar-button.less
  modules/oxide/src/less/theme/components/toolbar-button/toolbar-select-button.less
  modules/oxide/src/less/theme/components/toolbar-button/toolbar-split-button.less
  modules/oxide/src/less/theme/globals/global-variables.less
  modules/oxide/src/less/theme/globals/global.less
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9635: Use NodeIterator to perform node and attribute validation when sanitization is disabled (#8513)
  modules/tinymce/src/core/main/ts/api/html/DomParser.ts
  modules/tinymce/src/core/main/ts/api/html/Sanitization.ts
  modules/tinymce/src/core/main/ts/api/util/URI.ts
  modules/tinymce/src/core/test/ts/browser/content/EditorContentTest.ts
  modules/tinymce/src/core/test/ts/browser/content/InsertUnsanitizedContentTest.ts
  modules/tinymce/src/core/test/ts/browser/html/DomParserTest.ts
  modules/tinymce/src/core/test/ts/browser/init/InitUnsanitizedContentTest.ts
  modules/tinymce/src/core/test/ts/browser/paste/UnsanitizedPasteTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9176: Focus Styles QA fixes (#8535)
  modules/oxide/src/less/theme/components/collection/collection.less
  modules/oxide/src/less/theme/components/toolbar-button/toolbar-button.less
  modules/oxide/src/less/theme/components/toolbar-button/toolbar-split-button.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9408: Fix sticky-toolbar transition in iframe mode (#8500)
  modules/oxide/src/less/theme/components/editor/editor.less
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9554: Inline Dialog mispositioned inside fixed or absolute content (#8487)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/themes/silver/main/ts/ui/dialog/WindowManager.ts
  modules/tinymce/src/themes/silver/test/ts/browser/window/SilverInlineDialogPositionTest.ts
  modules/tinymce/src/themes/silver/test/ts/module/TestExtras.ts
Owners: @tinymce/tinymce-reviewers

TINY-9667: Set width for Templates dialog left side bar (#8529)
  modules/oxide/src/less/theme/components/advtemplate/advtemplate.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9647: Two duplicated lines in the TinyMCE Changelog (#8518)
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers

TINY-9560: Fix `color_cols` option not being respected (#8504)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/themes/silver/main/ts/ui/core/color/Options.ts
  modules/tinymce/src/themes/silver/test/ts/browser/editor/color/TextColorSanityTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-8363: Fix tests previously skipped due to false-positive mXSS detection by DOMPurify (#8490)
  modules/tinymce/src/core/test/ts/browser/dom/SerializerTest.ts
  modules/tinymce/src/core/test/ts/browser/html/DomParserTest.ts
  modules/tinymce/src/plugins/media/test/ts/browser/ContentFormatsTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9606: fixed test labels ticket ids (#8520)
  modules/tinymce/src/core/test/ts/browser/DragDropOverridesTest.ts
Owners: @tinymce/tinymce-reviewers

Clean up our dependency lists, make sure devDependencies are not listed as dependencies (#8530)
  modules/acid/package.json
  modules/agar/package.json
  modules/alloy/package.json
  modules/boss/package.json
  modules/bridge/package.json
  modules/darwin/package.json
  modules/dragster/package.json
  modules/jax/package.json
  modules/katamari-assertions/package.json
  modules/katamari/package.json
  modules/mcagar/package.json
  modules/oxide/package.json
  modules/phoenix/package.json
  modules/polaris/package.json
  modules/robin/package.json
  modules/sand/package.json
  modules/snooker/package.json
Owners: @tinymce/tinymce-reviewers, @tinymce/integrations-team, @noxuhax

TINY-9603: Fix an invisible space after applying heading text_patterns (#8502)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/textpatterns/core/BlockPattern.ts
  modules/tinymce/src/core/test/ts/browser/textpatterns/TextPatternsTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9595: Paste paragraphs in CET p in noneditable root (#8491)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/api/html/DomParser.ts
  modules/tinymce/src/core/main/ts/content/InsertContentImpl.ts
  modules/tinymce/src/core/main/ts/html/InvalidNodes.ts
  modules/tinymce/src/core/main/ts/html/ParserUtils.ts
  modules/tinymce/src/core/test/ts/browser/DragDropOverridesTest.ts
  modules/tinymce/src/core/test/ts/browser/content/InsertContentTest.ts
  modules/tinymce/src/core/test/ts/browser/html/ParserUtilsTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9587: update `@dialog-table-border-color`, `@border-color`, gulpfile.js, CHANGELOG.md (#8493)
  modules/oxide/gulpfile.js
  modules/oxide/src/less/theme/components/dialog/dialog.less
  modules/oxide/src/less/theme/globals/global-variables.less
  modules/tinymce/CHANGELOG.md
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9599: Incorrect event target for dragend and drop events when dragging and dropping noneditable elements within editor (#8521)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/core/main/ts/DragDropOverrides.ts
  modules/tinymce/src/core/main/ts/events/DragEvents.ts
  modules/tinymce/src/core/test/ts/browser/DragDropOverridesTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9663: now view header scrolls on mobile (#8524)
  modules/oxide/src/less/theme/components/view/view.less
  modules/tinymce/src/themes/silver/main/ts/ui/view/View.ts
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9644: fix styles (#8516)
  modules/oxide/src/less/skins/ui/tinymce-5/skin.less
  modules/oxide/src/less/theme/components/toolbar-button/toolbar-number-input.less
Owners: @tinymce/tinymce-reviewers, @noxuhax

TINY-9616: add active flag to togglebutton (#8501)
  modules/bridge/src/main/ts/ephox/bridge/components/view/ViewButton.ts
  modules/tinymce/src/themes/silver/main/ts/ui/view/ViewButtons.ts
  modules/tinymce/src/themes/silver/test/ts/browser/view/ViewButtonsTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9626: Update help dialog links (#8547)
  modules/tinymce/src/plugins/help/main/ts/data/PluginUrls.ts
Owners: @tinymce/tinymce-reviewers

TINY-9419: `More...` button disapear if it is triggered and view mode is switched (#8543)
  modules/tinymce/CHANGELOG.md
  modules/tinymce/src/themes/silver/main/ts/ui/general/OuterContainer.ts
  modules/tinymce/src/themes/silver/test/ts/browser/view/ViewTest.ts
Owners: @tinymce/tinymce-reviewers

TINY-9358: Fix versions.txt and changelog files (#8549)
  modules/acid/CHANGELOG.md
  modules/bridge/CHANGELOG.md
  modules/mcagar/CHANGELOG.md
  versions.txt
Owners: @tinymce/tinymce-reviewers

TINY-9642: Added template to deprecated list. (#8538)
  modules/tinymce/src/core/main/ts/Deprecations.ts
Owners: @tinymce/tinymce-reviewers

TINY-9685: fixed filtering for mce-nbsp-wrap elements (#8546)
  modules/tinymce/src/plugins/visualchars/main/ts/core/Nodes.ts
  modules/tinymce/src/plugins/visualchars/main/ts/core/VisualChars.ts
  modules/tinymce/src/plugins/visualchars/test/ts/browser/NodesTest.ts
  modules/tinymce/src/plugins/visualchars/test/ts/browser/PluginTest.ts
Owners: @tinymce/tinymce-reviewers

.github/CODEOWNERS:

* @tinymce/tinymce-reviewers

# Oxide changes should include the design team as well
/modules/oxide/ @tinymce/tinymce-reviewers @noxuhax
/modules/oxide-icons-default/ @tinymce/tinymce-reviewers @noxuhax

# Katamari changes should include the integrations team as well
/modules/katamari/ @tinymce/tinymce-reviewers @tinymce/integrations-team
